<div class="flex flex-initial inline-block w-full max-w-full px-2 align-top md:px-5 md:w-1/2 md:max-w-1/2 md:flex-auto lg:px-10 lg:w-3/4 ">
    {{#with this.serviceNavigationSSILinks}}
        <ul class="flex items-center justify-center h-full ">
            {{#each this.navigationItems}}
                {{> components/Header/ServiceNavigation/ServiceNavigationItem }}
            {{/each}} 
        </ul>
    {{/with}}
</div>