<div class="w-full">
    {{#with this.serviceNavigationSSILinks}}
        <ul class="flex justify-center ">
            {{#each this.navigationItems}}
                {{> components/Header/ServiceNavigation/ServiceNavigationItem }}
            {{/each}} 
        </ul>
    {{/with}}
</div>