<div class="container px-3.5 md:px-5 lg:px-10">
    {{#with this.serviceNavigationSSILinks}}
        <ul class="flex justify-center ">
            {{#each this.navigationItems}}
                {{> components/Header/ServiceNavigation/ServiceNavigationItem }}
            {{/each}} 
        </ul>
    {{/with}}
</div>