<figure {{#unless @first}} x-cloak {{/unless}}>
    <div class="relative ar-16-9 js-gallery-slider-image animate-duration-500 animate-delay-100 animate-once animate-ease-in-out" 
        :class="animationEnabled ? (slideToRight ? 'animate-fade-left' : 'animate-fade-right') : ''">
        {{~#if this.displayOriginal.isTrue ~}}
            <div class="relative" aria-hidden="true">
                {{> components/base/image/responsive_image
                    _type="gallery"
                    _variant="default"
                    _addClass="ar-16-9"
                    _noDelay=(if @first true '')}}
                <div class="absolute top-0 bottom-0 left-0 right-0 w-full bg-white/80 backdrop-blur-md">
                </div>
            </div>
            {{> components/base/image/responsive_image
                _type="gallery"
                _variant="portrait"
                _addClass="absolute top-0 left-0 right-0 bottom-0"
                _addClassImg="!w-auto h-full absolute left-1/2 -translate-x-1/2 js-gallery-image"
                _noDelay=(if @first true '')
                _loadHandler="handleImageLoad($event.target)"}}
        {{else}}
            {{> components/base/image/responsive_image  
                _type="gallery" 
                _variant="default" 
                _addClass="ar-16-9"
                _addClassImg="js-gallery-image"
                _noDelay=(if @first true '')
                _loadHandler="handleImageLoad($event.target)"}}
        {{~/if~}}
    </div>
    {{~> components/content/copytext/components/gallery/galleryitem_description_copytext _mediaBacklinkToStoryTeaser=_mediaBacklinkToStoryTeaser _cssClassCaption=_cssClassCaption~}}
</figure>