{{~#with this.gallery ~}}
<div class="relative w-full overflow-hidden" x-on:touchstart="handleTouchStart($event)" x-on:touchmove="handleTouchMove($event)" x-on:touchend="handleTouchEnd()"
    x-data="gallerySlider()"
    x-init="loadSlider()"
    ax-load
    x-ignore
     >
    <div class="relative w-full select-none">
        <div class="absolute top-0 bottom-0 left-0 right-0 ar-16-9">
            {{#> components/button/button _variant="transparent"  _alpineClick="previous()" _css="absolute z-10 flex items-center justify-center left-4 bottom-4 sm:left-5 sm:bottom-5" _onBackground=true}}
                    {{> components/button/components/button_icon _icon="arrow-left" _iconmap="icons" _css="w-8 h-8 sm:w-12 sm:h-12 pr-0.5 fill-link dark:fill-link-dark" }}
            {{/components/button/button}}
            {{#> components/button/button _variant="transparent"  _alpineClick="next()" _css="absolute z-10 flex items-center justify-center right-4 bottom-4 sm:right-5 sm:bottom-5" _onBackground=true}}
                {{> components/button/components/button_icon _icon="arrow-right" _iconmap="icons" _css="w-8 h-8 sm:w-12 sm:h-12 pr-0.5 fill-link dark:fill-link-dark" }}
            {{/components/button/button}}
        </div>
        {{#each this.items}}
         {{~> components/content/copytext/components/gallery/galleryitem_figure _mediaBacklinkToStoryTeaser=../../this.toModel.mediaBacklinkToStoryTeaser-adjust_context _cssClassCaption=../../_cssClassCaption-adjust_context ~}}
        {{/each}}
    </div>
</div>
{{~/with~}}
