<div class="w-10 py-10">   
    <a rel="prev" href="{{previousItemUrl}}" class="font-bold sb-link js-load hover:text-toplineColor text-toplineColor font-title" aria-label="Zur vorherigen Seite">   
        <span>{{>components/base/image/icon _icon="arrow-left" _addClass="fill-current pb-0.5 h-8 w-8 ml-2 inline" }}</span>   
    </a>   
</div> 