{{~#if _firstPage~}}
    <div class="flex"> 
    {{> components/pagination/pagination_button_left }}
    {{#> components/button/link_button _size="md"  _variant="primary" _css="mr-1 ml-1"}}
        {{> components/button/components/button_label _label="1" _css=""}}
    {{/components/button/link_button}}   
    {{#> components/button/link_button _size="md"  _variant="secondary" _link=this.lastPageItemLink _css="mr-1 ml-1"}}
        {{> components/button/components/button_label _label="2" _css=""}}
    {{/components/button/link_button}}
    {{> components/pagination/pagination_button_right_linked }}
    </div> 
{{else}} 
    <div class="flex">   
    {{> components/pagination/pagination_button_left_linked }} 
    {{#> components/button/link_button _size="md"  _variant="secondary" _link=this.firstPageItemLink _css="mr-1 ml-1"}}
        {{> components/button/components/button_label _label="1" _css=""}}
    {{/components/button/link_button}}
    {{#> components/button/link_button _size="md" _variant="primary" _css="mr-1 ml-1"}}
        {{> components/button/components/button_label _label="2" _css=""}}
    {{/components/button/link_button}}  
    {{> components/pagination/pagination_button_right }}  
    </div>     
{{~/if~}}