<div class="flex flex-wrap">
    <nav class="block" role="navigation" aria-label="{{loca "topictag_related_content_headline"}}">
        <span class="text-sm uppercase font-headingSerif dark:text-standard-text-dark w-fit sm:w-full">{{loca "topictag_related_content_headline"}}</span><!--
        -->
        <ul class="flex flex-wrap sm:block gap-x-4 w-fit sm:w-full sm:pt-2 ">
            {{~#each this~}}
                <li class="w-fit sm:w-full text-primary dark:text-standard-text-dark">
                    <a class="block line-clamp-1 hover:underline gap-x-1" href="{{this.url}}">
                        {{~> components/base/image/icon _icon="taglabel" _addClass="inline w-4 h-4 mr-2 fill-current"~}}

                        {{~this.title~}}

                    </a>
                </li>
            {{~/each~}}
        </ul>
    </nav>
</div>