<div class="appendix__entry">
    <nav role="navigation" aria-label="{{loca "topictag_related_content_headline"}}" class="o-layout">
        <span class="text-xl font-headingSerif">{{loca "topictag_related_content_headline"}}</span><!--
        -->
        <ul class="list -appendix">
            {{~#each this~}}
                <li class="list__item">
                    <a class="link touchArea" href="{{this.url}}">
                        {{~> components/base/image/icon _icon="taglabel" _addClass="w-5 h-5 icon--primary list__icon"~}}

                        {{~this.title~}}

                    </a>
                </li>
            {{~/each~}}
        </ul>
    </nav>
</div>