<span
    class='pt-px block text-base
        {{inline-switch teaserType '["poster-ds"]' '["text-white","text-toplineColor"]'}}
        font-heading'
    aria-label='{{readMore}}: {{text}}'
>
    {{text}}
</span>