<div class="{{#if _outerCssClasses}} {{_outerCssClasses}}{{/if}}" 
{{~#if this.isMobile1to1}}:class="{'basis-full w-full md:pr-0 pr-10':avStart,'basis-3/5 w-3/5':!avStart}"{{/if}}>

    
    {{#> components/teaser/components/teaser_header _css=(if this.isMobile1to1 "" "px-5 sm:px-0 mx-4 mb-5")}}
        {{#>components/base/link_v2 _link=this.link _css="cy-teaser-link ds-teaser-focus hover:text-toplineColor" }} 
            {{#with this.label}}
                {{#> components/label/label_group}}
                    {{> components/label/label _type=this.type _text=(loca this.loca)}}
                    {{> components/label/label_byline _css="ml-2"}}
                {{/components/label/label_group}}
            {{/with~}}
            {{#> components/teaser/components/teaser_headline _headlineTag=this.headlineTag _css="overflow-anywhere hyphens-auto"}}
                {{#if this.topline}}
                    {{> components/teaser/components/teaser_topline _text=this.topline}}
                {{/if}}
                {{> components/teaser/components/teaser_title _css="!text-white" _text=this.title _size=this.realTeaserSize _teaserType=this.teaserType _isMobile1to1=this.isMobile1to1}}
                {{#if this.extendedTitle}}
                    {{> components/teaser/components/teaser_subline _text=this.extendedTitle}}
                {{/if}}
            {{/components/teaser/components/teaser_headline}}
        {{/components/base/link_v2}} 
    {{/components/teaser/components/teaser_header}}

    <div class="flex flex-wrap justify-between mx-4 my-5 text-base text-white justify-items-center">
        {{#if this.hasByline}}
            <p class="self-center text-xs text-white font-headingSerif empty:hidden overflow-anywhere hyphens-auto">
                {{~#if this.profiles~}}
                    <span>{{this.profiles}}</span>
                {{~/if~}}
            </p>
        {{/if}}
        <a class="underline ds-link" href="{{this.url}}">Zum Ticker</a>
    </div>




</div>