<div class="relative">
{{#unless this.hideGeotag}}
    {{#unless _isMobile1to1}}
        {{~#with this.geotag}}
            {{> components/geoTag/geoTag _text=this.[0].title _teaserSize=../_teaserSize }}
        {{/with~}}
    {{/unless}}
{{/unless}}
{{#decorator 'components/base/link' _isAriaHidden=true _doTracking=(if this.doTracking 'true') _clickLabelPrefix1=this.teaserSize _clickLabelPrefix2=(if this.trackingForArdMediatheksLink 'ARD-Mediatheksvideo Teaserbild geklickt' 'mediaLink') }}
    {{~> components/base/image/responsive_image this.teaserImage _type=this.teaserType _variant=this.imageVariant _noDelay=../this.dontLazyload _addClassImg="" ~}}
{{/decorator}}
{{#if this.isProgram}}
    {{#if this.showMediatheksLink}}
        {{#decorator 'components/base/link' _isAriaHidden=true _doTracking='true' _clickLabelPrefix1=this.sophoraId _clickLabelPrefix2="ARD-Mediatheksvideo Button geklickt"}}
            {{> components/button/button_round 
        _isButton="true" 
        _addClass='absolute bottom-0 right-0 fill-white hover:text-white js-mediaplayer__button'
        _buttonColor=(if _isLivestream ' text-orange-spicyCarrot hover:fill-orange-spicyCarrot' ' text-blue-jellyBean hover:fill-blue-jellyBean')
        _buttonSpace=(inline-switch this.teaserSize '["25","33"]' '[" my-2 mx-2"," my-5 mx-5 md:my-3 md:mx-3"," my-5 mx-5"]')
        _showIcon=true 
        _icon='play_button' 
        _label='Sendung' 
        _srOnly="true" 
        _alpineClick=""
        }}    
        {{/decorator}}
    {{/if}}
{{/if}}
</div> 
{{#if this.isEvent}}
    {{#unless this.displayTeaserBodyAsImageOverlay}}
        {{#decorator 'components/teaser/components/teaser_image_overlay' _cssClasses="top-0 h-full"}}
            <div class="flex flex-col items-center justify-center p-4">
                {{> components/event/instant_dates}}
            </div>
        {{/decorator}}
    {{/unless}}
{{/if}}