<span
    class='{{inline-switch
            size
            '["hero","100","25"]'
            '["block md:text-base","hidden md:block md:text-base","hidden","hidden md:block"]'
        }}
        text-sm mt-3 font-copy'
>{{text}}</span>