{{#with this.label}}
    <div class="leading-5.5">
        {{> components/label/label type=loca text=type}}
    </div>
{{/with~}}    
<{{~ this.headlineTag ~}}>
    {{#if this.topline}}
        {{> components/teaser/components/teaser_topline text=this.topline readMore=this.readMore}}
    {{/if}}
    {{> components/teaser/components/teaser_title text=this.title fontVariant=this.fontVariant size=this.size }}
</{{~ this.headlineTag ~}}>
