{{#with _label}}
    <div class="leading-5.5{{#if ../_ordered}} pl-8 {{/if}}">
        {{> components/label/label _type=this.type _text=(loca this.loca)}}
    </div>
{{/with~}}

<{{~ _headlineTag ~}}>
    {{#if _topline}}
        {{> components/teaser/components/teaser_topline _text=_topline _readMore=_readMore _teaserType=_teaserType}}
    {{/if}}
    {{> components/teaser/components/teaser_title _text=_title _fontVariant=_fontVariant _size=_size _teaserType=_teaserType _isMobile1to1=_isMobile1to1 _firstItem=_firstItem}}
</{{~ _headlineTag ~}}>
