<div class="{{#if _outerCssClasses}} {{_outerCssClasses}}{{/if}}" 
{{~#if this.isMobile1to1}}:class="{'basis-full w-full md:pr-0 pr-10':avStart,'basis-3/5 w-3/5':!avStart}"{{/if}}>

    
    {{#with this}}
        {{#> components/teaser/components/teaser_header _link=this.link _css=(if this.isMobile1to1 "" "px-5 sm:px-0")}}
                {{#> components/base/link_v2 _css="cy-teaser-link ds-teaser-focus hover:text-toplineColor" }} 
                    {{#with this.label}}
                        {{#> components/label/label_group}}
                            {{> components/label/label _type=this.type _text=(loca this.loca)}}
                            {{> components/label/label_byline _css="ml-2"}}
                        {{/components/label/label_group}}
                    {{/with~}}
                    {{#> components/teaser/components/teaser_headline _headlineTag=this.headlineTag _css="overflow-anywhere hyphens-auto"}}
                        {{#if this.topline}}
                            {{> components/teaser/components/teaser_topline _text=this.topline}}
                        {{/if}}
                        {{> components/teaser/components/teaser_title _text=this.title _size=this.realTeaserSize _teaserType=this.teaserType _isMobile1to1=this.isMobile1to1}}
                        {{#if this.extendedTitle}}
                            {{> components/teaser/components/teaser_subline _text=this.extendedTitle}}
                        {{/if}}
                    {{/components/teaser/components/teaser_headline}}
                {{/components/base/link_v2}} 
        {{/components/teaser/components/teaser_header}}
        {{#*inline "htmlProperties"}}
            {{#if this.isFileDownload}}
                {{> components/tracking/download_tracking}}
            {{/if}}
        {{/inline}}
    {{/with}}

    {{#unless this.hideBylineAndShorttext}}
        <div class="sm:px-0{{#unless this.isMobile1to1}} px-5{{/unless}}">
            {{#if this.shorttext}}
                {{> components/teaser/components/teaser_text _text=this.shorttext _size=this.teaserSize}}
            {{/if}}
            {{> components/teaser/components/teaser_byline}} 
        </div>
    {{/unless}}
</div>