{{#decorator 'components/base/link' _css=(inline-switch _size '["25"]' '["hidden ","hidden md:block "]') }}
    <span class='flex space-around {{inline-switch _size '["25"]' '["hidden ","hidden md:block "]'~}}
        text-base mt-3 font-copy'>
        {{~_text~}}
    </span>
{{/decorator}}
    {{#if this.isExtOrBrandLink}}
        {{#decorator 'components/base/link' _css="inline-flex flex-end text-link hover:text-link"}}
            <span class="inline-flex flex-wrap items-end hover:underline decoration-1">{{this.link.readMoreText.readMore}}{{~#if this.link.hasIcon}}{{> components/base/image/icon _icon=this.link.iconName _iconmap="icons" _addClass="w-5 h-5 fill-current ml-1"}}{{/if~}}</span>
        {{/decorator}} 
    {{/if}}

