<div class="{{~#if this.isMobile1to1}}basis-3/5 md:flex-full{{/if~}}{{#if _outerCssClasses}} {{_outerCssClasses}}{{/if}}">
    <header class="md:px-0{{#unless this.isMobile1to1}} px-5{{/unless}}">
        {{#decorator 'components/base/link' _css="hover:text-toplineColor" _doTracking=(if this.doTracking 'true') _clickLabelPrefix1=this.teaserSize _clickLabelPrefix2="headlineLink" }} 
            {{> components/teaser/components/teaser_heading 
            _fontVariant=this.headingFontVariant
            _headlineTag=this.headlineTag 
            _label=this.label 
            _readMore=this.link.readMoreText.readMoreScreenreader 
            _size=this.teaserSize 
            _title=this.title 
            _topline=this.topline 
            _teaserType=this.teaserType
            _isMobile1to1=this.isMobile1to1}}            
        {{/decorator}}   
    </header>
    <div class="md:px-0{{#unless this.isMobile1to1}} px-5{{/unless}}">
        {{> components/teaser/components/teaser_text _text=this.shorttext _size=this.teaserSize _cssClasses=_teaserTextCssClasses }}
        {{> components/teaser/components/teaser_byline}} 
    </div>
</div>