{{#with _label}}
    <div class="leading-5.5{{#if ../_ordered}} pl-8 {{/if}}">
        {{> components/label/label _type=this.type _text=(loca this.loca)}}
    </div>
{{/with~}}    
<{{~ headlineTag ~}}>
    {{#if topline}}
        {{> components/teaser/components/teaser_topline text=topline readMore=readMore teaserType=teaserType}}
    {{/if}}
    {{> components/teaser/components/teaser_title text=title fontVariant=fontVariant size=size teaserType=teaserType _isMobile1to1=_isMobile1to1 _titleBlue=_titleBlue}}
</{{~ headlineTag ~}}>