<span class='flex space-around {{inline-switch _size '["25"]' '["hidden ","hidden md:block "]'~}}
    text-base mt-3 font-copy'>
    {{~_text~}}
    {{#if this.isExtOrBrandLink}}
        {{#decorator 'components/base/link' _css="hover:text-toplineColor" _doTracking=(if this.doTracking 'true') _clickLabelPrefix1=this.realTeasersize _clickLabelPrefix2="moreLink"}}
        <span class="inline-flex hover:underline decoration-1 text-link">[{{this.link.readMoreText.readMore}}{{~#if this.link.hasIcon}}{{> components/base/image/icon _icon=this.link.iconName _iconmap="icons" _addClass="w-5 h-5 fill-current ml-1"}}{{/if~}}]</span>
        {{/decorator}} 
    {{/if}}
</span>
