<span class='block mt-0.5 group-hover:underline {{#if _titleBlue}} text-blue-congress {{/if}}{{#if _ordered}} pl-8 {{/if}} {{> components/teaser/components/teaser_title_classes size=size teaserType=teaserType fontVariant=fontVariant _isMobile1to1=_isMobile1to1}}'>
    {{~text~}}
</span>