<div class="mt-2 text-base font-copy">
    <span class='flex space-around {{inline-switch _size '["25"]' '["hidden ","hidden md:inline "]'~}}'>
        {{~_text~}}
    </span>
    {{#if this.isExtOrBrandLink}}
        {{#decorator 'components/base/link' _css="relative inline text-link z-20 ds-focus"}}
            <span class="inline-flex flex-wrap hover:underline decoration-1 font-copy">{{this.link.readMoreText.readMore}}{{~#if this.link.hasIcon}}{{> components/base/image/icon _icon=this.link.iconName _iconmap="icons" _addClass="w-5 h-5 fill-current ml-1"}}{{/if~}}</span>
        {{/decorator}} 
    {{/if}}
</div>