{{#with label}}
    <div class="leading-5.5">
        {{> components/label/label type=this.type text=(loca this.loca)}}
    </div>
{{/with~}}    
<{{~ headlineTag ~}}>
    {{#if topline}}
        {{> components/teaser/components/teaser_topline text=topline readMore=readMore teaserType=teaserType}}
    {{/if}}
    {{> components/teaser/components/teaser_title text=title fontVariant=fontVariant size=size teaserType=teaserType}}
</{{~ headlineTag ~}}>