{{#if this.showFeaturedContent}}
    {{#if this.featuredContentItems}}
        <div class="relative ds-focus sm:px-0{{#unless this.isMobile1to1}} px-5{{/unless}} {{inline-switch _size '["25"]' '["hidden "]'~}}">
            <span class="block mt-4 text-base font-heading">{{loca "featured_content_headline"}}</span>
            <ul class="list-disc">
                {{#each this.featuredContentItems}}
                    <li class="{{#if @first}}mt-3{{else}}mt-1{{/if}} ml-4">
                        {{#> components/base/link _link=this.link _css="hover:underline relative inline text-link text-sm ds-focus" }}
                            <h3><span class="group-hover:underline">{{this.title}}</span></h3>
                        {{/components/base/link}}
                    </li>
                {{/each}}
            </ul>
        </div>
    {{/if}}
{{/if}}