{{#with this.contentNav}}
    <div class="grid order-3 grid-page">       
        <nav class="md:px-5 lg:px-10 col-full sm:col-main bg-structure-nav"
            x-data="{ isOpen: false}">
            <div class="flex flex-wrap items-center justify-between mx-auto" @click.outside="isOpen = false"> 
                {{#> components/button/button _size="lg" _variant="tertiary" _alpineClick="isOpen = !isOpen" _css="md:hidden" _onBackground=true}}
                    <span class="hidden" :class="{ 'hidden': isOpen }">
                        {{> components/button/components/button_icon _icon="burger--weiss" _iconmap="icons"}}
                    </span> 
                    <span class="hidden" :class="{ 'hidden': !isOpen }">
                        {{> components/button/components/button_icon _icon="close" _iconmap="icons"}}
                    </span>
                {{/components/button/button}}

                <div class="w-full md:block md:w-auto" id="navbar-default" 
                    :class="isOpen ? '' : 'hidden'"
                    >
                <ul class="flex flex-col font-medium bg-white md:bg-transparent md:flex-row md:space-x-3 rtl:space-x-reverse">  
                    {{~#each this.contentNavEntries~}}
                        <li class="border-b border-structure-nav md:border-b-0">
                            {{#> "components/base/link" _link=this.link _css="block w-full px-3 py-2 text-base font-bold break-words text-structure-nav md:text-white hover:underline"}}
                                {{this.content.title}}
                            {{/components/base/link}}
                        </li>
                    {{~/each~}}
                </ul>
                </div>
            </div>
        </nav> 
    </div>
{{/with}}