<nav class="relative border-b border-event-calendar-secondary js-load" data-hr-native-scroll-ds='{"isTeaser":"true"}' data-hr-filterer-ds="{}">
    <button class="block border-0 ml-4 absolute left-0 min-w-3 min-h-3 top-1/2 js-ns-button -left" aria-hidden="true">
        {{> components/base/image/icon _icon="arrow-left" _iconmap="icons" _addClass="w-5 h-5 fill-current" }}
    </button>
    <button class="block border-0 mr-4 absolute right-0 min-w-3 min-h-3 top-1/2 js-ns-button -right" aria-hidden="true">
        {{> components/base/image/icon _icon="arrow-right" _iconmap="icons" _addClass="w-5 h-5 fill-current" }}
    </button>
    <div class="flex relative max-w-100vw ml-14 mr-14 overflow-hidden box-border border-teal-600">
        <div class="flex mb-0 overflow-x-auto overflow-y-hidden whitespace-nowrap scroll-smooth js-ns-scroll -horizontal">
            {{#each this}}
                <div class="inline-block items-center justify-center border-event-calendar-secondary border-l js-ns-month {{#if
                    this.isCurrentMonth}} -currentMonth{{/if}}{{#if
                    this.hasFutureEventsFromNow}} -selected{{/if}}{{#unless
                    this.hasFutureEventsFromNow}} js-fr-reload-trigger{{/unless}}">
                    <span class="block font-heading font-bold w-24 sticky left-0 px-2 py-3 ">{{this.monthName}} {{this.year}}</span>
                    <ul class="flex">
                        {{#each this.days}}
                            <li class="inline-block h-full group cursor-pointer js-ns-item{{#if
                                this.isStartOfWeek}} border-l border-event-calendar-secondary{{/if}}">
                                {{> components/event/calendar/event_calendar_nav_item _contentUrl=../this.contentUrl}}
                            </li>
                        {{/each}}
                    </ul>
                </div>
            {{/each}}
        </div>
    </div>
</nav>
