<h3 class="mt-1"  aria-label="{{this.readMoreScreenreader}} {{this.title}}">
    <span class="text-lg sm480:text-xl font-headingSerif dark:text-text-dark">
        {{this.title}}
    </span>
    {{~#if this.isForeignBrand}}
        <span aria-hidden=true class="ml-4">
            [{{this.readMore}}
            {{~#if this.hasIcon}}
                {{~> components/base/image/icon _icon=this.iconName _iconmap="icons" _addClass="inline -mt-0.5 ml-1 w-5 h-5 fill-current"~}}
            {{/if~}}]
        </span>
    {{/if~}}
</h3>
