{{#with this.contentNav}}
    {{#if this.isList}}
        <nav class="c-content-nav {{../_modifier}} ">
            {{> components/content_nav/content_nav_list _teasersize=../_teasersize}}
        </nav>
    {{else}}
        {{#>components/base/menu/dropdown
                     _componentClass="c-content-nav"
                     _teasersize=../_teasersize
                     _iconOpen="arrow-down"
                     _iconClose="arrow-up"
                     _buttonText=(defaultIfEmpty this.selectedItem.title ../../title)
                     _hiddenNavigationLabel="Unternavigation"
        }} 
            <div class="c-content-nav__featurebox-bumper flex flex-wrap {{#if this.isAutosuggest}} autoSuggest js-load{{/if}}"
                {{#if this.isAutosuggest}}
                    data-hr-auto-suggest='{"filterGroupsSelector":".c-content-nav__group", "filterElementSelector":".c-content-nav__item", "filterTextSelector":".js-title", "inputElementSelector":".js-autosuggest-input", "matchedClass":"", "unmatchedClass":"hidden"}'>
                
                    <div class="flex w-full h-10 my-2 c-content-nav__autosuggest border-blue-congress align-center">
                        <input class="w-full pl-4 focus:outline-none formInput c-content-nav__autosuggest-input js-autosuggest-input" type="text"
                                placeholder="Eintrag filtern"/>
                    </div>
                {{/if}}

                {{> components/content_nav/content_nav_list  _teasersize=_teasersize}}

            </div>
        {{/components/base/menu/dropdown}}

    {{/if}}
{{/with}}