<li x-init="" 
    class="content-nav-item
        {{~#if _islist}} content-nav-item-list{{/if}}
        {{~#if _ismixed}} content-nav-item-mixed{{/if}}
        {{~#if _isdropdown}} content-nav-item-dropdown{{/if}}
        {{~#if _isflow}} content-nav-item-flow{{/if~}}
        {{~#if this.isSelected}} font-bold -current{{/if~}}
    ">
     {{#decorator 'components/base/link' 
        _doNavigationTracking="true" 
        _clickLabelType="Contentnavigation" 
        _clickLabelPrefix1=this.title 
        _css="flex ds-link-inset items-center py-2 px-2 h-10 whitespace-nowrap overflow-hidden" 
        _isSelected=this.isSelected
        _selectedCssClass="is-selected"
    }}
        
        <span class="block text-base grow font-copy js-title truncate ... ">
            {{~this.title~}}
            {{~#if this.link.hasIcon~}}
                {{> components/base/image/icon _icon=this.link.iconName _addClass="ml-2 h-4 w-4 inline" _iconmap="icons"}}
            {{~/if~}}
        </span>
        <span>
            {{>components/base/image/icon _icon="arrow-right" _addClass="h-4 w-4 ml-2" }} 
        </span>

    {{/decorator}} 
</li>