<div class="{{_maindivclass}} {{#if this.isAutosuggest}} autoSuggest js-load{{/if}} relative"
    {{#if this.isAutosuggest}}
     data-hr-auto-suggest='{"filterGroupsSelector":".content-nav-group", "filterElementSelector":".content-nav-item", "filterTextSelector":".js-title", "inputElementSelector":".js-autosuggest-input", "matchedClass":"block", "unmatchedClass":"hidden"}'
    {{/if}}
>
    {{#if this.isAutosuggest}}
        <div class="flex mx-0 w-full h-10 border-blue-congress align-center{{#if _autoSuggestContainerCss}} {{_autoSuggestContainerCss}}{{/if}}">
            <input x-ref="autosuggestInput"
                   class="{{#if _inputclass }}{{_inputclass}}{{/if}} w-full h-10 pl-2 border-b-8 border-white bg-gray-alabaster text-gray-dark placeholder:text-gray-dark focus:outline-none js-autosuggest-input"
                   type="text"
                   placeholder="Eintrag filtern"/>
        </div>
    {{/if}}

    {{> components/content_nav/content_nav_list _teaserSize=_teaserSize }}

</div>