<ul class="flex bg-white md:bg-transparent flex-wrap{{#if this.isListOrFlow}} w-full gap-x-2 gap-y-2{{/if}} z-1003 md:!px-0 last:border-b-0{{#if this.isDropdown }} w-full{{/if}}"
    > 
    
    {{~#each this.contentNavEntries~}}
          
        {{~#if this.isGroup~}}
        
            {{#if ../isDropdown}}               
                <li class="w-full h-auto overflow-hidden text-base list-none border-b border-gray-400 bg-highlight-1 text-content-nav md:mx-0 font-copy fill-content-nav content-nav-group">
                    <div class="flex items-center h-10 p-2 content-nav-group-title">{{this.title}}</div>
                    <ul class="c-content-nav-group-list !px-0 mt-0">
                        {{~#each this.navigationGroup~}}
                            {{> components/content_nav/content_nav_item 
                                _teaserSize=../../_teaserSize 
                                _isdropdown=../../isDropdown 
                                _ismixed=../../isMixed 
                                _islist=../../isList 
                                _isflow=../../isFlow}}
                        {{~/each~}}
                    </ul>
                </li> 
            {{/if}}
        {{else}}           
            {{> components/content_nav/content_nav_item  
                _teaserSize=../_teaserSize 
                _isdropdown=../isDropdown 
                _ismixed=../isMixed 
                _islist=../isList 
                _isflow=../isFlow}}
        {{~/if~}}
    {{~/each~}}
</ul>
