<div x-cloak class="{{_maindivclass}} {{#if this.isAutosuggest}} autoSuggest js-load{{/if}} {{#if this.isMixed}} relative {{else}} absolute {{/if}} {{#if isStorybook}} !relative {{else}} absolute {{/if}} "
     @click.outside ="contentNavDropdownIsOpen = false; console.log('clicked outside')"
    {{#if this.isAutosuggest}}
     data-hr-auto-suggest='{"filterGroupsSelector":".c-content-nav__group", "filterElementSelector":".c-content-nav__item", "filterTextSelector":".js-title", "inputElementSelector":".js-autosuggest-input", "matchedClass":"", "unmatchedClass":"hidden"}'
    {{/if}}
>
    {{#if this.isAutosuggest}}
        <div class="flex bg-grey-light w-full h-10 border-blue-congress align-center{{#if _autoSuggestContainerCss}} {{_autoSuggestContainerCss}}{{/if}}">
            <input x-ref="autosuggestInput"
                   class="w-full h-8 pl-2 bg-gray-200 text-grey-dark placeholder:text-grey-dark focus:outline-none js-autosuggest-input"
                   type="text"
                   placeholder="Eintrag filtern"/>
        </div>
    {{/if}}

    {{> components/content_nav/content_nav_list _teasersize=_teasersize }}

</div>