<article class="mx-5 sm:mx-0 relative col-span-12 flex gap-y-5 gap-x-4 {{inline-switch this.teaserSize '["33","50"]' '["md:col-span-4 flex-col","md:col-span-6 flex-col","flex-col"]'}} ">
    <figure class="ar-1-1" aria-hidden="true">
        {{~> components/base/image/responsive_image this.teaserImage _type=this.teaserType _variant=this.content.imageVariant _noDelay=../_noDelay _addClassImg="ar__content rounded-tl-hr rounded-br-hr" ~}}
    </figure> 
    <div class="absolute flex flex-col justify-center w-full h-full bg-gradient-to-t from-black rounded-tl-hr rounded-br-hr">
        {{#decorator 'components/base/link' _css="ds-teaser-focus flex items-center flex-col before:rounded-tl-hr before:rounded-br-hr hover:text-toplineColor"}} 
            {{#> components/teaser/components/teaser_header}}
                {{#with this.label}}
                    {{#> components/label/label_group}}
                        {{> components/label/label _type=this.type _text=(loca this.loca)}}
                        {{> components/label/label_byline _css="ml-2"}}
                    {{/components/label/label_group}}
                {{/with~}}
                 {{#> components/teaser/components/teaser_headline _headlineTag="h2" _css="text-shadow text-center text-white mb-4 mx-4 md:mb-8 xs:mx-6 sm:mx-8 md:mx-5 lg:mx-8 line-clamp-4 xs:line-clamp-6 md:line-clamp-4 lg:line-clamp-5"}}
                    {{#if this.topline}}
                        {{> components/teaser/components/teaser_topline _css="!text-white" _text=this.topline}}
                    {{/if}}
                    {{> components/teaser/components/teaser_title _css="whitespace-pre-wrap" _text=this.title _size=this.realTeaserSize _teaserType=this.teaserType}}
                    {{#if this.extendedTitle}}
                        {{> components/teaser/components/teaser_subline _text=this.extendedTitle}}
                    {{/if}}
                {{/components/teaser/components/teaser_headline}}
            {{/components/teaser/components/teaser_header}}
        {{/decorator}}
        <span class="absolute flex w-full h-full items-end justify-center ds-cta">
            {{#> components/button/link_button _link=this.link _size="lg" _css=(inline-switch this.realTeaserSize '["33","50"]' '["z-20 mb-7","z-20 mb-7 md:mb-16"]') _variant="secondary" _isAriaHidden=true _onBackground=true}}
                {{> components/button/components/button_label _css="" _label=this.link.readMoreText.readMoreLong}}
            {{/components/button/link_button}}
        </span>
    </div>
</article>