<div class="grid-cols-12 col-span-12 px-5 sm:px-0{{~inline-switch this.teasersize '["50"]' '[" md:col-span-6",""]'}}">

    {{> components/externalService/external_service}}

    {{> components/teaser/components/teaser_featured_content _size=this.realTeaserSize}}
    
</div>