<article class="relative col-span-12 flex gap-y-3 gap-x-4 
{{~inline-switch this.teaserSize '["25","33","50"]' '[" md:col-span-3"," md:col-span-4"," md:col-span-6",""]'}}
{{~#if this.isMobile1to1}} js-is1to1 px-5 md:px-0 md:flex-col{{else}} flex-col{{/if~}} 
 "
    x-data="{ avStart: false }"
    {{#if this.isMobile1to1}}
            :class="avStart ? 'flex-col' : 'flex-row'"
    {{/if}}   
    >
    <figure class="relative 
    {{~#if this.isMobile1to1}} basis-2/5 md:flex-full ar-1-1 md:ar-16-9{{else}} ar-16-9{{/if~}}">    
        {{> components/teaser/components/teaser_lead _isMobile1to1=this.isMobile1to1 _teaserSize=this.teaserSize _aspectRatio=(inline-switch this.teaserSize '["25"]' '["ar-1-1 md:ar-16-9", "ar-16-9"]') }}     
    </figure>
    {{#if this.displayTeaserBodyAsImageOverlay}}
        {{#>components/teaser/components/teaser_image_overlay _cssClasses="w-full bottom-0"}}
            <div class="flex flex-col items-center justify-center p-4 border-dashed border-r border-gray-800">
                {{> components/event/instant_dates}}
            </div>
            {{> components/teaser/components/teaser_body _outerCssClasses="p-4"}}
        {{/components/teaser/components/teaser_image_overlay}}
    {{else}}
        {{> components/teaser/components/teaser_body}}
    {{/if}}
</article>