
<div class="{{inline-switch teaserSize '["sm","md","lg","xl","xxl"]' '["col-span-12 md:col-span-3","col-span-12 md:col-span-4","col-span-12 md:col-span-6","col-span-12","col-span-12"]'}} mx-2 first:ml-0 last:mr-0">
    <img sizes="(min-width: 43.75em) and (max-width: 63.063em) calc(50vw - 40px),(min-width: 63.125em) 461px, calc(100vw-20px)"
            loading="lazy"
            data-srcset="https://www.hessenschau.de/panorama/corona-coronavirus-sujet-102~_t-1583235764383_v-16to9__small.jpg 320w, 
                        https://www.hessenschau.de/panorama/corona-coronavirus-sujet-102~_t-1583235764383_v-16to9__medium.jpg 480w, 
                        https://www.hessenschau.de/panorama/corona-coronavirus-sujet-102~_t-1583235764383_v-16to9__medium__extended.jpg 640w, 
                        https://www.hessenschau.de/panorama/corona-coronavirus-sujet-102~_t-1583235764383_v-16to9.jpg 960w, 
                        https://www.hessenschau.de/panorama/corona-coronavirus-sujet-102~_t-1583235764383_v-16to9__retina.jpg 1920w" 
            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" 
            alt="Corona Coronavirus Sujet" 
            class="w-full" 
            srcset="https://www.hessenschau.de/panorama/corona-coronavirus-sujet-102~_t-1583235764383_v-16to9__small.jpg 320w, 
            https://www.hessenschau.de/panorama/corona-coronavirus-sujet-102~_t-1583235764383_v-16to9__medium.jpg 480w, 
            https://www.hessenschau.de/panorama/corona-coronavirus-sujet-102~_t-1583235764383_v-16to9__medium__extended.jpg 640w, 
            https://www.hessenschau.de/panorama/corona-coronavirus-sujet-102~_t-1583235764383_v-16to9.jpg 960w, 
            https://www.hessenschau.de/panorama/corona-coronavirus-sujet-102~_t-1583235764383_v-16to9__retina.jpg 1920w">

    {{#if labelType}}
        <div class="mt-4">
            {{> components/Label type=labelType text=labelText}}
        </div>
        {{> components/Teaser/Teaser-Heading headlineTag="h2" size=teaserSize font=(inline-switch variant '["Serif", "Sans Serf"]' '["headingSerif","heading"]') headline=headline topline=""}}
    {{else}}
        {{> components/Teaser/Teaser-Heading headlineTag="h2" size=teaserSize font=(inline-switch variant '["Serif", "Sans Serif"]' '["headingSerif","heading"]') headline=headline topline=topline}}
    {{/if}}
    
    <div class="mt-2 text-base font-copy">{{teaserText}} <a class="text-indigo-500" href="#">[<span class="no-underline hover:underline">mehr</span>]</a></div>
    {{#if author}}
        <div class="mt-1 text-sm text-gray-500 font-headingSerif">Von {{author}}</div>
    {{/if}}
</div>