{{#if this.isText}}
    <p class="mt-6 text-lg leading-normal copytextParagraphDS sm480:text-xl lg:leading-7.5 dark:text-text-dark">{{{this.text}}}</p>
{{/if}}
{{#if this.isUl}}
    <ul class="pl-5 mt-6 overflow-hidden text-lg leading-normal list-disc copytextParagraphDS sm480:text-xl lg:leading-7.5 dark:text-text-dark">{{{this.text}}}</ul>
{{/if}}
{{#if this.isOl}}
    <ol class="pl-5 mt-6 overflow-hidden text-lg leading-normal list-decimal copytextParagraphDS sm480:text-xl lg:leading-7.5 dark:text-text-dark">{{{this.text}}}</ol>
{{/if}}