<div class="js-load" data-hr-modal='{"modalTriggerId":"{{defaultIfEmpty _trigger ""}}"}'>
    <dialog class='js-modal p-0 backdrop:bg-grey-scorpion/90 shadow-md {{defaultIfEmpty _css "sm:max-w-xl"}}'>
        <form method="dialog" class="js-dialog-content p-4">
            {{> @partial-block }}
        </form>
    </dialog>
</div>