<div>
    {{#with this.sectionNavigationSSILinks}}
        <ul class="flex justify-center border border-gray-900">
            {{#each this.navigationItems}}
                {{> ./SectionNavigationItem }}
            {{/each}} 
        </ul>
    {{/with}}
</div>