<div class="bg-blue-science">
    {{#with this.sectionNavigationSSILinks}}
        <ul class="flex text-left text-white">
            {{#each this.navigationItems}}
                {{> components/Header/SectionNavigation/SectionNavigationItem }}
            {{/each}} 
        </ul>
    {{/with}}
</div>