<div class="w-full pl-2.5 lg:container md:px-0 lg:px-10 bg-blue-science">
    <div class="flex mb-0 content-start md:-mx-2.5">
        <div class="flex w-full">
            <span id="sectionNavHeadline" class="hidden">Bereichsnavigation</span>
            {{#with this.sectionNavigationSSILinks}}
                <ul class="flex flex-col items-center w-full text-left text-white list-none lg:flex-row lg:h-auto">
                    {{#each this}}
                        {{> components/Header/SectionNavigation/SectionNavigationItem }}
                    {{/each}} 
                </ul>
            {{/with}}
        </div>
    </div>
</div> 