<div x-data="burger()" class="flex items-center justify-center h-full fill-current sb-burger">
    <nav>
        <button {{!-- :class="$store.burgeropen ? 'text-primary' : 'text-white'" --}}  
            class="relative w-10 h-10 text-navigation-text tablet:w-18 tablet:h-12 focus:outline-none bg-brand"
            @burger-close.window="burgerClose()"
            @click="$store.burgeropen = !$store.burgeropen" 
            @click.nextTick="burgerClick()" 
            aria-owns="sectionNav" 
            aria-controls="sectionNav"
            x-effect="$el.setAttribute('aria-expanded', $store.burgeropen);$el.setAttribute('aria-label', $store.burgeropen ? 'Navigation schließen' : 'Navigation öffnen')"
        >
            <span class="sr-only md:hidden">Open main menu</span>
            <div class="absolute block w-6 -mt-px transform -translate-x-1/2 -translate-y-1/2 left-1/2 top-1/2">
                <span aria-hidden="true" class="absolute block w-full h-0.5 transition duration-250 ease-in-out transform bg-current " :class="$store.burgeropen ? 'rotate-45' : '-mt-2'"></span>
                <span aria-hidden="true" class="absolute block w-full h-0.5 transition duration-250 ease-in-out transform bg-current" :class="{'opacity-0': $store.burgeropen } "></span>
                <span aria-hidden="true" class="absolute block w-full h-0.5 transition duration-250 ease-in-out transform bg-current" :class="{'-rotate-45': $store.burgeropen, 'mt-2': ! $store.burgeropen }"></span>
            </div> 
        </button>
    </nav>
</div>

<script>
    var burger = () => {
        return {
            burgerClose(){               
                this.$store.burgeropen = false
                this.$dispatch('toggle-sectionnav', false); 
            },
            burgerClick(){               
                this.$store.serviceNavIsOpen = false
                this.$dispatch('toggle-sectionnav',  this.$store.burgeropen);  
                // Todo: not doing anything! can be removed?
                // this.percent > 50 ? this.removeYtranslate() : null;
                this.toggleScrolling(!this.$store.burgeropen)              
            },
            removeYtranslate(){
                // Todo: not doing anything! can be removed?
                //this.$refs.serviceList.classList.remove('-mt-40'); 
                //this.$refs.sectionnavigation.classList.remove('-mt-40')
            }
        }
    }
</script>
