<div class="sb-main-navigation" x-data="mainNavigationHandler()" x-init="init()">
    <header class="print:hidden relative z-10001 {{#if this.hasOpenSubNavigation}}lg:h-header-lg-big{{else}}lg:h-header-lg-small{{/if}} md:h-header-md h-header-sm">   
        <div x-data 
            id="headerWrapper"
            @resize.window="resetNav()" 
            :class="shouldBrandNavBeHidden() ? '-mt-10 lg:-mt-8' : ''  "
            class="fixed top-0 left-0 flex flex-wrap max-w-full transition-all duration-500 transform font-copy lg:justify-center lg:w-full">
            
            <div id="anchorNavWrapper" 
                class="hidden">
                {{> components/site_header/anchor_navigation/anchor_navigation }}
            </div>

            <div id="brandNavWrapper" 
                class="relative flex items-center justify-center order-1 w-full bg-white z-10000">
                {{> components/site_header/brand_navigation/brand_navigation }} 
            </div>

            <div id="serviceNavWrapper" 
                :class="shouldServiceNavBeHidden() ? '-mt-40' : ''"
                
                class="relative flex justify-center order-2 w-full transition-all duration-500 ease-in-out md:border-white lg:border-b bg-blue-congress z-10002">   
                <div id="serviceNavMainContainer" 
                    class="flex w-full h-10 lg:container md:h-12 lg:px-10 lg:h-16 z-10001">

                    <span id="serviceNavHeadline" class="hidden print:hidden">Service Navigation</span>

                    <div id="serviceLogoWrapper" 
                        class="flex items-center order-1 w-full pl-4 pr-2 tablet:pl-5 lg:items-end lg:pb-3 bg-blue-congress md:px-0 md:h-12 lg:h-16 md:w-1/2 md:max-w-1/2 lg:w-1/4 lg:max-w-1/4">
                        {{> components/site_header/service_logo }}
                    </div>
                    
                    <div id="serviceItemsWrapper"                
                        class="flex items-center justify-end flex-initial order-2 inline-block w-full max-w-full align-top bg-blue-congress md:h-12 lg:h-16 lg:order-2 lg:w-3/4 lg:max-w-3/4 md:mt-0 md:w-1/2 md:max-w-1/2 md:order-2 md:border-0">
                        {{> components/site_header/service_navigation/service_list }}

                        {{> components/site_header/navigation_search/quick_search_button }}

                        <div class="hidden lg:flex">
                            {{> components/site_header/navigation_search/quick_search_form }}
                        </div>
                    
                        <div id="burgerWrapper" 
                            class="flex justify-end flex-none order-2 lg:order-4 md:order-4 lg:hidden"> 
                            {{> components/site_header/burger }}    
                        </div>
                        
                    </div>
                </div>
            </div>

            <div id="sectionNavWrapper"      
                x-ref="sectionnavigation"
                @toggle-sectionnav.window="toggleSectionNav"
                :class="shouldSectionNavBeHidden() ? '-mt-40 md:-mt-40 lg:-mt-40' : ''"  
                class="flex justify-center order-3 w-full overflow-hidden duration-500 transition-max-height lg:transition-margin-top lg:duration-500 tablet:absolute tablet:top-22 tablet:w-half-screen tablet:ml-half-screen max-h-0 lg:overflow-visible md:mt-0 lg:flex lg:max-h-full lg:h-auto bg-blue-congress z-10000 print:hidden"
            >
                {{> components/site_header/section_navigation/section_navigation }}
            </div>
            
            <div x-cloak :class="shouldServiceNavBeHidden() ? 'hidden -mt-40' : ''"
                x-effect="$el.setAttribute('id', 'flyout-' + $store.searchID.current + '-2');$el.setAttribute('aria-expanded', $store.searchFieldOpen);$el.setAttribute('aria-hidden', !$store.searchFieldOpen);$el.setAttribute('aria-labelledby', 'flyout-' + $store.searchID.current + '-1')" 
                x-show="$store.searchFieldOpen"
                class="sb-quick-search-flyout flex tablet:w-half-screen tablet:ml-half-screen justify-end order-4 w-full max-w-full p-2 px-5 py-3.5 bg-white drop-shadow-md md:mt-0 z-10002 lg:hidden print:hidden"
                @search-close.window="$store.searchFieldOpen = false"
                @click.outside="$store.searchFieldOpen = false; $dispatch('search-mobile-click-outside'); dropped = false; toggleScrolling(!$store.serviceNavIsOpensearchFieldOpen && !$store.burgeropen)"
                x-transition:enter="transition ease-out duration-200" 
                x-transition:enter-start="opacity-0 transform scale-y-90" 
                x-transition:enter-end="opacity-100 transform scale-y-100" 
                x-transition:leave="transition ease-in duration-100" 
                x-transition:leave-start="opacity-100 transform scale-y-100" 
                x-transition:leave-end="opacity-0 transform scale-y-90">

                {{> components/site_header/navigation_search/quick_search_form }}

            </div>
            
        </div> 
    </header>
    <div class="justify-center hidden w-full scale-50 brand-logo_print print:flex">
        <img loading="lazy" 
            alt="{{loca "header_homepage_link_title"}}" 
            src="{{resourceUrl "assets/base/icons/rsslogo/brandlogo--rss.jpg" _brand=(if this.brand this.brand)}}" 
            />
    </div>
    <div x-ref="myOverlay">
        <div x-cloak x-data="overlayHandler()" @click.debounce="overlayWasClicked()" x-show="shouldOverlayBeShown()" class="fixed top-0 left-0 w-screen h-screen bg-gray-800 z-10000 lg:hidden opacity-70"></div>
    </div>
</div>
