<div class="sb-main-navigation" x-data="mainNavigationHandler()" x-init="{{#if _useSticky}}start(){{/if}}">
    <header class="print:hidden relative z-110 {{#if _useSticky}}{{#if this.hasOpenSubNavigation}}lg:h-header-lg-big {{else}}lg:h-header-lg-small {{/if}}{{else}}lg:h-auto {{/if}}md:h-header-md h-header-sm">   
        <div x-data 
            id="headerWrapper"
            @resize.window="resetNav()" 
            :class="shouldBrandNavBeHidden() ? '-mt-[33px] md:-mt-[33px]' : ''  "
            class="{{#if _useSticky }}fixed top-0 left-0{{/if}} flex flex-wrap max-w-full transition-all duration-500 transform font-copy lg:justify-center lg:w-full ">

            <div id="serviceNavWrapper" 
                :class="shouldServiceNavBeHidden() ? '-mt-40' : ''"
                
                class="relative flex justify-center order-2 w-full transition-[margin-top] duration-250 ease-in-out border-b border-servicenavigation-border-color bg-navigation-bg z-120">   
                <div id="serviceNavMainContainer" 
                    class="flex w-full h-10 lg:container md:h-12 lg:px-10 lg:h-16 z-110">

                    <span id="serviceNavHeadline" class="hidden print:hidden">Service Navigation</span>

                    <div id="serviceLogoWrapper"  
                        class="flex items-center order-1 w-full pl-4 pr-2 tablet:pl-5 bg-navigation-bg md:px-0 md:h-12 lg:h-16 md:w-1/2 md:max-w-1/2 lg:w-1/4 lg:max-w-1/4">
                        {{> components/site_header/service_logo _useSticky=false}}
                    </div>
                    
                </div>
            </div>            
        </div> 
    </header>
    <div class="justify-center hidden w-full scale-50 brand-logo_print print:flex">
        <img loading="lazy" 
            alt="{{loca "header_homepage_link_title"}}" 
            src="{{resourceUrl "assets/base/icons/rsslogo/brandlogo--rss.jpg" _brand=(if this.brand this.brand)}}" 
            />
    </div>
</div>
