<a class="relative flex items-center text-white fill-current sb-service-logo lg:items-end link-focus-white print:hidden" 
    href={{resourceUrl "index.html"}} 
    title="{{loca "header_homepage_link_title"}}">
    {{#if _useSticky}}
        <div x-cloak class="absolute flex transition-opacity duration-500 ease-in-out" :class="`${percent}` < 50 ? 'opacity-0' : 'delay-200 opacity-100'">
            <span class="flex "  >
                {{> components/base/image/icon _icon="brandlogo--mobile" _iconmap="logo" _addClass="logo-compact lg:h-10 lg:w-10 md:h-8 md:w-8 w-7 h-7"}}
            </span>
        </div>
        <div class="transition-opacity duration-500 ease-in-out" :class="`${percent}` < 50 ? 'opacity-100' : 'opacity-0'">
            <span class="hidden lg:flex" >
                {{> components/base/image/icon _icon="brandlogo--desk" _iconmap="logo" _addClass="logo-desk fill-white h-7 md:h-7 lg:h-8 "}}
            </span> 
        </div>
    {{else}}
    
        <span x-cloak class="absolute flex transition-opacity duration-500 ease-in-out lg:hidden" >
            {{> components/base/image/icon _icon="brandlogo--mobile" _iconmap="logo" _addClass="logo-compact lg:h-10 lg:w-10 md:h-8 md:w-8 w-7 h-7"}}
        </span>
        <span class="hidden transition-opacity duration-500 ease-in-out lg:flex">
            {{> components/base/image/icon _icon="brandlogo--desk" _iconmap="logo" _addClass="logo-desk fill-white h-7 md:h-8 lg:h-10 "}}
        </span> 
    {{/if}}
</a>