{{#>components/page/base/page_wrapper}}
    
    <h2 class="text-3xl font-headingSerif sm480:text-5xl">{{this.title}}</h2>

    {{> components/page/story/components/story_shorttext }}
    
    {{#unless this.displayPageLead.isFalse}}
        {{#with this.teaseritem }}
            {{#if this.isImage}}
                {{> components/content/copytext/components/image/figure
                    _cssClass="article-breakout !mb-0"
                    _cssClassCaption=""
                    _type="story"
                    _variant="100-top"
                    _pictureAddClass="ar-16-9"
                    _isWebview=../../_isWebview
                    _noDelay=true}}
            {{/if}}
        {{/with}}
    {{/unless}}

    {{~> components/content/copytext/copytext _isWebview=_webview ~}}

{{/components/page/base/page_wrapper}}