{{#>components/page/base/page_wrapper}}
    <h2 class="mb-4 text-3xl">{{this.title}}</h2>
    <p class="mb-4 font-bold">{{this.shorttext}}</p>
    
    {{#unless this.displayPageLead.isFalse}}
        {{#with this.teaseritem }}
            {{#if this.isImage}}
                {{> components/content/copytext/components/image/figure
                    _cssClass="article-breakout"
                    _cssClassCaption=""
                    _type="story"
                    _variant="100-top"
                    _pictureAddClass="ar-16-9"
                    _isWebview=../../_isWebview
                    _noDelay=true}}
            {{/if}}
        {{/with}}
    {{/unless}}

    {{~> components/content/copytext/copytext _isWebview=_webview ~}}

{{/components/page/base/page_wrapper}}