<div class="relative grid flex-col col-span-12 {{#unless _isCopytext}}mx-5 {{/unless}}sm:mx-0 gap-y-6 gap-x-4 bg-highlight-1 dark:bg-highlight-1-dark rounded-tl-hr rounded-br-hr{{inline-switch this.teaserSize '["50"]' '[" md:col-span-6",""]'}}" >
    {{> components/podcast/podcast_player _linkTitle="true" _isSinglePage=true _type="podcastEpisodePlayerTeaser" }}
</div>