<div class="flex w-full">  
    <div class="flex items-center grow js-load" 
    x-data="playaudio()"
    ax-load
    x-ignore
    ax-load-src="/js/podcastPlayer.alpine.js"
    x-init="setTime( '{{podcastDuration}}' )" >

    <div class="flex items-center w-40">
        {{!-- Start/StopButton       --}}
        {{> components/teaser/podcast/podcast_playbutton _clickFunction="playAndStop" _css="mr-4" _title=this.title _teaserSize=this.teaserSize _addClass="" }}

        {{!-- Meta Time usw. --}}
        {{> components/teaser/podcast/podcast_timedisplay _textSize="text-sm" _duration=podcastDuration _currentTimeClasses="text-orange-layout" _durationClasses="text-blue-science" _containerCss="flex justify-end w-full font-bold"}}
    </div>
    
    {{!-- Range Slider     --}}
    <input x-ref="range" id="range" x-on:input="rangeInput()" type="range" x-bind:value="currentTimePercentage" min="0" max="1000" class="flex self-center flex-grow h-1 ml-4 bg-white rounded-lg appearance-none cursor-pointer seek_slider" >  

    {{!-- AudioElement --}}
    {{~#with this.audioUrl ~}}
        <audio preload="metadata" class="hidden" x-ref='audio'>
        <source id="audio" src={{this}} type='audio/mp3'/>
        </audio>
    {{/with}}
    </div>
</div>