{{#decorator
    'components/base/link'
    _css='w-full ds-link font-heading text-base text-podcast-text line-clamp-4 ...'
}}
    <span
        class='block group-hover:underline text-podcast-text
            {{~inline-switch _teaserSize '["100","50"]' '[" text-base"," text-base"]'~}}'
    >
        {{~_title~}}
    </span>
{{/decorator}}