<div class="flex flex-wrap w-full">  
    <div class="flex flex-wrap w-full js-load" 
        x-data="playaudio()"
        ax-load
        x-ignore
        ax-load-src="/js/podcastPlayer.alpine.js"
        x-init="setTime( '{{podcastDuration}}' )" >

        <div class="flex items-center w-full flex-nowrap">
            {{!-- Start/StopButton       --}}
            <div class="flex">
                {{> components/teaser/podcast/podcast_playbutton _clickFunction="playAndStop" _css="mr-4" _title=this.title _teaserSize=this.teaserSize _addClass="" }}
            </div>

            {{!-- Range Slider     --}}
            <div class="flex w-full">
                <input x-ref="range" id="range" x-on:input="rangeInput()" type="range" x-bind:value="currentTimePercentage" min="0" max="1000" class="flex h-1 bg-white rounded-lg appearance-none cursor-pointer grow seek_slider" >  
            </div>
        </div>
        
        {{!-- Meta Time usw. --}}
        {{> components/teaser/podcast/podcast_timedisplay _duration=podcastDuration _currentTimeClasses="font-bold text-orange-layout" _durationClasses="text-blue-science" _containerCss="pl-16 -mt-3 flex text-xs grow font-headingSerif"}}

        {{!-- AudioElement --}}
        {{~#with this.audioUrl ~}}
            <audio preload="metadata" class="hidden" x-ref='audio'>
            <source id="audio" src={{this}} type='audio/mp3'/>
            </audio>
        {{/with}}
    </div>
</div>