{{#decorator 'components/base/link' _css="w-full font-heading text-base text-toplineColor line-clamp-4 ..." }} 
    <span class="block w-1/2 group-hover:underline text-blue-science {{~ inline-switch _teaserSize '["100","50"]''[" text-base"," text-base"]' ~}}">
    {{~_title~}}
    </span>
{{/decorator}}