{{#>components/base/link _link=this.link
    _css='w-full ds-link font-heading text-base text-podcast-text line-clamp-4'
}}
    <span
        class='block hover:underline text-podcast-text
            {{~inline-switch _teaserSize-adjust_context '["100","50"]' '[" text-base"," text-base"]'~}}'
    >
        {{~_title-adjust_context~}}
    </span>
{{/components/base/link}}