
    <div id="4" class="grid gap-y-6 relative gap-x-4 flex-col pt-5 mx-0 md:pt-5 bg-highlight-1 rounded-tl-3xl rounded-br-3xl col-span-12 {{~inline-switch this.teaserSize '["50","100"]' '[" md:col-span-6",""]'}}" >
        {{> components/teaser/podcast/podcast_playlist_player _linkTitle="true" _isSinglePage=false _type="podcastPlaylistPlayerTeaser" }}
    </div>

