<div class="flex col-span-12 pb-5 border-b border-white">
  <div class="flex flex-col grow">
    {{!-- First Row --}}
    <div class="flex flex-row px-5 md:pl-5 {{#if ../_ordered}} pl-8 {{/if}} ">
      <div class="flex flex-col pr-5 grow">
        <div class="flex max-h-6">
          {{!-- Label / Airdate --}}
          {{#with label}}
            <span
              class='sb-label mr-2 rounded px-1.5 pt-px inline-block tracking-wide text-white text-base leading-5.5 font-heading bg-labelMedia'>
              {{ loca this.loca }}
            </span>
          {{/with}}
        </div>

        {{!-- Überschrift: --}}
        <div class="flex pr-2 md:pr-5">
          {{> components/teaser/podcast/podcast_title _title=this.title _teaserSize=this.teaserSize _addClass="" }}
        </div>

        {{#ifCond this.teaserSize ">" 50}}
          {{!-- Shorttext --}}
          {{#unless _isSinglePage}}
            {{#unless this.hideShortText}}
              {{~#with this.shorttext}}
                <div class="hidden pb-6 text-sm md:flex md:text-base font-copy">
                  <span class="c-teaser__shorttext"> {{this}} </span>
                </div>
              {{/with~}}
            {{/unless}}
          {{/unless}}
        {{/ifCond}}
      </div>

      {{!-- Podcast Image --}}
      <div class="flex flex-col ">
        <div class="w-24 md:w-32 lg:w-42">
          {{> components/base/image/responsive_image this.teaseritem
            _type="podcastEpisodePlayer"
            _variant="default"
            _addClass="overflow-hidden"
            _noDelay=this.dontLazyload
            _addClassImg="w-full block"
          }}
        </div>
      </div>
    </div>

    {{#ifCond this.teaserSize "<=" 50}}
      <div class="flex flex-row w-full pt-5 px-5 md:pl-5 {{#if ../_ordered}} pl-8 {{/if}} ">
        {{!-- Shorttext --}}
          {{#unless _isSinglePage}}
            {{#unless this.hideShortText}}
              {{~#with this.shorttext}}
                <div class="hidden pb-6 text-sm md:flex md:text-base font-copy">
                  <span class="c-teaser__shorttext"> {{this}} </span>
                </div>
              {{/with~}}
            {{/unless}}
          {{/unless}}
      </div>
    {{/ifCond}}
    
    {{!-- Abo-Dropdown --}}
    <div class="flex flex-row px-5 md:pr-0"> 
      {{> components/teaser/podcast/podcast_subscribe_button}}
    </div>  
  </div>
</div>

{{!-- Player UI --}}
<div  class="flex flex-col col-span-12 gap-5 px-5"
  x-data="playaudio()" 
  x-init="listenToGlobalStop()" 
  ax-load 
  x-ignore
  ax-load-src={{resourceUrl "assets/js/vendor/podcast_player.alpine.js" }}>
  {{#with this.playlistItems}}
    {{#each this}}
      <div class="flex pb-5 {{#unless @last}}border-white border-b{{/unless}}">
        {{> components/teaser/podcast/podcast_player_ui
          _isPlaylistPlayer=true
          _podcastDuration=duration
          _title=title
          _id=(nextRandom)
          _first=@first
        }}
      </div>
    {{/each}}
  {{/with}}
</div>