<div x-cloak class="{{_containerCss}}">
    <span class="{{_currentTimeClasses}}" x-text="currentTime">0:00</span>
    <span class="{{_durationClasses}}"> / </span>
    <span class="{{_durationClasses}}" x-text="audioDurationFancy"> </span>
</div>