{{#decorator 'components/base/link' _css="font-heading font-bold mt-2.5 text-toplineColor line-clamp-2 ..." }} 
    <span class="block mt-0.5 group-hover:underline text-blue-congress {{#if _ordered}} pl-8 {{/if}} {{~ inline-switch _teaserSize '["100","50"]''["text-2xl","text-lg"]' ~}}">
    {{~_title~}}
    </span>
{{/decorator}}