
<div class="w-full col-span-12">       
  {{> components/teaser/components/teaser_heading  _label=this.label  _headlineTag="h1" _title="Podcast-Titel" _fontVariant="serif" _size="hero" _teaserType="standard-ds" _isMobile1to1=false _firstItem=_firstItem}}

  <span class="c-podcastEpisodePlayer__byline text__byline">
    {{~#with airdateDate}}
        <time datetime="{{this.htmlDateTime}}">{{this.date}}</time>
    {{/with}}
  </span>
              
</div>
    <div class="w-auto col-span-3 p-0 o-2d-grid__item c-podcastEpisodePlayer__image">
        {{> components/base/image/responsive_image this.teaseritem _type=this.teaserType
                _variant="default" _addClass="relative overflow-hidden ar--100"
                _noDelay=this.dontLazyload _addClassImg="w-full block" }}
    </div>


<div class="w-full col-span-12 js-load" 
    x-data="playaudio()"
    ax-load
    x-ignore
    ax-load-src="/js/podcastPlayer.alpine.js">
           
    <button x-on:keydown.tab="playAndStop" x-on:click="playAndStop" type="button" class="relative rounded-xl group cursor-pointer focus:outline-none focus:ring focus:ring-[#1F89AE]">       
        <div class="">
            <div x-show="!currentlyPlaying" class="bg-black bg-opacity-50 rounded-full p-0.5 text-white">
                start
            </div>
            <div x-show="currentlyPlaying" class="bg-black bg-opacity-50 rounded-full p-0.5  text-white">
                stop
            </div>
        </div>
    </button>

    <input x-ref="range" x-on:input="rangeInput()" type="range" x-bind:value="currentTimePercentage" min="0" max="1000" class="w-full h-1 mb-6 rounded-lg appearance-none cursor-pointer range-sm dark:bg-gray-700" >
    
    <div class="c-audioPlayer__metaText text__byline">
      <span x-text="currentTime">00:00</span>
      <span class="">/</span>
      <span x-text="audioDuration">06:21 Min</span>
    </div>

    <audio x-ref="audio" >
        <source src="https://mp3podcasthr-a.akamaihd.net/mp3/podcast/hr2_audio/hr2_audio_20220914_95730396.mp3" type="audio/mp3" />
    </audio>

  <div class="hidden">
    currentTime: <span x-text="currentTime"></span><br>
    currentTimePercentage:  <span x-text="currentTimePercentage"></span><br>
    currentTimeMs: <span x-text="currentTimeMs"></span><br>
    currentTimeS: <span x-text="currentTimeS"></span><br>
    currentTimeM: <span x-text="currentTimeM"></span><br>
    currentTimeH: <span x-text="currentTimeH"></span><br>
    audioDuration: <span x-text="audioDuration"></span><br>
  </div>
</div>

