<!DOCTYPE html>
<html 
    class="no-js no-js-burgerMenu preload noMicroInteraction"
    data-theme="hessenschau" 
    lang="de"
>
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
        <title>hessenschau.de | Nachrichten aus Hessen</title>
        <meta name="application-name" content="hessenschau.de" />
        <meta name="copyright" content="Hessischer Rundfunk, Frankfurt, Germany" />
        <meta name="author" content="hessenschau.de, Frankfurt, Germany" />
        <meta name="publisher" content="hessenschau.de" />
        <meta name="language" content="Deutsch" />

    </head>

    <body itemscope itemtype="http://schema.org/WebPage">
        <div class="js-pageSwap">
            
            <header class="c-navHeader js-navHeader">

                {{> components/Header/Header }}

            </header>

            <main 
                onclick="void(0)" 
                role="main" 
                id="content"
            >
    
                <div class="mt-8">
                    {{> components/Teaser 
                            variant="Serif"
                            teaserSize="100"
                            topline="So plant Glasner bei der Eintracht"
                            headline="Silvas Erbe wird auf mehrere Schultern verteilt"
                            teaserText="Nach dem Abgang von André Silva und dem Zugang von Santos Borré hat Trainer Oliver Glasner Einblicke in seine Offensivideen für Eintracht Frankfurt gegeben. Er plant mit den Flanken von Filip Kostic und spricht ein Sonderlob für einen Youngster aus."
                            author="Stephan Reich"
                    }}
                </div> 
                <div class="mt-8">
                    {{> components/Teaser 
                            variant="Serif"
                            teaserSize="100"
                            topline="So plant Glasner bei der Eintracht"
                            headline="Silvas Erbe wird auf mehrere Schultern verteilt"
                            teaserText="Nach dem Abgang von André Silva und dem Zugang von Santos Borré hat Trainer Oliver Glasner Einblicke in seine Offensivideen für Eintracht Frankfurt gegeben. Er plant mit den Flanken von Filip Kostic und spricht ein Sonderlob für einen Youngster aus."
                            author="Stephan Reich"
                    }}
                </div>
                <div class="mt-8">
                    {{> components/Teaser 
                            variant="Serif"
                            teaserSize="100"
                            topline="So plant Glasner bei der Eintracht"
                            headline="Silvas Erbe wird auf mehrere Schultern verteilt"
                            teaserText="Nach dem Abgang von André Silva und dem Zugang von Santos Borré hat Trainer Oliver Glasner Einblicke in seine Offensivideen für Eintracht Frankfurt gegeben. Er plant mit den Flanken von Filip Kostic und spricht ein Sonderlob für einen Youngster aus."
                            author="Stephan Reich"
                    }}
                </div>
                <div class="mt-8">
                    {{> components/Teaser 
                            variant="Serif"
                            teaserSize="100"
                            topline="So plant Glasner bei der Eintracht"
                            headline="Silvas Erbe wird auf mehrere Schultern verteilt"
                            teaserText="Nach dem Abgang von André Silva und dem Zugang von Santos Borré hat Trainer Oliver Glasner Einblicke in seine Offensivideen für Eintracht Frankfurt gegeben. Er plant mit den Flanken von Filip Kostic und spricht ein Sonderlob für einen Youngster aus."
                            author="Stephan Reich"
                    }}
                </div>
                <div class="mt-8">
                    {{> components/Teaser 
                            variant="Serif"
                            teaserSize="100"
                            topline="So plant Glasner bei der Eintracht"
                            headline="Silvas Erbe wird auf mehrere Schultern verteilt"
                            teaserText="Nach dem Abgang von André Silva und dem Zugang von Santos Borré hat Trainer Oliver Glasner Einblicke in seine Offensivideen für Eintracht Frankfurt gegeben. Er plant mit den Flanken von Filip Kostic und spricht ein Sonderlob für einen Youngster aus."
                            author="Stephan Reich"
                    }}
                </div>
                <div class="mt-8">
                    {{> components/Teaser 
                            variant="Serif"
                            teaserSize="100"
                            topline="So plant Glasner bei der Eintracht"
                            headline="Silvas Erbe wird auf mehrere Schultern verteilt"
                            teaserText="Nach dem Abgang von André Silva und dem Zugang von Santos Borré hat Trainer Oliver Glasner Einblicke in seine Offensivideen für Eintracht Frankfurt gegeben. Er plant mit den Flanken von Filip Kostic und spricht ein Sonderlob für einen Youngster aus."
                            author="Stephan Reich"
                    }}
                </div>

            </main>

        </div>
    </body>
</html>