<!DOCTYPE html>
<html 
    class="no-js no-js-burgerMenu preload noMicroInteraction"
    data-theme="hessenschau" 
    lang="de"
>
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
        <title>hessenschau.de | Nachrichten aus Hessen</title>
        <meta name="application-name" content="hessenschau.de" />
        <meta name="copyright" content="Hessischer Rundfunk, Frankfurt, Germany" />
        <meta name="author" content="hessenschau.de, Frankfurt, Germany" />
        <meta name="publisher" content="hessenschau.de" />
        <meta name="language" content="Deutsch" />

    </head>

    <body itemscope itemtype="http://schema.org/WebPage">
        <div class="js-pageSwap">
                      
            {{> components/site_header/header }}          
            
            <main 
                onclick="void(0)" 
                role="main" 
                id="content"
                class="flex items-center justify-center"
            >
                <div class="grid grid-page">
                    <div class="grid grid-cols-12 py-6 bg-white sm:px-8 col-full sm:col-main gap-x-6 gap-y-6">
                    <section class="grid items-start content-start grid-cols-12 col-span-12 bg-white gap-x-6 gap-y-6 ">
                        {{> components/teaser/teaser_standard }}
                    </section>
                    <section class="grid items-start content-start grid-cols-12 col-span-12 bg-white gap-x-6 gap-y-6 ">
                        {{> components/teaser/content_nav/teaser_content_nav teasersize="100"}}
                    </section>
                    <section class="grid items-start content-start grid-cols-12 col-span-12 bg-white gap-x-6 gap-y-6 ">
                        {{> components/teaser/content_nav/teaser_content_nav teasersize="50"}}
                        {{> components/teaser/content_nav/teaser_content_nav teasersize="50"}}
                    </section>
                    <section class="grid items-start content-start grid-cols-12 col-span-12 bg-white gap-x-6 gap-y-6 ">
                        {{> components/teaser/teaser_standard teasersize="50"}}
                        {{> components/teaser/teaser_standard teasersize="50"}}
                    </section>
                    <section class="grid items-start content-start grid-cols-12 col-span-12 bg-white gap-x-6 gap-y-6 ">
                        {{> components/teaser/teaser_standard teasersize="33"}}
                        {{> components/teaser/teaser_standard teasersize="33"}}
                        {{> components/teaser/teaser_standard teasersize="33"}}
                    </section>
                    <div class="grid items-start content-start grid-cols-12 col-span-12 bg-white gap-x-6 gap-y-6 ">
                        {{> components/teaser/teaser_standard teasersize="50"}}
                        {{> components/teaser/teaser_standard teasersize="50"}}
                    </div>               
                    <div class="grid items-start content-start grid-cols-12 col-span-12 bg-white gap-x-6 gap-y-6 ">
                        {{> components/teaser/teaser_standard teasersize="33"}}
                        {{> components/teaser/teaser_standard teasersize="33"}}
                        {{> components/teaser/teaser_standard teasersize="33"}}
                    </div>
                    <div class="grid items-start content-start grid-cols-12 col-span-12 bg-white gap-x-6 gap-y-6 ">
                        {{> components/teaser/teaser_standard teasersize="50"}}
                        {{> components/teaser/teaser_standard teasersize="50"}}
                    </div>
                    </div>
                </div>
            </main>

        </div>
    </body>
</html>
