{{~#partial "staticHeader"~}}
    <link rel="preconnect" href="//mp3podcasthr-a.akamaihd.net/">
{{~/partial~}}

{{~#partial "body" ~}}
    <div class="o-wrapper u-content-background">
        {{> components/page/podcast/podcast_playlist_article }}
    </div>
{{~/partial~}}

{{~> modules/page/base ~}}