<button class="js-load btn bg-lime-900 {{inline-switch size '["sm","lg","xl"]' '["btn--sm","btn--lg","btn--xl","btn--md"]'}} {{inline-switch type '["secondary"]' '["btn--secondary","btn--primary"]'}}" >
    {{label}}
</button>
<div class="js-load outer" data-new-hr-foo='{"test":"bar"}'>
    <div class="inner"></div>
</div>


