
<span class="px-2 inline-block tracking-wide text-white text-base font-heading {{inline-switch labelType "media,event,breakingnews" "bg-labelMedia, bg-labelEvent, bg-labelBreakingnews"}}">{{labelText}}</span>