<article class="flex col-span-12">
     
    <article class="flex flex-col border-labelEventCalendarTitle border gap-x-4"> 
    <div class="flex border-teal-600 border gap-x-4 items-center justify-center bg-labelEventCalendarTitle"> 
        <span class="text-white text-base text-lg
                                    ">Eventkalender</span></div>
            <div class="relative" data-hr-native-scroll="{"isTeaser":"true"}">
                <button class="block border-0 ml-4 absolute left-0 min-w-3 min-h-3 top-1/2 js-ns-button -left">
                    {{> components/base/image/icon _icon="arrow-left" _iconmap="icons" _addClass="w-5 h-5 fill-current" }}
                </button>
                <button class="block border-0 mr-4 absolute right-0 min-w-3 min-h-3 top-1/2 js-ns-button -right">
                    {{> components/base/image/icon _icon="arrow-right" _iconmap="icons" _addClass="w-5 h-5 fill-current" }}
                </button>
                <div class="flex relative max-w-100vw ml-14 mr-14 overflow-hidden box-border border-teal-600">
                    <div class="flex mb-0 overflow-x-auto overflow-y-hidden whitespace-nowrap">
                <ul class="flex flex-col items-center justify-center border-teal-600 border-l ml-4 mr-4">
                    <div class="flex h-full px-2 py-2.72">
                    <span class="block font-headingSerif font-bold w-24 sticky left-0 px-2 py-3 ">Aug 21</span>
                    </div>
                    <div class="flex">
                <div class="inline-block h-full group cursor-pointer">
                        <span class="block italic text-center group-hover:bg-black group-hover:text-white">FR</span>
                        <span class="block font-headingSerif font-bold text-labelEventCalendarTitle italic text-2xl px-3 pt-1.6 pb-0 group-hover:bg-black group-hover:text-white">13</span>
                </div>
                <div class="inline-block h-full group cursor-pointer">
                        <span class="block italic text-center group-hover:bg-black group-hover:text-white">SA</span>
                        <span class="block font-headingSerif font-bold text-labelEventCalendarTitle italic text-2xl px-3 pt-1.6 pb-0 group-hover:bg-black group-hover:text-white">14</span>
                </div>
                <div class="inline-block group h-full cursor-pointer">
                        <span class="block italic text-center group-hover:bg-black group-hover:text-white">SO</span>
                        <span class="block font-headingSerif font-bold group-hover:bg-black group-hover:text-white text-labelEventCalendarTitle italic text-2xl px-3 pt-1.6 pb-0">15</span>
                </div>
                </div>
                    </ul>
                    <ul class="flex flex-col items-center justify-center border-teal-600 border-l ml-4 mr-4">
                        <div class="flex h-full">
                           <span class="block font-headingSerif font-bold w-24 sticky left-0 px-2 py-3 ">Sep 21</span>
                        </div>
                        <li class="inline-block group h-full cursor-pointer">
                            <div class="block h-full px-0 py-1.6">
                                <span class="block italic group-hover:bg-black group-hover:text-white text-center">FR</span>
                                <span class="block font-headingSerif group-hover:bg-black group-hover:text-white font-bold text-labelEventCalendarTitle italic text-2xl px-3 pt-1.6 pb-0">13</span>
                            </div>
                        </li>
                    </ul>
                    <ul class="flex flex-col items-center justify-center border-teal-600 border-l ml-4 mr-4">
                    <div class="flex h-full">
                    <span class="block font-headingSerif font-bold w-24 sticky left-0 px-2 py-3 ">Okt 21</span>
                    </div>
                    <div class="flex">
                        <div class="block h-full px-0 py-1.6 group cursor-pointer">
                        <span class="block italic group-hover:bg-black group-hover:text-white text-center">FR</span>
                        <span class="block font-headingSerif group-hover:bg-black group-hover:text-white font-bold text-labelEventCalendarTitle italic text-2xl px-3 pt-1.6 pb-0">13</span>
                        </div>
                        <div class="block h-full px-0 py-1.6 group cursor-pointer">
                        <span class="block italic group-hover:bg-black group-hover:text-white text-center">SAT</span>
                        <span class="block font-headingSerif group-hover:bg-black group-hover:text-white font-bold text-labelEventCalendarTitle italic text-2xl px-3 pt-1.6 pb-0">14</span>
                        </div>
                        </div>
                    </ul>
                    <ul class="flex flex-col items-center justify-center border-teal-600 border-l ml-4 mr-4">
                    <div class="flex h-full">
                    <span class="block font-headingSerif font-bold w-24 sticky left-0 px-2 py-3 ">Nov 21</span>
                    </div>
                    <div class="flex">
                        <div class="block h-full group px-0 py-1.6 cursor-pointer">
                        <span class="block italic group-hover:bg-black group-hover:text-white text-center">FR</span>
                        <span class="block font-headingSerif font-bold group-hover:bg-black group-hover:text-white text-labelEventCalendarTitle italic text-2xl px-3 pt-1.6 pb-0">13</span>
                        </div>
                        <div class="block h-full group px-0 py-1.6 cursor-pointer">
                        <span class="block italic group-hover:bg-black group-hover:text-white text-center">SAT</span>
                        <span class="block font-headingSerif group-hover:bg-black group-hover:text-white font-bold text-labelEventCalendarTitle italic text-2xl px-3 pt-1.6 pb-0">14</span>
                        </div>
                        <div class="block h-full group px-0 py-1.6 cursor-pointer">
                        <span class="block italic group-hover:bg-black group-hover:text-white text-center">SU</span>
                        <span class="block font-headingSerif group-hover:bg-black group-hover:text-white font-bold text-labelEventCalendarTitle italic text-2xl px-3 pt-1.6 pb-0">15</span>
                        </div>
                        <div class="block h-full group px-0 py-1.6 cursor-pointer">
                        <span class="block italic group-hover:bg-black group-hover:text-white text-center">MO</span>
                        <span class="block font-headingSerif group-hover:bg-black group-hover:text-white font-bold text-labelEventCalendarTitle italic text-2xl px-3 pt-1.6 pb-0">16</span>
                        </div>
                        <div class="block h-full group px-0 py-1.6 cursor-pointer">
                        <span class="block italic group-hover:bg-black group-hover:text-white text-center">DI</span>
                        <span class="block font-headingSerif group-hover:bg-black group-hover:text-white font-bold text-labelEventCalendarTitle italic text-2xl px-3 pt-1.6 pb-0">17</span>
                        </div>
                        <div class="block h-full group px-0 py-1.6 cursor-pointer">
                        <span class="block italic group-hover:bg-black group-hover:text-white text-center">MI</span>
                        <span class="block font-headingSerif group-hover:bg-black group-hover:text-white font-bold text-labelEventCalendarTitle italic text-2xl px-3 pt-1.6 pb-0">18</span>
                        </div>
                        </div>
                    </ul>
                    </div>
                    </div>
            </div>
    <article class="flex col-span-12 border-bottom-8 border-labelEventCalendarTitle border md:flex-row gap-y-3 gap-x-4 md:px-0"
        x-data="{ avStart: false }"
        {{#if this.isMobile1to1}}
            :class="avStart ? 'flex-col' : 'flex-row'"
        {{/if}} 
    >
    <div class="flex flex-col items-center justify-center p-4 border-dashed border-r border-labelEventCalendarTitle">
                {{> components/event/instant_dates}}
            </div>
    <header class="pt-4 md:px-0{{#unless this.isMobile1to1}} px-5{{/unless}}">
        {{#>components/base/link _css="hover:text-toplineColor" _doTracking=(if this.doTracking 'true') _clickLabelPrefix1=this.teaserSize _clickLabelPrefix2="headlineLink" }} 
            {{> components/teaser/components/teaser_heading 
            _fontVariant=this.headingFontVariant
            _headlineTag=this.headlineTag 
            _label=this.label 
            _readMore=this.link.readMoreText.readMoreScreenreader 
            _size=this.teaserSize 
            _title=this.title 
            _topline=this.topline 
            _teaserType=this.teaserType
            _isMobile1to1=this.isMobile1to1}}            
        {{/components/base/link}}   
        <div>{{> components/event/concert_info}}</div>
    </header>
    <figure class="relative ar-16-9">
        {{> components/teaser/components/teaser_image }}
    </figure>
</article>
</article>
</article>