<article class="flex col-span-12">
    
<article class="flex col-span-12 border-y-8 border-teal-600 border md:flex-row gap-y-3 gap-x-4 md:px-0"
    x-data="{ avStart: false }"
    {{#if this.isMobile1to1}}
            :class="avStart ? 'flex-col' : 'flex-row'"
    {{/if}} 
    >
    <div class="flex flex-col items-center justify-center p-4 border-dashed border-r border-gray-400">
                {{> components/event/instant_dates}}
            </div>
    <header class="pt-4 md:px-0{{#unless this.isMobile1to1}} px-5{{/unless}}">
        {{#>components/base/link _css="hover:text-toplineColor" _doTracking=(if this.doTracking 'true') _clickLabelPrefix1=this.teaserSize _clickLabelPrefix2="headlineLink" }} 
            {{> components/teaser/components/teaser_heading 
            _fontVariant=this.headingFontVariant
            _headlineTag=this.headlineTag 
            _label=this.label 
            _readMore=this.link.readMoreText.readMoreScreenreader 
            _size=this.teaserSize 
            _title=this.title 
            _topline=this.topline 
            _teaserType=this.teaserType
            _isMobile1to1=this.isMobile1to1}}            
        {{/components/base/link}}   
        <div>{{> components/event/concert_info}}</div>
    </header>
    <figure class="relative ar-16-9">
        {{> components/teaser/components/teaser_image }}
    </figure>
</article>
</article>