<div class="static pl-4 pt-1 pb-3 sm:absolute sm:pl-0 sm:pt-0 sm:pb-0 sm:right-4 sm:bottom-4">
    {{#> components/button/button_v2 _id=(nextRandom) _size="lg"}}
        {{> components/button/components/button_icon _icon="ticket" _iconmap="icons" _css="mr-2"}}
        {{>components/button/components/button_label _label="Tickets"}}
    {{/components/button/button_v2}}
    {{#> components/modal/modal _trigger=(getRandom)}}
        {{#> components/teaser/components/teaser_headline}}
            {{> components/teaser/components/teaser_title _text=(loca 'ticket_modal_headline') _css="text-2xl"}}
        {{/components/teaser/components/teaser_headline}}
        <p class="text-base font-copy mt-2">{{loca "ticket_modal_text"}}</p>

        <div class="flex flex-wrap mt-4">
            {{> components/button/button_pseudo _linkCss="js-ticket-ok-button mr-4 mt-4 ds-button js-modal-close" _buttonText="Zum Ticketshop" _withLink="true"}}
            <button class="mt-4 ds-button" value="cancel">Abbrechen</button>
        </div>
    {{/components/modal/modal}}
    <noscript>
        <style>
            #{{getRandom}} {
                display:none;
            }
        </style>
            {{#> components/button/link_button _size="lg"}}
                {{> components/button/components/button_icon _icon="ticket" _iconmap="icons" _css="mr-2"}}
                {{>components/button/components/button_label _label="Tickets"}}
            {{/components/button/link_button}}
    </noscript>
</div>