        <div class="flex flex-wrap">
        {{#with this}}
                {{#with this.series}}
                    <span class="mt-2.5 -mb-1 text-2xl text-link">{{this.title}}</span>
                {{/with}}
                {{#with this.project}}
                    <span class="mt-2.5 -mb-1 text-2xl text-link">{{this.title}}</apan>
                {{/with}}
                {{#with this.externalProject}}
                    <span class="mt-2.5 -mb-1 text-2xl text-link">{{this}}</span>
                {{/with}}
        {{/with}}
        </div>