<article class="col-span-12">
    <div class="flex flex-col border-event-calendar-secondary border gap-x-4"> 
        <h2 class="flex font-bold py-2 gap-x-4 items-center justify-center bg-event-calendar-primary"> 
            <span class="text-white text-2xl leading-6 w-full text-center">Eventkalender</span>
        </h2>
        <div class="relative border-b border-event-calendar-secondary js-load" data-hr-native-scroll-ds='{"isTeaser":"true"}' data-hr-filterer-ds="{}">
            {{> components/event/event_calender_nav this.months}}
        </div>
        <div class="js-fr-content">
            {{#each this.months}}
                {{#each this.days}}
                    {{#each this.instants}}
                        {{#unless this.isDateInstant}}
                            {{> components/event/event_calendar_event_item _showItem=../this.isFirstAvailable _withConcertInfo=../../../_withConcertInfo}}
                        {{/unless}}
                    {{/each}}
                {{/each}}
            {{/each}}
        </div>
        <h4>
            {{#decorator 'components/base/link' _css="ds-teaser-link" }} 
                {{loca "event_calendar_monthly_overview_link"}}
            {{/decorator}}
        </h4>
    </div>
</article>