<article class="col-span-12">
    <div class="flex flex-col border-black border gap-x-4"> 
        <h2 class="flex border-teal-600 border font-bold py-2 gap-x-4 items-center justify-center bg-primary"> 
            <span class="text-white text-2xl leading-6 w-full text-center">Eventkalender</span>
        </h2>
        <div class="relative js-load" data-hr-native-scroll-ds='{"isTeaser":"true"}' data-hr-filterer-ds="{}">
            {{> components/event/event_calender_nav this.months}}
        </div>
        <div class="js-fr-content">
            {{#each this.months}}
                {{#each this.days}}
                    {{#each this.instants}}
                        {{#unless this.isDateInstant}}
                            <section id="{{this.startDate.htmlDate}}" class="flex col-span-12 border-bottom-8 border-black border md:flex-row gap-y-3 gap-x-4 md:px-0 js-fr-target {{#unless ../this.isFirstAvailable}}hidden{{/unless}}" x-data="{ avStart: false }">
                                {{> components/event/event_calendar_teaser}}
                            </section>
                        {{/unless}}
                    {{/each}}
                {{/each}}
            {{/each}}
        </div>
    </div>
</article>