<div class="static pl-4 pt-1 pb-3 sm:absolute sm:pl-0 sm:pt-0 sm:pb-0 sm:right-4 sm:bottom-4">
    {{#> components/button/button _id=(nextRandom) _size="lg"}}
        {{> components/button/components/button_icon _icon="ticket" _iconmap="icons" _css="mr-2"}}
        {{>components/button/components/button_label _label="Tickets"}}
    {{/components/button/button}}
    {{#> components/modal/modal _trigger=(getRandom)}}
        {{#> components/teaser/components/teaser_headline}}
            {{> components/teaser/components/teaser_title _text=(loca 'ticket_modal_headline') _css="text-2xl"}}
        {{/components/teaser/components/teaser_headline}}
        <p class="text-base font-copy mt-2">{{loca "ticket_modal_text"}}</p>

        <div class="flex flex-wrap mt-4">
            {{#> components/button/link_button _size="lg" _css="js-ticket-ok-button js-modal-close mr-4 mt-4"}}
                {{>components/button/components/button_label _label="Zum Ticketshop" _css=""}}
            {{/components/button/link_button}}
            {{#> components/button/button _size="lg" _variant="tertiary" _value="cancel" _css="mt-4"}}
                {{>components/button/components/button_label _label="Abbrechen" _css=""}}
            {{/components/button/button}}
        </div>
    {{/components/modal/modal}}
    <noscript>
        <style>
            #{{getRandom}} {
                display:none;
            }
        </style>
            {{#> components/button/link_button _size="lg"}}
                {{> components/button/components/button_icon _icon="ticket" _iconmap="icons"}}
                {{>components/button/components/button_label _label="Tickets"}}
            {{/components/button/link_button}}
    </noscript>
</div>