<div class="static pt-1 pb-3 pl-4 sm:absolute sm:pl-0 sm:pt-0 sm:pb-0 sm:right-4 sm:bottom-4">
    {{#with this}}
        {{#> components/button/button _css="js-user-consent-needed"_id=(nextRandom) _size="lg"}}
            {{> components/button/components/button_icon _icon="ticket" _iconmap="icons" _css="mr-2"}}
            {{>components/button/components/button_label _label="Tickets"}}
        {{/components/button/button}}
        {{#*inline "htmlProperties"~}}
        data-user-consent-url="{{this.link.url}}"
        data-user-consent-tracking-data="{{this.link.cmsDocument.trackingInformations.ticketLink}}"
        {{~/inline}}
    {{/with}}

    <noscript>
        <style>
            #{{getRandom}} {
                display:none;
            }
        </style>
            {{#> components/button/link_button _link=this.link _size="lg"}}
                {{> components/button/components/button_icon _icon="ticket" _iconmap="icons"}}
                {{>components/button/components/button_label _label="Tickets"}}
            {{/components/button/link_button}}
    </noscript>
</div>