<div class="border-none h-full">
    <div class="relative">
        <div class="flex flex-col sm:flex-row basis-full order-none align-top box-border">
            <div class="basis-full w-full order-2 py-1 sm:basis-7/12 sm:w-7/12 sm:order-1 h-full flex">
                <div class="flex flex-col  basis-2/12 align-top items-center justify-center p-4 border-dotted border-r border-event-calendar-secondary">
                    {{#with this.startDate}}
                        <span class='text-sm font-serif'>{{this.weekdayNameShort}}</span>
                        <span class='text-2xl font-serif font-bold'>{{this.day}}</span>
                        <span class='text-sm font-serif'>{{this.monthNameShort}}</span>
                    {{/with}}
                </div>
                <div class="flex  basis-10/12 -pt-4 box-border inline-block align-top">
                    <div class="flex items-center w-full">
                        <div class="absolute top-0 left-0 w-full sm:static">
                            <div class="ar-4-3 sm:ar-auto">
                                <div class="absolute bottom-0 left-0 p-4 sm:p-0 bg-white opacity-80 sm:static sm:bg-transparent">
                                    {{> components/teaser/components/teaser_heading 
                                        _fontVariant=this.headingFontVariant
                                        _headlineTag="h3"
                                        _label=this.label 
                                        _title=this.title 
                                        _topline=this.topline 
                                        _teaserType="calendar"
                                        _toplineCss="mt-4"}}      
                                    {{~#partial "headlineEnd"~}}
                                        {{> components/event/event_tags this.eventtags}}    
                                    {{/partial}}  
                                </div>
                            </div>
                        </div>
                        {{> components/event/event_details this}}
                    </div>
                </div> 
            </div>
            <figure class="basis-full w-full order-1 sm:basis-5/12 sm:w-5/12 sm:order-2 relative ar-4-3 sm:ar-16-9">
                {{> components/base/image/responsive_image this.image _type="event-teaser" _variant="100" _addClass="w-full"}}
            </figure>
        </div>
    </div>
    {{#unless _isExcerpt}}
        {{#with this.concertInfo}}
            {{#unless this.isEmpty}}
            <div class="flex flex-col grow-0 shrink basis-full py-7 w-full border-event-calendar-secondary border-t border-dotted">
                {{> components/event/concert_info}}
            </div>
            {{/unless}}
        {{/with}}
    {{/unless}}
</div>