        <div class="flex flex-wrap">
        {{#with this}}
                {{#with this.series}}
                    {{> components/event/event_tag _title=this.title}}
                {{/with}}
                {{#with this.project}}
                    {{> components/event/event_tag _title=this.title}}
                {{/with}}
                {{#with this.externalProject}}
                    {{> components/event/event_tag _title=this}}
                {{/with}}
        {{/with}}
        </div>