{{#with this.location}}
<p class="mt-4 -mb-2 text-stageText font-base">
    {{> components/base/image/icon _icon="ortsmarke" _iconmap="icons" _addClass="inline w-5 h-5 fill-current -mt-1 mr-1.5 -ml-1" }}
    {{#each this}}
            {{#unless @first}}<span class="mx-2 text-stageText">|</span>{{/unless}}
        {{this}}
    {{/each}}
</p>
{{/with}}