<article class="grid grid-page">
    <div class="grid grid-cols-12 col-full sm:col-main gap-x-6 gap-y-10 md:gap-y-14">
    <div class="grid order-1 w-full col-span-12 my-6 bg-highlight-1 rounded-tl-hr rounded-br-hr" >
        {{> components/podcast/podcast_playlist_player _type="podcastPlaylistArticlePlayer"}}

        {{~#if this.remainingPlaylistItems}}
            <div class="flex items-center justify-center pb-5 js-load"
                 data-hr-podcast-channel-remaining-episodes-loader='{"dynLoadTrigSelector":".js-load-remaining-items-button","dynLoadReplaceSelector":".js-placeholder-reload", "url":"{{this.reloadUrl}}"}'>
                {{#> components/button/link_button _size="lg" _title="Weitere Episoden laden" _type="button" _css="js-load-remaining-items-button" _link=this.allEpisodeUrl }}
                    {{> components/button/components/button_label _label="Weitere Episoden laden"}}
                    {{> components/button/components/button_icon _icon="reload" _iconmap="icons"}}
                {{/components/button/link_button}}
                {{#*inline "htmlProperties"}}
                    data-hr-click-tracking='{"settings": [{"type": "uxAction", "clickLabel": "weitereEpisodenLaden:ButtonClick"}]}'
                {{/inline}}
            </div>
            <div class="js-placeholder-reload"></div>
        {{~/if~}}
    </div>

    <aside class="grid order-2 col-span-3" aria-label='{{loca "appendix_title"}}'>
        <div class="c-appendix">
            {{#unless _webview}}
                {{~#with this.backLinkUrl ~}}
                    {{~> base/link/backlink _addClass="appendix__backlink" ~}}
                {{~/with~}}

                {{~#with this.socialSharing ~}}
                    {{~> modules/socialmedia/shareit ~}}
                {{~/with~}}
            {{/unless}}
            {{~#with this.programReference~}}
                {{~#if this.hasReference~}}
                    <div class="appendix__entry">
                        {{> modules/program_reference/program_reference }}
                    </div>
                {{~/if~}}
            {{~/with~}}
            {{~#with this.appendixLinks~}}

                <div class="appendix__entry">
                    <div class="o-layout">
                        <h4 class="appendix__headline text__headline">{{../this.appendixLinksTitle}}</h4>
                        <ul class="list -appendix -vertical">
                            {{#each this}}
                                <li class="list__item -noIndent">
                                    {{#decorator "base/link/link" _cssClasses="touchArea"}}
                                        {{this.content.title}}{{~#if
                                            this.hasIcon}}{{~> components/base/image/icon _icon=this.iconName _addClass="icon--primary icon--textRight" _iconmap="icons"~}}{{/if~}}
                                    {{/decorator}}
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            {{~/with~}}
        </div>
    </aside>
    </div>
</article>