{{~#partial "staticHeader"~}}
    <link rel="preconnect" href="//mp3podcasthr-a.akamaihd.net/">
{{~/partial~}}

{{~#partial "body" ~}}
    <div class="o-wrapper u-content-background">
        {{> components/article/components/podcast/podcast_playlist_article _webview=true}}
    </div>
{{~/partial~}}

{{~> modules/page/base _webview=true ~}}