<article class="grid grid-page">
    <div class="grid grid-cols-12 col-full sm:col-main gap-x-6 gap-y-10 md:gap-y-14">
    <div class="order-1 w-full col-span-12 my-6 md:col-span-9 bg-highlight-1 rounded-tl-hr rounded-br-hr" >
        {{> components/podcast/podcast_playlist_player_all_episodes _isArticlePlayer=true}}      
    </div>
    <aside class="grid order-2 col-span-3" aria-label='{{loca "appendix_title"}}'>
        <div class="c-appendix">
            {{#unless _webview}}
                {{~#with this.backLinkUrl ~}}
                    {{~> components/base/backlink _addClass="appendix__backlink" ~}}
                {{~/with~}}

                {{~#with this.socialSharing ~}}
                    {{~> components/socialmedia/socialmedia ~}}
                {{~/with~}}
            {{/unless}}
            {{~#with this.programReference~}}
                {{~#if this.hasReference~}}
                    <div class="flex flex-wrap">
                        {{> components/program_reference/program_reference }}
                    </div>
                {{~/if~}}
            {{~/with~}}
            {{~#with this.appendixLinks~}}

                <div class="appendix__entry">
                    <div class="o-layout">
                        <h4 class="appendix__headline text__headline">{{../this.appendixLinksTitle}}</h4>
                        <ul class="list -appendix -vertical">
                            {{#each this}}
                                <li class="text-primary">
                                    {{#>components/base/link _link=this.link _css="block hover:underline gap-x-1"}}
                                        {{this.title}}{{~#if this.link.hasIcon}}{{~> components/base/image/icon _icon=this.link.iconName _addClass="inline ml-1 -mt-0.5 w-4 h-4 fill-current" _iconmap="icons"~}}{{/if~}}
                                    {{/components/base/link}}
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>

            {{~/with~}}
        </div>
    </aside>
    </div>
</article>