<article class="grid grid-page">
    <div class="grid pt-6 col-main grid-content">
        <div class="p-5 head bg-highlight-1 dark:bg-highlight-1-dark rounded-tl-hr rounded-br-hr">
            {{> components/podcast/podcast_player _linkTitle=true _isSinglePage=true _isArticlePlayer=true}}
        </div>
        <div class="pt-6 pr-6 main">
            {{> components/podcast/components/podcast_player_shorttext }}
            {{> components/content/content_footer/content_footer
                    _author=this.audioAuthor
                    _showDate=this.hasDwellTime
                    _date=this.airdateDate
                    _copyright=this.copyright
                    _isArchiveContent=this.isArchiveContent
                    _posterCopyright="poster_copyright"}}
        </div>

        <aside class="order-4 pt-12 md:pt-6 md:px-6 aside md:order-2 "
               aria-label='{{loca "appendix_title"}}'>
            <div class="c-appendix">
                {{#unless _webview}}
                {{!--  {{~#with this.backLinkUrl ~}}
                        {{~> components/base/link/backlink _addClass="appendix__backlink" ~}}
                    {{~/with~}}

                    {{~#with this.geotag ~}}
                        {{~> modules/geotag/geotag-list ~}}
                    {{~/with~}}

                    {{~#with this.topictags ~}}
                        {{~> modules/topictag/topictag-list ~}}
                    {{~/with~}} --}}

                    {{~#with this.socialSharing ~}}
                        {{~> components/socialmedia/socialmedia ~}}
                    {{~/with~}}
                {{/unless}}
            </div>
        </aside>
    </div>
</article>

