<article class="grid grid-page">
    <div class="grid pt-6 col-main grid-content">
        <div class="main bg-highlight-1 dark:bg-highlight-1-dark rounded-tl-hr rounded-br-hr" >
            {{> components/podcast/podcast_playlist_player _isArticlePlayer=true}}

            {{~#if this.remainingPlaylistItems}}
                <div class="flex items-center justify-center pb-5 js-load"
                    data-hr-podcast-channel-remaining-episodes-loader='{"dynLoadTrigSelector":".js-load-remaining-items-button","dynLoadReplaceSelector":".js-placeholder-reload", "url":"{{this.reloadUrl}}"}'>
                    {{#> components/button/link_button _size="lg" _title="Weitere Episoden laden" _type="button" _css="js-load-remaining-items-button" _link=this.allEpisodeUrl }}
                        {{> components/button/components/button_label _label="Weitere Episoden laden"}}
                        {{> components/button/components/button_icon _icon="reload" _iconmap="icons"}}
                    {{/components/button/link_button}}
                    {{#*inline "htmlProperties"}}
                        data-hr-click-tracking='{"settings": [{"type": "uxAction", "clickLabel": "weitereEpisodenLaden:ButtonClick"}]}'
                    {{/inline}}
                </div>
                <div class="js-placeholder-reload"></div>
            {{~/if~}}
        </div>

    <aside class="order-4 pt-6 aside md:order-2 sm480:ml-8 sm:w-[220px]" aria-label='{{loca "appendix_title"}}'>
        <div class="flex flex-col first:border-t last:border-b py-6 gap-y-6 border-dotted border-[#797979]">
            {{#unless _webview}}
                {{~#with this.backLinkUrl ~}}
                    {{~> components/base/backlink ~}}
                {{~/with~}}

                {{~#with this.socialSharing ~}}
                    {{~> components/socialmedia/socialmedia ~}}
                {{~/with~}}
            {{/unless}}
            
            {{~#with this.programReference~}}
                {{~#if this.hasReference~}}
                    <div class="flex flex-wrap">
                        {{> components/program_reference/program_reference }}
                    </div>
                {{~/if~}}
            {{~/with~}}
           
            {{~#with this.appendixLinks~}}

                <div class="flex flex-wrap">
                    
                        <h4 class="text-sm uppercase font-headingSerif w-fit sm:w-full">{{../this.appendixLinksTitle}}</h4>
                        <ul class="flex flex-wrap pt-2 gap-x-4 w-fit sm:w-full">
                            {{#each this}}
                                <li class="w-fit sm:w-full text-primary">
                                    {{#>components/base/link _link=this.link _css="block hover:underline gap-x-1"}}
                                        {{this.title}}{{~#if this.link.hasIcon}}{{~> components/base/image/icon _icon=this.link.iconName _addClass="inline ml-1 -mt-0.5 w-4 h-4 fill-current" _iconmap="icons"~}}{{/if~}}
                                    {{/components/base/link}}
                                </li>
                            {{/each}}
                        </ul>
                    
                </div>
            {{~/with~}}
        </div>
    </aside>
    </div>
</article>