{{#with this.subNavigation}}
{{#unless this.showAsFlyout}}<div class="c-subNav__spacer -isFixed {{#unless ../this.selected}} -hideFlyout{{/unless}}"></div>{{/unless}}
    <div x-show="dropped" @click.away="dropped = false" x-init="console.log('initialised!')"
        class="flex flex-wrap w-full h-auto mx-2 bg-white">
        {{#unless ../this.isCluster ~}}
            <div class="w-full c-subNav__header">
                <div class="block p-5 text-gray-600 bg-blue-100 c-subNav__item hover:bg-blue-600 hover:text-white">              
                    <a href="#" class="c-subNav__link -isHeaderLink link js-loadScript" data-hr-click-tracking='{"settings": [{"type": "uxAction", "secondLevelId": "1", "clickLabel": "{{_navigationType}}::{{_parent}}::{{../this.flyoutStartLinkText}}-Link geklickt"}]}'>
                        {{../this.flyoutStartLinkText}}
                    </a>      
                </div>          
            </div>
        {{/unless}}
     
        {{#each this.columns}}  
            {{> components/Header/NavigationFlyout/NavigationFlyoutColumn }}
        {{/each~}}
    </div>
{{/with}}