<li class="flex h-auto py-2 pl-8 text-base border-b border-gray-400 md:border-0  {{#if ../../../../_isSectionNav }}md:pl-8{{else}}md:pl-0{{/if}} text-blue-science justify-left hover:underline">
    {{#>components/base/link}}
        {{content.text}}
    {{/components/base/link}} 
</li>