<li class="block p-2 text-gray-600 bg-white border-b border-gray-200 h-11 last:border-b-0 c-subNav__item hover:underline">
    {{#>components/base/link}}
        {{content.text}}
    {{/components/base/link}} 
</li>