{{#with this.subNavigation}}
    <div x-show="dropped" @click.away="dropped = false" x-init="console.log('initialised!')"
        class="absolute w-96 top-14 left-0 h-auto bg-white flex flex-wrap mx-2">
        <div class="c-subNav__header w-full">
            {{> components/Header/NavigationFlyout/NavigationFlyoutItem tagname="div" text=../this.flyoutStartLinkText}}
        </div>   
        {{#each this.columns}}  
            {{> components/Header/NavigationFlyout/NavigationFlyoutColumn }}
        {{/each~}}
    </div>
{{/with}}