
{{~#with this.socialSharing ~}}    
<div x-data="socialSharingHandler('mobilesticky')"
    class=" relative ml-5 z-100 h-9.5 w-9.5"
    :class="$store.footerIsVisible ? '-mt-6' : '-mt-12'"  
    x-on:resize.window="$store.sharingIsOpen.mobilesticky = false"    
    x-on:keydown.escape.prevent.stop="close()"
    @click.outside="close()"
    >
    <div class="absolute bottom-0 flex flex-col self-center gap-3 bg-white">
       
        <button 
            class="{{#with ../this.trackingData}}js-load {{/with}}order-2 p-2 text-white border border-button bg-button ds-button font-heading hover:bg-button--dark hover:border-button--dark active:bg-button--dark group lg:hidden"
            x-ref="button"
            x-on:click="toggle()"
            :aria-expanded="open"
            :aria-controls="$id('dropdown-button')"
            aria-label='{{loca "share_linktitle" }}'
            {{#with ../this.trackingData}}
                data-hr-click-tracking='{"settings": [{"type":"uxAction","secondLevelId": "{{this.secondLevelId}}","clickLabel": "socialShareClick::mobilesticky::sharingIconClicked"}]}'
            {{/with}}
            
            >
                {{> components/base/image/icon _addClass="w-5 h-5 fill-current group-hover:fill-link--dark" _icon="sharing" _iconmap="icons" }}
        </button>
        <div 
            x-ref="panel" 
            :class="$store.sharingIsOpen.mobilesticky ? 'flex' : 'hidden '"                    
            :id="$id('dropdown-button')"
            class="relative right-0 self-center bg-white md:h-auto lg:hidden"
        >
            <ul class="flex flex-col gap-3 mt-2">  
                {{> components/social_sharing/social_sharing_icons _socialSharingType="mobilesticky" _trackingData=../this.trackingData}}
            </ul>
        </div>
    </div>
</div>
{{/with}}