<div x-show="$screen('lg') && $store.sharingIsVisible == false && document.querySelector('.copytextWrapper').offsetHeight > 220" x-init="$store.sharingIsOpen = false" class="sticky w-10 col-start-2 mt-6 z-100 h-fit"
    :class="{'top-[166px]':  $store.sectionNavIsVisible && $store.subNavIsVisible && $screen('lg') ,
            'top-[130px]':  $store.sectionNavIsVisible && !$store.subNavIsVisible && $screen('lg') ,
            'top-[85px]' : !$store.sectionNavIsVisible && $screen('lg')}"
>
    <div 
        class="relative right-0 p-1 bg-white md:h-auto">
            <ul class="flex flex-col gap-3">  
                {{> components/social_sharing/social_sharing_icons _socialSharingType="vertical-desktop" }}
            </ul>
    </div>
</div>