<div x-show="$screen('lg') && $store.sharingIsVisible == false" class="sticky w-10 col-start-2 mt-6 mb-12 h-fit"
    :class="{'top-[166px]':  $store.sectionNavIsVisible && $store.subNavIsVisible && $screen('lg') ,
            'top-[130px]':  $store.sectionNavIsVisible && !$store.subNavIsVisible && $screen('lg') ,
            'top-[85px]' : !$store.sectionNavIsVisible && $screen('lg')}"
>
    <div 
        class="relative right-0 p-1 bg-white md:h-auto">
            <ul class="flex flex-col gap-3">  
                {{> components/social_sharing/social_sharing_compact_icons }}
            </ul>
    </div>
</div>