{{~#with this.socialSharing ~}}
    <div 
        x-show="$screen('lg') && $store.sharingIsVisible == false && document.querySelector('.copytextWrapper').offsetHeight > 220" 
        x-init="" 
        class="print:hidden {{#unless ../_useSticky}}top-0 {{/unless}}sticky w-10 col-start-2 pt-6 z-100 h-fit"
        x-data="socialSharingHandler('vertical-desktop')"
        x-intersect="sharingModuleShown()"
        ax-load 
        x-ignore
        {{#if ../_useSticky}}
        :class="{'top-[142px]':  $store.sectionNavIsVisible && $store.subNavIsVisible && $screen('lg') ,
                'top-[106px]':  $store.sectionNavIsVisible && !$store.subNavIsVisible && $screen('lg') ,
                'top-[61px]' : !$store.sectionNavIsVisible && $screen('lg')}"
        {{/if}}
    >
        <div 
            class="relative right-0 p-1 bg-white md:h-auto">
                <ul class="flex flex-col gap-3">  
                    {{> components/social_sharing/social_sharing_icons _socialSharingType="vertical-desktop" _trackingData=../this.trackingData}}
                </ul>
        </div>
    </div>
{{/with}}