
<style type="text/css">
table {
    text-align: center;
    border: 1px solid #dadada;
}
tr {
    border: 1px solid #dadada;
}
td {
    border: 1px solid #dadada;
}
tr.icon-name {
    color: #fff;
    background-color: black;
}
</style>
<table>
      <tr>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#calendar-ds"></use>
            </svg>
        </td>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#copy-ds"></use>
            </svg>
        </td>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#facebook-ds"></use>
            </svg>
        </td>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#highlights-ds"></use>
            </svg>
        </td>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#hr-calendar-ds"></use>
            </svg>
        </td>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#hrcalendar-ds"></use>
            </svg>
        </td>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#instagram-ds"></use>
            </svg>
        </td>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#kontakt-ds"></use>
            </svg>
        </td>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#linkedin-ds"></use>
            </svg>
        </td>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#nachrichten-ds"></use>
            </svg>
        </td>
    </tr>
    <tr class="icon-name">
        <td>Programm</td>
        <td>Link kopieren</td>
        <td>Facebook</td>
        <td>Highlights</td>
        <td>HR Kalender</td>
        <td>HR Kalender</td>
        <td>Instagram</td>
        <td>Kontakt</td>
        <td>LinkedIn</td>
        <td>Nachrichten</td>
    </tr>
     <tr>
        <td>calendar-ds</td>
        <td>copy-ds</td>
        <td>facebook-ds</td>
        <td>highlights-ds</td>
        <td>hr-calendar-ds</td>
        <td>hrcalendar-ds</td>
        <td>instagram-ds</td>
        <td>kontakt-ds</td>
        <td>linkedin-ds</td>
        <td>nachrichten-ds</td>
        
    </tr>
    <tr>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#news-ds"></use>
            </svg>
        </td>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#playlist-ds"></use>
            </svg>
        </td>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#podcast-ds"></use>
            </svg>
        </td>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#push-ds"></use>
            </svg>
        </td>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#rss-ds"></use>
            </svg>
        </td>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#suche-ds"></use>
            </svg>
        </td>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#tickets-ds"></use>
            </svg>
        </td>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#tvprogram-ds"></use>
            </svg>
        </td>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#tvprogramm-ds"></use>
            </svg>
        </td>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#twitter-ds"></use>
            </svg>
        </td>
    </tr>
    <tr class="icon-name">
        <td>News</td>
        <td>Playlist</td>
        <td>Podcasts</td>
        <td>Push</td>
        <td>RSS</td>
        <td>Suche</td>
        <td>Tickets</td>
        <td>TV-Programm</td>
        <td>TV-Programm</td>
        <td>Twitter</td>
    </tr>
    <tr>
        <td>news-ds</td>
        <td>playlist-ds</td>
        <td>podcast-ds</td>
        <td>push-ds</td>
        <td>rss-ds</td>
        <td>suche-ds</td>
        <td>tickets-ds</td>
        <td>tvprogram-ds</td>
        <td>tvprogramm-ds</td>
        <td>twitter-ds</td>
        
    </tr>
    <tr>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#verkehr-ds"></use>
            </svg>
        </td>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#video-ds"></use>
            </svg>
        </td>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#videopodcast-ds"></use>
            </svg>
        </td>
         <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#voice-ds"></use>
            </svg>
        </td>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#wetter-ds"></use>
            </svg>
        </td>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#whatsapp-ds"></use>
            </svg>
        </td>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#x-ds"></use>
            </svg>
        </td>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#youtube-ds"></use>
            </svg>
        </td>
    </tr>
    <tr class="icon-name">
        <td>Verkehr</td>
        <td>Video</td>
        <td>Video/Podcast</td>
        <td>Voice</td>
        <td>Wetter</td>
        <td>Whatsapp</td>
        <td>X</td>
        <td>Youtube</td>
    </tr>
    <tr>
        <td>verkehr-ds</td>
        <td>video-ds</td>
        <td>videopodcast-ds</td>
        <td>voice-ds</td>
        <td>wetter-ds</td>
        <td>whatsapp-ds</td>
        <td>x-ds</td>
        <td>youtube-ds</td>
    </tr>
</table>