
<style type="text/css">
table {
    text-align: center;
    border: 1px solid #dadada;
}
tr {
    border: 1px solid #dadada;
}
td {
    border: 1px solid #dadada;
}
tr.icon-name {
    color: #fff;
    background-color: black;
}
</style>
<table>
      <tr>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#arrow-down"></use>
            </svg>
        </td>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#arrow-left"></use>
            </svg>
        </td>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#arrow-right"></use>
            </svg>
        </td>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#arrow-up"></use>
            </svg>
        </td>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#audio_button"></use>
            </svg>
        </td>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#audio"></use>
            </svg>
        </td>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#burger--weiss"></use>
            </svg>
        </td>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#calendar-appendix"></use>
            </svg>
        </td>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#calendar"></use>
            </svg>
        </td>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#check"></use>
            </svg>
        </td>
    </tr>
    <tr class="icon-name">
        <td>Pfeil Runter</td>
        <td>Pfeil Links</td>
        <td>Pfeil Rechts</td>
        <td>Pfeil Hoch</td>
        <td>Audio Button</td>
        <td>Audio</td>
        <td>Burger</td>
        <td>Kalender Appendix</td>
        <td>Kalender</td>
        <td>Check</td>
    </tr>
     <tr>
        <td>calendar-ds</td>
        <td>copy-ds</td>
        <td>facebook-ds</td>
        <td>highlights-ds</td>
        <td>hr-calendar-ds</td>
        <td>hrcalendar-ds</td>
        <td>instagram-ds</td>
        <td>kontakt-ds</td>
        <td>linkedin-ds</td>
        <td>nachrichten-ds</td>
        
    </tr>
    <tr>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#clock"></use>
            </svg>
        </td>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#close"></use>
            </svg>
        </td>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#copy"></use>
            </svg>
        </td>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#copyright"></use>
            </svg>
        </td>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#dot-burger"></use>
            </svg>
        </td>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#doublearrowsup"></use>
            </svg>
        </td>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#download-button"></use>
            </svg>
        </td>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#download-neu"></use>
            </svg>
        </td>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#download"></use>
            </svg>
        </td>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#dsgvo"></use>
            </svg>
        </td>
    </tr>
    <tr class="icon-name">
        <td>Uhr</td>
        <td>Schliessen</td>
        <td>Kopieren</td>
        <td>Copyright</td>
        <td>Burger mit Punkten</td>
        <td>Doppel-Pfeil Hoch</td>
        <td>Download-Button</td>
        <td>Download Neu</td>
        <td>Download</td>
        <td>DSGVO</td>
    </tr>
    <tr>
        <td>clock</td>
        <td>close</td>
        <td>copy</td>
        <td>copyright</td>
        <td>dot-burger</td>
        <td>doublearrowsup</td>
        <td>download-button</td>
        <td>download-neu</td>
        <td>download</td>
        <td>dsgvo</td>
      
    </tr>
    <tr>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#edit"></use>
            </svg>
        </td>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#error"></use>
            </svg>
        </td>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#extern"></use>
            </svg>
        </td>
         <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#facebook-freigestellt"></use>
            </svg>
        </td>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#facebook"></use>
            </svg>
        </td>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#first-image"></use>
            </svg>
        </td>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#gallery"></use>
            </svg>
        </td>
        <td>
            <svg class="svg-item" viewBox="0 0 100 100" width="100px" height="100px">
            <use xlink:href="./icons/icons/svgmap.min.svg#highlights"></use>
            </svg>
        </td>
    </tr>
    <tr class="icon-name">
        <td>Editieren</td>
        <td>Fehler</td>
        <td>Extern</td>
        <td>Facebook Freigestellt</td>
        <td>Facebook</td>
        <td>Erstes Bild</td>
        <td>Gallerie</td>
        <td>Highlights</td>
    </tr>
    <tr>
        <td>edit</td>
        <td>error</td>
        <td>extern</td>
        <td>facebook-freigestellt</td>
        <td>facebook</td>
        <td>first-image</td>
        <td>gallery</td>
        <td>highlights</td>
    </tr>
</table>