{{#with this.userComments ~}}
    <div class="mt-0.5">
        <span class="relative z-30 whitespace-nowrap">
            {{~#if (isStorybook)~}}
                {{> components/page/components/commentlink.ssi }}               
            {{else}}
                {{{this.ssi.comments-pageheaderDS}}}
            {{~/if~}}
        </span>
    </div>
{{/with}}