<div class="clear-both mt-3 border-y border-gray-scorpion">
    <div class="flex clear-both w-full my-2 sm:my-4">
        <div class="self-center">
            {{> components/page/components/author _hideFrom=false }}

            {{#if _showDate }}
                {{> components/page/components/publicationdate }}
            {{/if}}

            {{> components/page/components/commentlink }}
        </div>

        {{> components/page/components/socialsharing }}

    </div>
</div>