{{#unless this.hideMetadatabox}}
    <aside class="hrds-metadata-box clear-both mt-4 border-y border-gray-scorpion [&+.hrds-shorttext]:mt-5 dark:border-text-dark sm:mt-5">
        <div class="flex clear-both w-full my-4 sm:my-4">
            <div class="self-center">
                {{#> components/page/components/metadata_wrapper _hideFrom=false _isTicker=_isTicker }}
                    {{#if _showDate }}
                        {{> components/page/components/publicationdate _isTicker=_isTicker}}
                    {{/if}}
                    {{> components/page/components/commentinfo }}
                {{/components/page/components/metadata_wrapper }}
            </div>
            {{#unless _webview}}
                {{> components/social_sharing/social_sharing_horizontal }}
            {{/unless}}
        </div>
    </aside>
{{/unless}}