@layer utilities {
    .placeholder-text-xs::placeholder {
        @apply text-xs;
    }

    /*! ****************************/
    /*! Aspect Ratio with fallback */
    /*! ****************************/
    .ar-16-9 {
        aspect-ratio: 16 / 9;
    }

    @supports not (aspect-ratio: 16 / 9) {
        .ar-16-9::before {
            float: left;
            padding-top: 56.25%;
            content: '';
        }

        .ar-16-19::after {
            display: block;
            content: '';
            clear: both;
        }
    }

    .ar-4-3 {
        aspect-ratio: 4 / 3;
    }

    @supports not (aspect-ratio: 4 / 3) {
        .ar-4-3::before {
            float: left;
            padding-top: calc(4 / 3 * 100%);
            content: '';
        }

        .ar-4-3::after {
            display: block;
            content: '';
            clear: both;
        }
    }

    .ar-1-1 {
        aspect-ratio: 1 / 1;
    }

    @supports not (aspect-ratio: 1 / 1) {
        .ar-1-1::before {
            float: left;
            padding-top: 100%;
            content: '';
        }

        .ar-1-1::after {
            display: block;
            content: '';
            clear: both;
        }
    }

    .ar-auto {
        aspect-ratio: auto;
    }

    @supports not (aspect-ratio: auto) {
        .ar-auto::before {
            float: initial;
            padding-top: 0;
            content: '';
        }

        .ar-auto::after {
            display: inline;
            content: '';
            clear: none;
        }
    }

    /*! ********************************/
    /*! Aspect Ratio with fallback end */
    /*! ********************************/

    .-video-podcast,
    .-news,
    .-weather,
    .-traffic {
        @apply fill-white;
    }

    .grid-page {
        grid-template-columns:
            [full-start] minmax(0, 1fr)
            [main-start] minmax(0, 63.75rem) [main-end]
            minmax(0, 1fr) [full-end];
    }

    .col-main {
        grid-column: main;
    }

    .col-full {
        grid-column: full;
    }

    .-currentBrand {
        @apply before:content-[''] md:before:relative md:before:-right-1/2 md:before:w-0 md:before:h-0 md:before:border-t-0 md:before:border-r-8 md:before:border-r-transparent md:before:border-l-8 md:before:border-l-white md:before:border-b-8 md:before:border-primary md:before:mt-6;
    }
    .-currentService {
        @apply before:content-[''] before:hidden lg:before:flex before:relative before:w-0 before:h-0 before:mr-4 before:mt-0 before:border-r-0 before:border-t-8 before:border-t-transparent before:border-l-8 before:border-l-white before:border-b-8 before:border-b-transparent lg:before:absolute lg:before:w-0 lg:before:h-0 lg:before:mr-0 lg:before:border-t-0 lg:before:border-r-8 lg:before:border-r-transparent lg:before:border-l-8 lg:before:border-l-transparent lg:before:border-b-8 lg:before:border-b-white lg:before:mt-12;
    }
    .-currentSection {
        @apply relative before:absolute before:content-[''] before:w-0 before:h-0 before:mr-2 before:-ml-4 before:border-r-0 before:border-t-7 before:border-t-transparent before:border-l-8 before:border-l-white before:border-b-7 before:border-b-transparent before:mb-0.5 lg:before:absolute lg:before:mb-0  lg:before:w-0 lg:before:h-0 lg:before:mr-0 lg:before:ml-0 lg:before:border-t-0 lg:before:border-r-8 lg:before:border-r-transparent lg:before:border-l-8 lg:before:border-l-transparent lg:before:border-b-8 lg:before:border-b-navigation-border lg:before:mt-8;
    }
    .-warnung {
        @apply text-red-600 !important;
        @apply fill-black;
    }
    .-warnung svg {
        @apply fill-black !important;
    }

    .link-focus-inset {
        @apply focus-visible:outline-none focus-visible:ring focus-visible:ring-inset focus-visible:ring-gray-scorpion/50;
    }
    .link-focus {
        @apply focus-visible:outline-none focus-visible:ring focus-visible:ring-gray-scorpion/50;
    }
    .link-focus-inset-white {
        @apply focus-visible:outline-none focus-visible:ring focus-visible:ring-inset focus-visible:ring-white/50;
    }
    .link-focus-white {
        @apply focus-visible:outline-none focus-visible:ring focus-visible:ring-white/50;
    }
    .-ordered {
        @apply counter-increment before:counter-result before:absolute before:bg-white before:pt-px before:rounded before:w-[23px] before:text-center before:tracking-wide before:text-black before:text-base before:font-heading;
    }

    /*! ****************************/
    /*! text-shadow                */
    /*! ****************************/

    .text-shadow {
        --color-text-shadow: theme('colors.black.DEFAULT');
        text-shadow: 1px 1px 2px var(--color-text-shadow, theme('colors.black.DEFAULT'));
    }

    /*! *********************************************************/
    /*! Prozentuale Breite bei Flexbox bei gleichzeitigem       */
    /*! nutzen von column-gap funktioniert nicht richtig.       */
    /*! Deshalb hier eine übergangslösung dafür.                */
    /*! Langfristig sollten die Teaser auf Grid umgebaut werden */
    /*! *********************************************************/

    .basis-1\/3-gap-4 {
        --gap: 1rem;
        width: calc((100% - (2 * var(--gap))) / 3);
        flex-basis: calc((100% - (2 * var(--gap))) / 3);
    }
    .basis-2\/3-gap-4 {
        --gap: 1rem;
        width: calc((((100% - (2 * var(--gap))) / 3) * 2) + var(--gap));
        flex-basis: calc((((100% - (2 * var(--gap))) / 3) * 2) + var(--gap));
    }
    .basis-1\/2-gap-4 {
        --gap: 1rem;
        width: calc((100% - var(--gap)) / 2);
        flex-basis: calc((100% - var(--gap)) / 2);
    }
    .basis-1\/4-gap-4 {
        --gap: 1rem;
        width: calc((100% - (4 * var(--gap))) / 4);
        flex-basis: calc((100% - (4 * var(--gap))) / 4);
    }

    .basis-3\/4-gap-4 {
        --gap: 1rem;
        width: calc((((100% - (4 * var(--gap))) / 4) * 3) + var(--gap));
        flex-basis: calc((((100% - (4 * var(--gap))) / 4) * 3) + var(--gap));
    }
    .basis-1\/3-gap-6 {
        --gap: 1.5rem;
        width: calc((100% - (2 * var(--gap))) / 3);
        flex-basis: calc((100% - (2 * var(--gap))) / 3);
    }
    .basis-2\/3-gap-6 {
        --gap: 1.5rem;
        width: calc((((100% - (2 * var(--gap))) / 3) * 2) + var(--gap));
        flex-basis: calc((((100% - (2 * var(--gap))) / 3) * 2) + var(--gap));
    }
    .basis-1\/2-gap-6 {
        --gap: 1.5rem;
        width: calc((100% - var(--gap)) / 2);
        flex-basis: calc((100% - var(--gap)) / 2);
    }
    .basis-1\/4-gap-6 {
        --gap: 1.5rem;
        width: calc((100% - (4 * var(--gap))) / 4);
        flex-basis: calc((100% - (4 * var(--gap))) / 4);
    }
    .basis-3\/4-gap-6 {
        --gap: 1.5rem;
        width: calc((((100% - (4 * var(--gap))) / 4) * 3) + var(--gap));
        flex-basis: calc((((100% - (4 * var(--gap))) / 4) * 3) + var(--gap));
    }

    /*! ****************************/
    /*! Event-Calendar             */
    /*! ****************************/
    .is-loading {
        @apply relative;

        @apply before:content-[''] before:absolute before:block before:inset-0 before:bg-white/70 before:z-10;
        @apply after:absolute after:block after:left-1/2 after:top-1/2 after:-translate-x-1/2 after:-translate-y-1/2 after:z-20;
    }

    .is-loading::after {
        content: attr(data-prop-loading);
    }
}
