@layer base {
    em {
        @apply italic;
    }
    @font-face {
        font-family: 'DIN';
        font-display: swap;
        src: url('fonts/DINWebPro.woff') format('woff');
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
    }
    @font-face {
        font-family: 'DIN';
        font-display: swap;
        src: url('fonts/DINWebPro-Bold.woff') format('woff');
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
    }
    @font-face {
        font-family: 'RobotoSlab';
        font-display: swap;
        src:    url('fonts/RobotoSlabbed.woff2') format('woff2'),
                url('fonts/RobotoSlabbed.woff') format('woff');
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
    }
    @font-face {
        font-family: 'RobotoCond';
        font-display: swap;
        src:    url('fonts/RobotoCondensed.woff2') format('woff2'),
                url('fonts/RobotoCondensed.woff') format('woff');
        font-weight: 400;
        font-style: normal;
        font-stretch: condensed;
    }
    @font-face {
        font-family: 'RobotoCond';
        font-display: swap;
        src:    url('fonts/RobotoCondensed-Bold.woff2') format('woff2'),
                url('fonts/RobotoCondensed-Bold.woff') format('woff');
        font-weight: 700;
        font-style: normal;
        font-stretch: condensed;
    }
    
    /*
    * FALLBACK-FONTS
    * Diese Fonts werden nur verwendet, wenn die Webfonts nicht geladen werden können.
    */
    @font-face {
        font-family: "DIN Fallback";

        /*
        * "Arial" ist meist der Familien-/Full-Name,
        * "ArialMT" ist ein verbreiteter PostScript-Name.
        */
        src:
            local("Arial"),
            local("ArialMT");

        font-style: normal;
        font-weight: 400;
        font-stretch: normal;

        size-adjust: 98%;
        ascent-override: 78%;
        descent-override: normal;
        line-gap-override: normal;
    }

    /* DIN Bold, 700 */
    @font-face {
        font-family: "DIN Fallback";

        src:
            local("Arial"),
            local("ArialMT");

        font-style: normal;
        font-weight: 700;
        font-stretch: normal;

        size-adjust: 98%;
        ascent-override: 78%;
        descent-override: normal;
        line-gap-override: normal;
    }

    @font-face {
        font-family: "RobotoSlab Fallback";

        src:
            local("Georgia"),
            local("Georgia Regular"),
            local("Georgia-Regular");

        font-style: normal;
        font-weight: 400;
        font-stretch: normal;

        size-adjust: 106%;
        ascent-override: 101%;
        descent-override: normal;
        line-gap-override: normal;
    }


    @font-face {
        font-family: "RobotoSlab Fallback";

        src:
            local("Georgia"),
            local("Georgia Regular"),
            local("Georgia-Regular");

        font-style: normal;
        font-weight: 700;
        font-stretch: normal;

        size-adjust: 106%;
        ascent-override: 101%;
        descent-override: normal;
        line-gap-override: normal;
    }


    @font-face {
        font-family: "RobotoCond Fallback";

        src:
            local("Arial Narrow"),
            local("ArialNarrow");

        font-style: normal;
        font-weight: 400;
        font-stretch: condensed;

        size-adjust: 100%;
        ascent-override: normal;
        descent-override: normal;
        line-gap-override: normal;
    }

    /* RobotoCond Bold, 700 */
    @font-face {
        font-family: "RobotoCond Fallback";

        src:
            local("Arial Narrow"),
            local("ArialNarrow");

        font-style: normal;
        font-weight: 700;
        font-stretch: condensed;

        size-adjust: 107%;
        ascent-override: 88%;
        descent-override: normal;
        line-gap-override: normal;
    }
}
