@layer components {
    [x-cloak] {
        display: none !important;
    }

    .btn {
        @apply inline-block font-sans font-bold leading-none cursor-pointer rounded-3xl;
    }

    .btn--primary {
        @apply text-white bg-blue-400;
    }

    .btn--secondary {
        @apply text-gray-700 bg-transparent shadow;
    }

    .btn--sm {
        @apply py-2.5 px-4 text-xs;
    }

    .btn--md {
        @apply px-5 py-3 text-sm;
    }

    .btn--lg {
        @apply px-6 py-3 text-base;
    }

    .btn--xl {
        @apply px-6 py-3 text-lg;
    }
    .headline-barrier {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .headline-barrier:before,
    .headline-barrier:after {
        content: '';
        border-top: 1px solid;
        margin: 3px 10px 0 0;
        flex: 1 0 20px;
    }

    .headline-barrier:after {
        margin: 3px 0 0 10px;
    }

    @media screen(md) {
        .headline-barrier:after {
            margin: 3px 0 0 20px;
        }
        .headline-barrier:before {
            margin: 3px 20px 0 0;
        }
    }

    /* PODCAST SEEK SLIDER*/
    .seek_slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 16px;
        height: 16px;
        background: #f07800;
        border: 2px solid white;
        cursor: pointer;
        border-radius: 50%;
    }
    .seek_slider::-moz-range-thumb {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 12px;
        height: 12px;
        background: #f07800;
        border: 2px solid white;
        cursor: pointer;
        border-radius: 50%;
    }

    .teaser-link:focus::before,
    .teaser-link:focus + .cta span {
        @apply shadow-teaser-focus;
        @apply shadow-focus-state;
    }

    .teaser-link:focus + .cta span {
        @apply bg-button-inverted;
        @apply text-button-hollow;
        @apply border-none;
    }

    .teaser-link:focus:not(:focus-visible)::before,
    .teaser-link:focus:not(:focus-visible) + .cta span {
        @apply shadow-none;
    }

    .teaser-link:focus:not(:focus-visible) + .cta span {
        @apply bg-transparent;
        @apply text-button-inverted;
        @apply border-solid;
    }

    .teaser-link:focus {
        @apply outline-none;
    }
}
