@layer components {
    [x-cloak] {
        display: none !important;
    }

    .btn {
        @apply inline-block font-sans font-bold leading-none cursor-pointer rounded-3xl;
    }

    .btn--primary {
        @apply text-white bg-blue-400;
    }

    .btn--secondary {
        @apply text-gray-700 bg-transparent shadow;
    }

    .btn--sm {
        @apply py-2.5 px-4 text-xs;
    }

    .btn--md {
        @apply px-5 py-3 text-sm;
    }

    .btn--lg {
        @apply px-6 py-3 text-base;
    }

    .btn--xl {
        @apply px-6 py-3 text-lg;
    }

    .headline-barrier {
        display: grid;
        grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
        align-items: self-start;
        text-align: center;
        grid-gap: 10px;
        width: 100%;
    }
    .headline-barrier:before,
    .headline-barrier:after {
        border-bottom: 1px solid;
        content: '';
        @apply pt-3.5 md:pt-5;
    }
    .justifyLine.headline-barrier:before,
    .justifyLine.headline-barrier:after {
        @apply pt-3.5;
    }

    /* PODCAST SEEK SLIDER*/
    .seek_slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 16px;
        height: 16px;
        background: var(--color-podcast-text);
        border: 2px solid white;
        cursor: pointer;
        border-radius: 50%;
    }
    .seek_slider::-moz-range-thumb {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 12px;
        height: 12px;
        background: var(--color-podcast-text);
        border: 2px solid white;
        cursor: pointer;
        border-radius: 50%;
    }

    /* CONTENT NAV ACCENTED GROUP MIXED*/

    .group-accented .autoSuggest .mixed-input {
        border-color: transparent !important;
        height: 32px;
        border-bottom: none;
    }

    .ds-focus {
        @apply z-20;
        @apply focus:shadow-teaser-focus focus:shadow-focus-state focus:outline-none;
    }

    .ds-focus:focus:not(:focus-visible) {
        @apply shadow-none;
    }

    .ds-button {
        @apply z-20;
        @apply focus:shadow-teaser-focus focus:shadow-focus-state focus:outline-none;
    }

    .ds-button:focus:not(:focus-visible) {
        @apply shadow-none;
    }

    .ds-button-round {
        @apply z-20;
        @apply focus:shadow-teaser-focus-big focus:shadow-focus-state focus:outline-none focus:rounded-full;
    }

    .ds-button-round:focus:not(:focus-visible) {
        @apply shadow-none;
    }

    .ds-link {
        @apply block focus:shadow-teaser-focus focus:shadow-focus-state focus:outline-none;
    }

    .ds-link:focus:not(:focus-visible) {
        @apply shadow-none;
    }

    .ds-link.ds-teaser-focus {
        @apply focus:shadow-none;
    }

    .ds-link-clusterTeaser {
        @apply block text-grey-scorpion focus:shadow-teaser-focus focus:shadow-focus-state focus:outline-none;
    }

    .ds-link-clusterTeaser:focus:not(:focus-visible) {
        @apply shadow-none;
    }

    .ds-link-inset {
        @apply block focus:ring-inset focus:ring-4 focus:outline-none focus:ring-focus-state;
    }

    .ds-link-inset:focus:not(:focus-visible) {
        @apply ring-0;
    }

    .ds-teaser-focus {
        @apply before:content-[''] before:absolute before:inset-0 before:z-10;
    }

    .ds-teaser-focus:focus::before,
    .ds-teaser-focus:focus + .ds-cta span {
        @apply shadow-teaser-focus;
        @apply shadow-focus-state;
    }

    .ds-teaser-focus:focus + .ds-cta span {
        @apply bg-button-inverted;
        @apply text-button-hollow;
        @apply border-none;
    }

    .ds-teaser-focus:focus:not(:focus-visible)::before,
    .ds-teaser-focus:focus:not(:focus-visible) + .ds-cta span {
        @apply shadow-none;
    }

    .ds-teaser-focus:focus:not(:focus-visible) + .ds-cta span {
        @apply bg-transparent;
        @apply text-button-inverted;
        @apply border-solid;
    }

    .ds-teaser-focus:focus {
        @apply outline-none;
    }
    /* ----------------Content NAV------------------ */
    /* ---------------- NAV ITEMS ------------------ */
    .content-nav-item {
        @apply h-10;
        @apply text-base;
        @apply font-copy;
        @apply list-none;
        @apply border-button;
        @apply fill-content-nav;
        @apply text-content-nav;
        @apply bg-white;
        @apply hover:bg-content-nav;
        @apply hover:fill-white;
        @apply hover:text-white;
        @apply hover:underline;
    }
    /* ----------------LIST - NAV ITEMS ------------------ */
    .content-nav-item.content-nav-item-list {
        @apply w-full;
        @apply border;
        @apply hover:no-underline;
    }
    .teaser-size-100 .content-nav-item.content-nav-item-list,
    .teaser-size-66 .content-nav-item.content-nav-item-list {
        @apply w-full;
        @apply md:w-fit;
    }
    /* ----------------FLOW - NAV ITEMS ------------------ */
    .content-nav-item.content-nav-item-flow {
        @apply w-fit;
        @apply border;
        @apply hover:no-underline;
    }
    /* ----------------MIXED - NAV ITEMS ------------------ */
    .teaser-size-100 .content-nav-item.content-nav-item-mixed,
    .teaser-size-66 .content-nav-item.content-nav-item-mixed {
        @apply md:w-fit;
        @apply md:mb-2;
        @apply md:mx-0;
        @apply md:mr-2;
        @apply md:!border;
        @apply md:border-content-nav;
        @apply md:hover:no-underline;
        @apply md:hover:text-white;
        @apply md:hover:!bg-content-nav;
        @apply md:hover:!fill-white;
    }
    .content-nav-item.content-nav-item-mixed {
        @apply w-full;
        @apply mb-0;
        @apply border-l-0;
        @apply border-r-0;
        @apply border-t-0;
        @apply border-b;
        @apply last:border-b-0;
        @apply border-gray-400;
        @apply hover:underline;
        @apply hover:text-content-nav;
        @apply hover:!bg-white;
        @apply hover:!fill-content-nav;
    }
    /* ----------------DROPDOWN - NAV ITEMS ------------------ */
    .content-nav-item.content-nav-item-dropdown {
        @apply w-full;
        @apply border-gray-400;
        @apply border-b;
        @apply last:border-b-0;
        @apply hover:underline;
        @apply hover:text-content-nav;
        @apply hover:!bg-white;
        @apply hover:!fill-content-nav;
    }
    /* ---------------- NAV DROPDOWN - DROPDOWN ------------------ */
    .content-nav-dropdown_dropdown.-isDropdown {
        @apply flex;
    }
    .content-nav-dropdown_dropdown.-isMixed {
        @apply flex;
    }
    .teaser-size-100 .content-nav-dropdown_dropdown.-isMixed,
    .teaser-size-66 .content-nav-dropdown_dropdown.-isMixed {
        @apply flex;
        @apply md:hidden;
    }
    /* ---------------- NAV DROPDOWN - CONTENT ------------------ */
    .content-nav-dropdown_content.-isOpen {
        @apply z-9999;
        @apply shadow-lg;
    }

    .content-nav-dropdown_content.-isDropdown.-isClosed {
        @apply z-10;
        @apply hidden;
    }
    /* ---------------- NAV DROPDOWN - CONTENT - MIXED------------------ */
    .content-nav-dropdown_content.-isMixed {
        @apply hidden;
    }
    .teaser-size-100 .content-nav-dropdown_content.-isMixed,
    .teaser-size-66 .content-nav-dropdown_content.-isMixed {
        @apply md:block;
    }
    .content-nav-dropdown_content.-isMixed.-isOpen {
        @apply block;
    }
    .teaser-size-100 .content-nav-dropdown_content.-isMixed.-isOpen,
    .teaser-size-66 .content-nav-dropdown_content.-isMixed.-isOpen {
        @apply md:shadow-none;
    }
    .teaser-size-100 .content-nav-dropdown_content.-isMixed.-isClosed,
    .teaser-size-66 .content-nav-dropdown_content.-isMixed.-isClosed {
        @apply z-10;
        @apply hidden;
        @apply md:block;
    }
}

/* ---------------------------- BUTTON ------------------------------ */
.ds-button-label + .ds-button-icon,
.ds-button-icon + .ds-button-label {
    @apply ml-2;
}
