:root {
  --color-primary: #005293;
  --color-secondary: #606060;

  /* Medieninhalte, Video, Audio, Bildergalerie */
  --color-label-media:        theme("colors.blue.science");
  /* Ticker, Live, Livestream */
  --color-label-live:         theme("colors.orange.spicyCarrot");
  /* Event */
  --color-label-event:        theme("colors.black.DEFAULT");
  /* Eilmeldung */
  --color-label-breakingnews: theme("colors.red.thunderbird");
  /* Kommentar */
  --color-label-comment:      theme("colors.teal.deeperPool");
  /* Infografik */
  --color-label-infografik:   theme("colors.pink.ripeRaspberries");
  /* Sendung */
  --color-label-program:      theme("colors.blue.pacificBlue");
  /* Download */
  --color-label-download:     theme("colors.grey.scorpion");
  /* Pressemitteilungen */
  --color-label-pm:           theme("colors.blue.deepCerulean"); 
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "DIN";
    font-display: auto;
    src: url("../fonts/DINPro.woff");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
  }
  @font-face {
    font-family: "DIN";
    font-display: auto;
    src: url("../fonts/DINPro-Bold.woff");
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
  }
  @font-face {
    font-family: "RobotoSlab";
    font-display: auto;
    src: url("../fonts/RobotoSlabbed.woff");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
  }
  @font-face {
    font-family: "RobotoCond";
    font-display: auto;
    src: url("../fonts/RobotoCondensed.woff");
    font-weight: 400;
    font-style: normal;
    font-stretch: condensed;
  }
  @font-face {
    font-family: "RobotoCond";
    font-display: auto;
    src: url("../fonts/RobotoCondensed-Bold.woff");
    font-weight: 700;
    font-style: normal;
    font-stretch: condensed;
  }
}

@layer components {
  .btn {
    @apply font-bold font-sans cursor-pointer inline-block leading-none rounded-3xl;
  }

  .btn--primary {
    @apply bg-blue-400 text-white;
  }

  .btn--secondary {
    @apply bg-transparent text-gray-700 shadow;
  }

  .btn--sm {
    @apply py-2.5 px-4 text-xs;
  }

  .btn--md {
    @apply py-3 px-5 text-sm;
  }

  .btn--lg {
    @apply py-3 px-6 text-base;
  }

  .btn--xl {
    @apply py-3 px-6 text-lg;
  }
}
