<div id="contentNavWrapper"
    x-ignore
    ax-load
    ax-load-src="/js/content_nav_alpine.js"
    x-data="contentNavigationHandler()"
    class="col-span-12 flex gap-y-3 gap-x-4 js-load {{inline-switch this.teasersize '["100","66","50","33","25"]' '["flex-col","md:col-span-9 md:flex-row ","md:col-span-6 md:flex-row "," md:col-span-4 md:flex-row "," md:col-span-3 md:flex-row "]'}}"
>
    {{> components/content_nav/content_nav _teasersize=this.teasersize }}           
</div>