<h3 class="mb-6 text-2xl md:text-3xl font-headingSerif sm:mb-12 text-text dark:text-text-dark">
{{this.title}}
</h3>
{{~> components/forms/components/input
        _type="email"
        _isEmail="true"
        _name="email"
        _label="E-Mail"
        _labelClass=""
        _description=""
        _required="true"
        _maxLength="140"
        _errorMandatory="Bitte füllen Sie dieses Pflichtfeld aus"
        _errorEmail="Bitte geben Sie eine gültige E-Mail-Adresse ein."
        _formId=../_formId
}}

{{> components/forms/components/choiceGroup
        _name="registrierung"
        _required=true
        _inputClass=""
        _type="radio"
        _locaKey="newsletter_subscribe_text"
        _inGroup=true
        _isHorizontalLayout=true
        _multipleChoice=false
        _formId=../_formId
        _items=this.items
}}

{{~> components/forms/components/input
        _name="INXMAIL_HTTP_REDIRECT"
        _type="hidden"
        _wrapperClass="hidden"
        _value=this.successLink
        _hasLabel=false
}}

{{~>components/forms/components/input
        _name="INXMAIL_HTTP_REDIRECT_ERROR"
        _type="hidden"
        _wrapperClass="hidden"
        _value=this.errorLink
        _hasLabel=false
}}

{{~> components/forms/components/input
        _name="backlink"
        _type="hidden"
        _wrapperClass="hidden"
        _value=this.backlinkUuid
        _hasLabel=false
}}