<div>

{{#with this.brandNavigation}}
        <ul class="flex justify-center">
            {{#each this}}
                {{> ./BrandNavigationItem }}
            {{/each}} 
        </ul>
    {{/with}}
</div>