<div class="text-gray border-b border-grey w-full ">
{{#with this.brandNavigationItems}}
        <ul class="flex justify-center text-sm">
            {{#each this}}
                {{> components/Header/BrandNavigation/BrandNavigationItem }}
            {{/each}} 
        </ul>
    {{/with}}
</div>