<div x-data="{ open: false }" class="container px-3.5 md:px-5 lg:px-10">
    <div class="flex m-0 p-0 list-none content-start flex-wrap md:-mx-2.5 border-b text-gray text-sm border-grey">

        <input x-on:click="open = ! open" class="absolute top-0 right-0 z-10 inline-block w-8 h-4 opacity-0 cursor-pointer md:hidden lg:hidden" type="checkbox" id="toggleBrandNav" aria-hidden="true" tabindex="-1">
            <label class="absolute right-0 inline-block w-4 h-4 top-2 md:hidden lg:hidden" for="toggleBrandNav" aria-hidden="true" tabindex="-1">
                <svg role="presentation" aria-hidden="true" :class="open ? 'w-4 w-full h-4 fill-current':'hidden'">
                    <use xlink:href="./icons/svgmap.min.svg#arrow-up"></use>
                </svg>
                <svg role="presentation" aria-hidden="true" :class="open ? 'hidden ':'w-4 w-full h-4 fill-current' ">
                    <use xlink:href="./icons/svgmap.min.svg#arrow-down"></use>
                </svg>
            </label>

        <nav id="brandNav" :class="open ? 'h-auto relative block leading-12 w-full px-2 align-top md:px-2.5 lg:h-10 lg:leading-8 ' : 'h-12 relative cursor-pointer block leading-12 w-full px-2 align-top md:px-2.5 lg:h-10 lg:leading-8'">
            <span id="brandNavHeading" class="hidden">Navigation der Marken des Hessischen Rundfunks</span>
                {{#with this.brandNavigationItems}}
                    <ul class="flex flex-wrap py-2 mr-16 lg:mr-0 ">
                        {{#each this}}
                            {{> components/Header/BrandNavigation/BrandNavigationItem }}
                        {{/each}} 
                    </ul>
                {{/with}}
        </nav>
    </div>
</div>