<li class="{{#if this.selected}} font-bold text-blue-science {{/if}} cursor-pointer inline-block h-12 px-4 first:pr-4 first:pl-0 hover:underline active:font-bold active:text-blue-science">   
   <a class="link flex justify-center {{#if this.selected}} -currentBrand {{/if}}" aria-label="{{this.name}}" href="{{resourceUrl "index.html" _site=this.site}}"{{#if this.extern}} target="_blank" rel="noopener noreferrer"{{/if}} data-hr-click-tracking='{"settings": [{"type": "uxAction", "secondLevelId": "1", "clickLabel": "Brandnavigation::{{this.text}}-Link geklickt"}]}'>{{this.text}}</a>
</li>