<li class="{{#if this.selected}} font-bold text-blue-congress {{/if}}  cursor-pointer inline-block h-8 pr-4 lg:hover:underline active:font-bold active:text-blue-science">   
   <a class="w-max link flex justify-center {{#if this.selected}} -currentBrand {{/if}}" aria-label="{{this.name}}" href="{{resourceUrl "index.html" _site=this.site}}"{{#if this.extern}} target="_blank" rel="noopener noreferrer"{{/if}} data-hr-click-tracking='{"settings": [{"type": "uxAction", "secondLevelId": "1", "clickLabel": "Brandnavigation::{{this.text}}-Link geklickt"}]}'>{{this.text}}</a>
</li>