<button
    class='js-load btn
        {{inline-switch size '["sm","lg","xl"]' '["btn--sm","btn--lg","btn--xl","btn--md"]'}}
        {{inline-switch type '["secondary"]' '["btn--secondary","btn--primary"]'}}'
>
    {{label}}
</button>
<div class='js-load outer' data-hr-foo='{"test":"bar"}'>
    <div class='inner'></div>
</div>