<div class="grid grid-page{{#if _webview}} mt-4 sm:mt-0{{/if}}">
    <{{#if _isArticle}}article{{else}}div{{/if}} class="grid items-baseline bg-white dark:bg-black grid-article">
        {{> @partial-block }}    
    </{{#if _isArticle}}article{{else}}div{{/if}}>
</div>