<header class="mt-6 sm480:mt-8">
    <h2>
        {{#if this.label }}
            {{#with this.label}}
                {{#> components/label/label_group}}
                    {{> components/label/label _type=this.type _text=(loca this.loca)}}
                {{/components/label/label_group}}
            {{/with}}         
        {{else}}   
            {{~#if topline}}
                <span class="block text-base sm480:text-xl font-heading">{{this.topline}}</span>
            {{/if~}}
        {{/if~}}
        <span class="text-3xl font-headingSerif sm480:text-4xl">{{this.title}}</span>
    </h2>
</header>