<article class="grid items-start bg-white dark:bg-black grid-article">
    <div class="mb-6 lg:mb-13 article-narrow md:article-breakout">
        header
    </div>
    <div class="c-ticker__timelineWrapper article-full-width lg:article-breakout">
        section
    </div>
</article>