<div class="mx-1 sm:ml-[1.531rem] sm:mr-6.5 px-4 sm:pl-[1.531rem] sm:pr-6.5 border-l-[3px] border-gray-boulder overflow-auto {{#if _showFullsize}}[&+h2]:mt-4 [&+.hrds-copytext-teaser-half]:mt-4 clear-both mt-12 mb-8 sm:[&+.hrds-copytext-teaser-half]:mt-0 sm:mt-14 sm:mb-14 {{else}}hrds-copytext-teaser-half mb-8 sm:mb-5 sm:mt-6 mt-12 w-full sm:w-1/2 sm:float-left{{/if}}{{#if _cssClasses}} {{_cssClasses}}{{/if}}">
    {{~> @partial-block ~}}
</div>