<div class="mx-1 sm:ml-[1.531rem] sm:mr-6.5 px-4 sm:pl-[1.531rem] sm:pr-6.5 border-l-[3px] border-gray-boulder overflow-auto {{#if _showFullsize}}[&+.hrds-copytext-teaser-half]:mt-4 clear-both mt-6 mb-2 [&:has(+h2)]:mb-0 sm:[&+.hrds-copytext-teaser-half]:mt-0 sm:my-8{{else}}hrds-copytext-teaser-half mt-6 mb-2 sm:mb-5 sm:mt-6 w-full sm:w-1/2 sm:float-left{{/if}}{{#if _cssClasses}} {{_cssClasses}}{{/if}}">
    {{~> @partial-block ~}}
</div>