<div class="ml-1 sm:ml-6 px-4 sm:px-6 border-l-[3px] border-gray-boulder {{#if _showFullsize}}clear-both my-12 sm:my-14 {{else}}mb-12 sm:mb-14 sm:mt-7 mt-12 mr-0 sm:mr-5 w-full sm:w-1/2 sm:float-left{{/if}}">
    {{~> @partial-block ~}}
</div>