<div>

    <div>
        Logo - Auslagern
    </div>
    {{#with this.serviceNavigationSSILinks}}
        <ul class="flex justify-center border border-gray-900">
            {{#each this.navigationItems}}
                {{> ./ServiceNavigationItem }}
            {{/each}} 
        </ul>
    {{/with}}
</div>