<li @click="dropped = !dropped" x-data="{dropped: false }"
    class="relative flex flex-col items-center border-l border-gray-900 first:border-l-0">   
    <svg role="presentation" aria-hidden="true" class="h-9 w-full">
        <use xlink:href="./icons/svgmap.min.svg#{{icon}}"></use>
    </svg>
    <div class="flex flex-row mt-px">
        <span class="mr-1 text-xs whitespace-nowrap">
            {{label}} 
        </span>
        <div class="opacity-70">
            <svg :class="dropped ? 'hidden' : 'h-4 w-4'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"/></svg>
            <svg :class="dropped ? 'h-4 w-4' : 'hidden'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z" clip-rule="evenodd"/>
            </svg>
        </div>
    </div>
    {{#with subNavigation}}
        {{> ./ServiceNavigationFlyout }}
    {{/with}}
</li>