<li class="order-1 w-full lg:mr-2 lg:w-auto lg:order-2">
    <ul class="flex flex-row flex-wrap items-center w-full p-4 text-left list-none lg:flex-nowrap bg-top-topic-background lg:p-0 lg:bg-transparent lg:h-10">
        {{#each this.items}}
            <li class="{{#unless @last}}mr-3 {{/unless}}">
                {{#> components/button/top_topics_button}}
                    <div class="sr-only">{{loca "label_top_thema"}}</div>  
                    {{> components/button/components/button_label _label=this.text _css="!leading-none"}}
                {{/components/button/top_topics_button}}
            </li>
        {{/each}} 
    </ul>
</li>