<li class="order-1 w-full lg:mr-2 lg:w-auto lg:order-2">
    <ul class="flex flex-row items-center w-full p-4 text-left list-none bg-gray-concrete lg:p-0 lg:bg-transparent lg:h-10">
        {{#each this.items}}
            <li class="{{#unless @last}}mr-3 {{/unless}}">
                {{#> components/button/chip}}
                    {{> components/button/components/button_label _label=this.text }}
                {{/components/button/chip}}
            </li>
        {{/each}} 
    </ul>
</li>