<li class="order-1 w-full mx-2 lg:w-auto lg:order-2">
    <ul class="flex flex-row items-center w-full p-4 text-left list-none bg-white lg:p-0 lg:bg-transparent lg:h-10">
        {{#each this.items}}
            <li class="{{#unless @last}}mr-3 {{/unless}}bg-gray-300 rounded px-1.5 pt-px inline-block w-auto tracking-wide text-blue-900 text-base leading-5.5 font-heading lg:mb-1 ">
                {{#decorator 'components/base/link'}}
                    {{text}}       
                {{/decorator}} 
            </li>
        {{/each}} 
    </ul>
</li>