<span
    class='px-4 py-2.5 border flex items-center
        {{inline-switch
            _type
            '["normal","hollow","hollow-white"]'
            '["text-button-inverted bg-button hover:bg-button-inverted hover:text-button-hollow hover:border-button-hollow","text-button-hollow border-button-hollow hover:bg-button-inverted","text-button-inverted border-button-inverted hover:bg-button-inverted hover:text-button-hollow hover:border-button-hollow","text-button-inverted bg-button hover:bg-button-inverted hover:text-button-hollow hover:border-button-hollow"]'
        }}
        font-heading{{#if _buttonCss}} {{_buttonCss}}{{/if}}'
>
    <span class="flex-1 truncate">
        {{_buttonText}}
    </span>
    <span>
        {{~#if _showIcon~}}
            {{> components/base/image/icon _icon=_icon _iconmap=_iconmap _addClass=_addClass _webview=_webview}}
        {{/if~}}
    </span>
</span>
