<span
    class='flex items-center font-heading{{inline-switch _shape '["rectangular","circle"]' '[" px-4 py-2.5"," rounded-full"," px-4 py-2.5"]'}}
        {{inline-switch
            _type
            '["hollow","hollow-white","inverted", "transparent"]'
            '["border text-button-hollow border-button-hollow hover:bg-button-inverted","border text-button-inverted border-button-inverted hover:bg-button-inverted hover:text-button-hollow hover:border-button-hollow","border text-button fill-button border-button bg-button-inverted hover:bg-button hover:text-button-inverted hover:fill-button-inverted hover:border-button-hollow","bg-transparent text-toplineColor fill-white hover:fill-toplineColor","border text-button-inverted bg-button hover:bg-button-inverted hover:text-button-hollow hover:border-button-hollow"]'
        }}
        {{#if _css}} {{_css}}{{/if}}'
>
    {{> @partial-block }}
</span>