{{~#each this.breadcrumb}}
    <li class="inline">
        <a href="{{this.url}}" class="{{> components/navigation/breadcrumb/utils/breadcrumb_link_classes}}">
            <span>{{this.title}}</span>
        </a>
        <span class="ds-icon-container inline-block">{{~> components/base/image/icon _icon="arrow-right" _addClass="mx-2 w-2 h-2 text-inherit fill-link" _iconmap="icons"~}}</span>
    </li>
{{/each~}}