{{#with this.bannerImage}}
    {{#if ../bannerLink}}
        <a href="{{../bannerLink}}">
    {{/if}}
    {{#unless ../_hideOnMobile }}
        {{~> components/base/image/responsive_image _type="banner" _variant="default" _addClass="" _noDelay="true" _title=(loca "banner_image_copyright" (strip this.copyrightWithLinks html)) ~}}
    {{else}}
        {{~> components/base/image/responsive_image _type="banner" _variant="mobileHidden" _addClass="hidden lg:block" _noDelay="true" _title=(loca "banner_image_copyright" (strip this.copyrightWithLinks html)) ~}}
    {{/unless}}
    {{#if ../bannerLink}}
        </a>
    {{/if}}
{{/with}}