<div class="grid grid-page {{#if this.structureNav.contentNav }}order-4{{else}}order-1 [&:has(+.-image)]:order-4 [&:has(+.-image)]:mb-0 lg:[&:has(+.-image)]:-mb-9  lg:[&:has(+.-image)]:order-1 bg-white lg:bg-transparent{{/if}}">
    <div class="col-full sm:col-main {{#if this.structureNav.contentNav }}bg-white{{/if}}">
        {{> @partial-block }}
    </div>
</div>