<div class="p-4 bg-slate-500">
    {{#> components/banner/header/specialInfo _invert="true"}}
        Special Info
    {{/components/banner/header/specialInfo }}
    {{#> components/banner/header/titleBackground _hasBackground=true}}
        {{#> components/banner/header/topline }}
            Dossier
        {{/components/banner/header/topline }}
        {{#> components/banner/header/headline ~}}
            Landtagswahl 2023
            {{~#> components/banner/header/additionalInfo ~}}
                AdditionalInfo
            {{~/components/banner/header/additionalInfo ~}}
        {{/components/banner/header/headline }}
        {{#> components/banner/header/byline }}
                Aktualisiert am 03.11.23 um 12:33 Uhr
        {{/components/banner/header/byline }}
    {{/components/banner/header/titleBackground }}
</div>
<div class="p-4">
    {{#> components/banner/header/specialInfo _invert="false"}}
        Special Info
    {{/components/banner/header/specialInfo }}
    {{#> components/banner/header/titleBackground _hasBackground=false}}
        {{#> components/banner/header/topline }}
            Dossier
        {{/components/banner/header/topline }}
        {{#> components/banner/header/headline ~}}
            Landtagswahl 2023
            {{~#> components/banner/header/additionalInfo ~}}
                AdditionalInfo
            {{~/components/banner/header/additionalInfo ~}}
        {{/components/banner/header/headline }}
        {{#> components/banner/header/byline }}
                Aktualisiert am 03.11.23 um 12:33 Uhr
        {{/components/banner/header/byline }}
    {{/components/banner/header/titleBackground }}
</div>