<span class="px-10 py-1.5 text-sm rounded-tr-lg font-headingSerif {{inline-switch _invert '["true","false"]' '["text-primary bg-white","text-white bg-primary","text-white bg-primary"]'}}">
    {{> @partial-block }}
</span>