<span class="px-5 md:px-5 lg:px-10 py-1.5 text-sm rounded-tr-lg inline-block leading-5 font-headingSerif {{inline-switch _invert '["true","false"]' '["text-structure-nav-text bg-structure-nav","text-primary bg-white","text-primary bg-white"]'}}">
    {{> @partial-block }}
</span>