<span class="px-5 md:px-10 py-1.5 text-sm rounded-tr-lg leading-5 font-headingSerif {{inline-switch _invert '["true","false"]' '["text-white bg-primary","text-primary bg-white","text-primary bg-white"]'}}">
    {{> @partial-block }}
</span>