{{> components/label/label _type="media" _text=(loca "label_voting")}}

<h2 class="clear-both mt-4 sm:mt-5">
    {{#if _topline}}
        <span class="block text-base font-heading sm:text-lg dark:text-text-dark">{{_topline}}</span>
    {{/if}}
    <span class="{{#if _topline}}mt-px{{/if}} block text-2xl sm:text-3xl font-headingSerif dark:text-text-dark">{{_title}}</span>
</h2>