{{!-- Shorttext --}}
{{#unless _isSinglePage}}
    {{#unless this.hideShortText}}
    {{~#with this.shorttext}}
        <div class="hidden pb-6 text-sm md:flex md:text-base font-copy">
        <span class="c-teaser__shorttext"> {{this}} </span>
        </div>
    {{/with~}}
    {{/unless}}
{{/unless}}