{{!-- Shorttext --}}
{{#unless _isSinglePage}}
    {{#unless this.hideShortText}}
    {{~#with this.shorttext}}
        <div class="hidden pb-6 text-sm md:flex md:text-xl font-copy dark:text-podcast-text-dark">
        <span class=""> {{this}} </span>
        </div>
    {{/with~}}
    {{/unless}}
{{/unless}}