
  {{#unless this.hideShortText}}
      {{~#with this.shorttext}}
          <div class="col-span-12 text-sm {{#if ../_isSinglePage}}md:text-xl {{else}} md:text-base{{/if}} font-copy dark:text-podcast-text-dark">
              <span class="c-teaser__shorttext"> {{this}} </span>
          </div>
      {{/with~}}
  {{/unless}}
