{{~#block "cache-entry"}}No cache entry defined!{{/block~}}
{{~#with this.relatedContent ~}}
    <aside class="o-layout dontPrint">
        <div class="grid mt-12 grid-page">
            {{~> components/teaser/group_teaser/group_teaser~}}
        </div>
    </aside>
{{~/with~}}