<div class="flex w-full pb-5 border-b border-white">
  <div class="flex flex-col grow">
    {{!-- First Row --}}
    <div class="flex flex-row px-5 md:pl-5 {{#if ../_ordered}} pl-8 {{/if}} ">
      <div class="flex flex-col pr-5 grow">
        <div class="flex max-h-6">
          {{!-- Label / Airdate --}}
          {{#with label}}
            <span
              class='sb-label mr-2 rounded px-1.5 pt-px inline-block tracking-wide text-white text-base leading-5.5 font-heading bg-labelMedia'>
              {{ loca this.loca }}
            </span>
          {{/with}}
        </div>

        {{!-- Überschrift: --}}
        <div class="flex pb-5 pr-2 md:pr-5">
          {{> components/podcast/components/podcast_title _title=this.title _teaserSize=this.realTeaserSize _addClass="" }}
        </div>

        {{> components/podcast/components/podcast_playlist_shorttext}}

        {{!-- Abo-Dropdown --}}
        {{#if this.isSingleChannel}}         
            {{> components/podcast/components/podcast_subscribe_button}}
        {{/if}} 
      
      </div>

      {{!-- Podcast Image --}}
      <div class="flex flex-col pb-5">
        <div class="w-22 {{inline-switch this.realTeaserSize '["100","50"]' '["md:w-32 lg:w-42","md:w-22 lg:w-32", ""]'}}">
          {{> components/base/image/responsive_image this.teaseritem
            _type="podcastEpisodePlayer"
            _variant="default"
            _addClass="overflow-hidden"
            _noDelay=this.dontLazyload
            _addClassImg="w-full block"
          }}
        </div>
      </div>
    </div>
    
  </div>
</div>

{{!-- Player UI --}}
<div  class="flex flex-col col-span-12 gap-5 px-5"
  x-data="playaudio()" 
  x-init="listenToGlobalStop()" 
  ax-load 
  x-ignore
  ax-load-src={{resourceUrl "assets/js/vendor/podcast_player.alpine.js" }}>
    {{#each this.allPlaylistItems}}
      <div class="flex pb-5 {{#unless @last}}border-white border-b{{/unless}}">
        {{> components/podcast/components/podcast_player_ui
          _isPlaylistPlayer=true
          _podcastDuration=this.duration
          _title=this.title
          _id=(nextRandom)
          _first=@first
        }}
      </div>
    {{/each}}
</div>