{{~#partial "body"~}}
    <article class="grid grid-page">
        <div class="grid col-main grid-article">
            {{#>components/forms/components/backgroundBox  }}  
                {{> components/forms/components/message _success=true _messageText="Das Formular wurde erfolgreich versendet." }}
            {{/components/forms/components/backgroundBox }}

            {{{ this.relatedContentSsi }}}
        </div>
    </article>
{{/partial}}

{{> modules/page/base }}