{{~#partial "body"~}}
    <article class="grid grid-page">
        <div class="grid pt-6 col-main grid-content">
            {{#>components/forms/components/backgroundBox  }}  
                {{> components/forms/components/message _success=true _messageText="Das Formular wurde erforlgreich versendet." }}
            {{/components/forms/components/backgroundBox }}

            {{{ this.relatedContentSsi }}}
        </div>
    </article>
{{/partial}}

{{> modules/page/base }}