<div class="flex items-center justify-center h-full fill-current">
    <nav x-data>
        <button {{!-- :class="$store.burgeropen ? 'text-blue-congress' : 'text-white'" --}}  
            class="relative w-10 h-10 text-white focus:outline-none bg-brand"
            @burger-close.window="$store.burgeropen = false, $dispatch('toggle-sectionnav', false)" 
            @click="$store.burgeropen = !$store.burgeropen, $dispatch('toggle-sectionnav',  $store.burgeropen)">

            <span class="sr-only md:hidden">Open main menu</span>
            <div class="absolute block w-6 transform -translate-x-1/2 -translate-y-1/2 left-1/2 top-1/2">
                <span aria-hidden="true" class="absolute block w-full h-px transition duration-500 ease-in-out transform bg-current " :class="$store.burgeropen ? 'rotate-45' : '-mt-2'"></span>
                <span aria-hidden="true" class="absolute block w-full h-px transition duration-500 ease-in-out transform bg-current" :class="{'opacity-0': $store.burgeropen } "></span>
                <span aria-hidden="true" class="absolute block w-full h-px transition duration-500 ease-in-out transform bg-current" :class="{'-rotate-45': $store.burgeropen, 'mt-2': ! $store.burgeropen }"></span>
            </div>
        </button>
    </nav>
</div>