<div x-data="{  }" 
     x-init="console.log('alpineJS is installed')"
     class="flex flex-wrap max-w-full border-b border-white bg-blue-science font-copy lg:justify-center lg:w-full">

    <div id="brandNavWrapper" class="relative z-0 flex items-center justify-center order-1 w-full bg-white border-b border-black">
        {{> components/Header/BrandNavigation/BrandNavigation }}
    </div>


    <div id="serviceNavWrapper" class="relative flex justify-center order-2 w-full border-b border-white bg-blue-science z-101">
       
        <div id="serviceNavMainContainer" class="flex h-12 md:h-14 lg:h-16 container px-3.5 md:px-5 lg:px-10">
            <span class="hidden c-serviceNav__headline" id="serviceNavHeadline">Service Navigation</span>

            {{!-- auslagern --> ServiceLogo.hbs --}}
            <div id="serviceLogoWrapper" class="flex items-center order-1 w-full px-2 overflow-hidden bg-blue-science md:px-0 lg:h-16 md:w-1/2 md:max-w-1/2 lg:w-1/4 lg:max-w-1/4">
                <a class="text-white fill-current" href="https://www.hessenschau.de/index.html" title="Startseite hessenschau . d e">
                    {{> components/base/image/icon _icon="brandlogo--mobile" _iconmap="logo" _addClass="icon flex md:hidden w-40 h-5 items-center "}}
                    {{> components/base/image/icon _icon="brandlogo--desk" _iconmap="logo" _addClass="hidden md:flex items-center fill-white h-6 w-46"}}
                </a>
                <img class="hidden brandPrintFallback" loading="lazy" alt="Startseite hessenschau . d e" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-srcset="https://www.hessenschau.de/assets_3.28.4/base/icons/rsslogo/brandlogo--rss.jpg" srcset="https://www.hessenschau.de/assets_3.28.4/base/icons/rsslogo/brandlogo--rss.jpg">
            </div>
            
            <div id="serviceItemsWrapper" class="flex items-center justify-end flex-initial order-2 inline-block w-full max-w-full px-2 align-top bg-blue-science lg:h-16 lg:order-2 lg:w-3/4 lg:max-w-3/4 md:mt-0 md:w-1/2 md:max-w-1/2 md:order-2 md:border-0 ">
                {{> components/Header/ServiceNavigation/ServiceList }}
                
                {{> components/Header/Search/QuickSearch }}

                {{!-- auslagern --> ServiceBurger.hbs --}}
                <div id="burgerWrapper" class="flex justify-end flex-none order-2 px-4 bg-blue-science lg:order-4 md:order-4 lg:hidden ">
                    <div class="flex items-center justify-center h-full text-white fill-current">
                        <nav x-data="{ burgeropen: false }">
                            <button class="relative w-10 h-10 text-white focus:outline-none bg-brand"
                                    @burger-close.window="burgeropen = false" 
                                    @click="$dispatch('burger-click'), burgeropen = !burgeropen">
                                <span class="sr-only md:hidden">Open main menu</span>
                                <div class="absolute block w-5 transform -translate-x-1/2 -translate-y-1/2 left-1/2 top-1/2">
                                    <span aria-hidden="true" class="absolute block w-6 h-px transition duration-500 ease-in-out transform bg-current " :class="burgeropen ? 'rotate-45' : '-mt-2'"></span>
                                    <span aria-hidden="true" class="absolute block w-6 h-px transition duration-500 ease-in-out transform bg-current" :class="{'opacity-0': burgeropen } "></span>
                                    <span aria-hidden="true" class="absolute block w-6 h-px transition duration-500 ease-in-out transform bg-current" :class="{'-rotate-45': burgeropen, 'mt-2': !burgeropen }"></span>
                                </div>
                            </button>
                        </nav>
                    </div>
                </div>

            </div>

        </div>
        
    </div>

    <div id="sectionNavWrapper" x-data="{}" x-ref="sectionNavigation" @burger-close.window="$el.classList.add('hidden')" @burger-click.window="$el.classList.toggle('hidden')" class="flex justify-center order-3 hidden w-full mt-12 md:mt-0 lg:flex bg-blue-science z-100">
        {{> components/Header/SectionNavigation/SectionNavigation }} 
    </div>

</div>