
    <a x-cloak :class="`${percent}` < 70 ? 'opacity-0' : 'opacity-100'" class="absolute flex text-white transition-all ease-in-out fill-current duration-2000" href="https://www.hessenschau.de/index.html" title="Startseite hessenschau . d e">
        {{> components/base/image/icon _icon="brandlogo--compact-40x40px" _iconmap="logo" _addClass="logo-compact w-7 h-7 lg:w-10 lg:h-10 items-center "}}
    </a>
    <a :class="`${percent}` < 70 ? 'opacity-100' : 'opacity-0'" class="flex text-white transition-all ease-in-out fill-current duration-2000" href="https://www.hessenschau.de/index.html" title="Startseite hessenschau . d e">
        {{> components/base/image/icon _icon="brandlogo--desk" _iconmap="logo" _addClass="logo-desk flex items-center fill-white w-40 h-5 md:h-7 md:w-40 lg:h-8 lg:w-52"}}
    </a>

<img class="brandPrintFallback" loading="lazy" alt="{{loca "header_homepage_link_title"}}" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-srcset="{{resourceUrl "assets/base/icons/rsslogo/brandlogo--rss.jpg"}}"/>