<a class="text-white fill-current" href="https://www.hessenschau.de/index.html" title="Startseite hessenschau . d e">
    {{> components/base/image/icon _icon="brandlogo--compact-40x40px" _iconmap="logo" _addClass="hidden w-7 h-7 items-center "}}
    {{> components/base/image/icon _icon="brandlogo--mobile" _iconmap="logo" _addClass="flex md:hidden w-40 h-5 items-center "}}
    {{> components/base/image/icon _icon="brandlogo--desk" _iconmap="logo" _addClass="hidden md:flex items-center fill-white h-7 w-40 lg:h-8 lg:w-52"}}
</a>
<img class="brandPrintFallback"
    loading="lazy"
    alt="{{loca "header_homepage_link_title"}}"
    src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
    data-srcset="{{resourceUrl "assets/base/icons/rsslogo/brandlogo--rss.jpg"}}"/>