<div class="relative px-5 pt-6 pb-8 mt-4 sm:mt-5 bg-highlight-1 dark:bg-highlight-1-dark sm:rounded-tl-hr sm:rounded-br-hr sm:px-13 sm:pt-12 article-full-width sm:article-narrow" >
    {{> @partial-block }}
</div>