<div class="clear-both relative bg-highlight-1 dark:bg-highlight-1-dark sm:rounded-tl-hr sm:rounded-br-hr {{#if _isTeaser}}w-full{{~inline-switch this.teasersize '["100","50"]' '[" px-5 sm:px-13 pb-8 pt-6 sm:pt-8"," p-5"]'}}{{else}}px-5 sm:px-13 pb-8 pt-6 sm:pt-12 mt-6 mb-2 [&:has(+h2)]:mb-0 sm:my-8 article-full-width sm:article-narrow{{/if}}" >
    {{> @partial-block }}
</div>