<div class="w-1/2 h-auto mx-auto mt-10">
{{#> components/horizontal_scroll_container/horizontal_scroll_container _viewport="xs" }}
    

    <div class="flex w-screen h-auto p-4 text-lg leading-6 text-white bg-blue-science">
        <p class="w-1/2"> Dieser Absatz befindet sich in einem Div, welches mittels click auf die Pfeiltasten verschoben werden kann. Die Pfeile werden dynamisch angezeigt/ausgeblendet.  </p>
    </div> 

{{/components/horizontal_scroll_container/horizontal_scroll_container}}
</div>