@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply font-bold font-sans cursor-pointer inline-block leading-none rounded-3xl;
  }

  .btn--primary {
    @apply bg-blue-400 text-white;
  }

  .btn--secondary {
    @apply bg-transparent text-gray-700 shadow;
  }

  .btn--sm {
    @apply py-2.5 px-4 text-xs;
  }

  .btn--md {
    @apply py-3 px-5 text-sm;
  }

  .btn--lg {
    @apply py-3 px-6 text-base;
  }

  .btn--xl {
    @apply py-5 px-6 text-lg;
  }
}
