<div 
    class="flex items-center h-12 md:ml-8" 
    :class="searchFieldOpen ? 'bg-white mt-2 rounded-t' : 'bg-blue-congress'"
>
    <button 
        @click="searchFieldOpen = ! searchFieldOpen;$dispatch('burger-close');$dispatch('search-mobile-click')"
        aria-label='Suche öffnen'
        class="px-2 text-white rounded-r cursor-pointer lg:hidden"
    >
        <svg 
            x-show="!searchFieldOpen"
            class="w-6 h-6 text-white fill-current" 
            xmlns="http://www.w3.org/2000/svg" 
            viewBox="0 0 20 20"
        >
            <path d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"></path>
        </svg>
        <svg 
            x-show="searchFieldOpen"
            class="w-6 h-6 fill-current text-blue-congress" 
            xmlns="http://www.w3.org/2000/svg" 
            viewBox="0 0 20 20"
        >
            <path d="M15.898,4.045c-0.271-0.272-0.713-0.272-0.986,0l-4.71,4.711L5.493,4.045c-0.272-0.272-0.714-0.272-0.986,0s-0.272,0.714,0,0.986l4.709,4.711l-4.71,4.711c-0.272,0.271-0.272,0.713,0,0.986c0.136,0.136,0.314,0.203,0.492,0.203c0.179,0,0.357-0.067,0.493-0.203l4.711-4.711l4.71,4.711c0.137,0.136,0.314,0.203,0.494,0.203c0.178,0,0.355-0.067,0.492-0.203c0.273-0.273,0.273-0.715,0-0.986l-4.711-4.711l4.711-4.711C16.172,4.759,16.172,4.317,15.898,4.045z"></path>
        </svg>
    </button>
</div>