<article class="mx-5 md:mx-0  col-span-12 grid bg-blue-accented rounded-tl-3xl rounded-br-3xl {{~inline-switch this.teaserSize '["25","33","50"]' '[" md:col-span-3"," md:col-span-4"," md:col-span-6",""]'}} ">
    <div class="">
            <h2 class="flex items-center px-5 py-6 font-bold font-headingSerif text-blue-congress">
                {{#if this.teaserLogo}}
                    <span>
                        {{> components/base/image/icon _icon=this.teaserLogo _iconmap="logo" _addClass=(inline-switch this.teaserLogo '["hessenschau_de"]' '["fill-[#005293] w-10 md:w-12 h-10 md:h-12","fill-[#005293] w-40 lg:w-52 h-8 md:h-12"]')}}
                    </span>
                {{/if}}
                {{#if this.title}}
                    <span class="text-lg md:text-2xl border-blue-congress uppercase{{#if this.teaserLogo}} pl-3 ml-3 border-l-2 border-solid {{/if}}">{{this.title}}</span>
                {{/if}}
            </h2>
            {{> components/teaser/cluster/teaser_cluster_list _ordered=this.isOrdered}} 
    </div>
    {{~#with this.overviewLink}}
        {{~#if this.link~}}
            <div class="flex mx-5 py-11 {{~inline-switch ../this.teaserSize '["100"]' '[" justify-center md:justify-end"," justify-center"]'}}">
                {{~> components/button/button_pseudo  _color="blue" _linkTitle=this.title~}}
            </div>
        {{~/if~}}
    {{/with~}}
</article>

