{{#>components/page/base/page_wrapper}}
    <div class="mb-10 article-full-width sm:article-narrow md:article-breakout">
        {{~#partial "cache-entry"~}}
            {{~addCacheEntry "storyRelatedContent_ssi" uuid ~}}
        {{~/partial~}}
        {{> components/related-content/related-content }} 
    </div> 
{{/components/page/base/page_wrapper}}