 <div class="grid grid-page">
  <div class="{{> components/grid/grid_group_wrapper_classes }}">
 {{#>components/grid/grid_group _backgroundColor="2" _size="100"}} 
      <h2 class="text-4xl headline--barrier col-span-full">Gruppen 100% mit blauen Hintergrund bis Rand</h2>
      {{#>components/grid/grid_item _size="6"}}
        <div class="flex items-center justify-center text-5xl text-white bg-gray-500 aspect-video">
          6/12 = 50%    
        </div>
      {{/components/grid/grid_item}}  
      {{#>components/grid/grid_item _size="6"}}
        <div class="flex items-center justify-center text-5xl text-white bg-gray-500 aspect-video">
          6/12 = 50%    
        </div>
      {{/components/grid/grid_item}} 
{{/components/grid/grid_group}} 
  </div>
</div>