<section class="grid grid-cols-12 items-start bg-white content-start gap-x-6 gap-y-5 col-span-12 {{inline-switch _groupSize '["100","66","50","33","25"]' '["","md:col-span-8","md:col-span-6","md:col-span-4","md:col-span-3"]'}}">
    {{> @partial-block }}
</section>