</div>
<section class="grid grid-cols-12 px-8 py-8 mx-4 mt-6 bg-blue-400 sm:mx-0 rounded-tl-3xl rounded-br-3xl col-full sm:col-main gap-x-6 gap-y-6">
    {{> @partial-block }}
</section>
<div class="grid grid-cols-12 sm:px-8 col-full sm:col-main gap-x-6 gap-y-10 md:gap-y-14">