<section class="grid grid-cols-12 py-6 bg-white sm:px-8 col-full sm:col-main gap-x-6 gap-y-6">
    <div class="grid grid-cols-12 bg-white content-start gap-x-6 gap-y-6 col-span-12 {{inline-switch size '["100","66","50","33","25"]' '["","md:col-span-8","md:col-span-6","md:col-span-4","md:col-span-3"]'}}">
        {{> @partial-block }}
    </div>
</section>