<div class="grid grid-page">
  <div class="{{> components/grid/grid_group_wrapper_classes }}">
{{#>components/grid/grid_group _size="100"}}
      <h2 class="text-4xl headline--barrier col-span-full">Gruppen 100%</h2>
      {{#>components/grid/grid_item _size="12"}}
        <a href="#">
          <div class="flex items-center justify-center text-5xl text-white bg-gray-500 aspect-video">
            12/12 = 100%    
          </div>
        </a>
      {{/components/grid/grid_item}}   
{{/components/grid/grid_group}} 
  </div>
</div>