
<div class="grid bg-gray-100 grid-page">
  <div class="grid grid-cols-12 py-6 bg-green-300 sm:px-8 col-full sm:col-main gap-x-6 gap-y-6">   
    {{#>components/grid/grid_group size="100"}}
      <h2 class="text-4xl headline--barrier col-span-full">Gruppen 100%</h2>
      {{#>components/grid/grid_item size="12"}}
        <a href="#">
          <div class="flex items-center justify-center text-5xl text-white bg-gray-500 aspect-video">
            12/12 = 100%    
          </div>
        </a>
      {{/components/grid/grid_item}}   
    {{/components/grid/grid_group}} 
    {{#>components/grid/grid_group_full  }}    
      <h2 class="text-4xl headline--barrier col-span-full">Gruppen 100% mit blauen Hintergrung bis Rand</h2>
      {{#>components/grid/grid_item size="6"}}
        <div class="flex items-center justify-center text-5xl text-white bg-gray-500 aspect-video">
          6/12 = 50%    
        </div>
      {{/components/grid/grid_item}}  
      {{#>components/grid/grid_item size="6"}}
        <div class="flex items-center justify-center text-5xl text-white bg-gray-500 aspect-video">
          6/12 = 50%    
        </div>
      {{/components/grid/grid_item}} 
    {{/components/grid/grid_group_full}} 

    {{#>components/grid/grid_group size="100"}}

      <h2 class="text-4xl headline--barrier col-span-full">Gruppen 100%</h2>
      {{#>components/grid/grid_item size="6"}}
      <div class="flex items-center justify-center text-5xl text-white bg-gray-500 aspect-video">
        6/12 = 50%    
      </div>
      {{/components/grid/grid_item}}  
      {{#>components/grid/grid_item size="6"}}
      <div class="flex items-center justify-center text-5xl text-white bg-gray-500 aspect-video">
        6/12 = 50%    
      </div>
      {{/components/grid/grid_item}} 

      {{#>components/grid/grid_item size="4"}}
      <div class="flex items-center justify-center text-5xl text-white bg-gray-500 aspect-video">
        4/12 = 33%    
      </div>
      {{/components/grid/grid_item}} 
      {{#>components/grid/grid_item size="4"}}
      <div class="flex items-center justify-center text-5xl text-white bg-gray-500 aspect-video">
        4/12 = 33%    
      </div>  
      {{/components/grid/grid_item}} 
      {{#>components/grid/grid_item size="4"}}
      <div class="flex items-center justify-center text-5xl text-white bg-gray-500 aspect-video">
        4/12 = 33%    
      </div>   
      {{/components/grid/grid_item}}
    {{/components/grid/grid_group}}
    {{#>components/grid/grid_group_tabbed }}
        <h2 class="text-4xl headline--barrier col-span-full">Gruppen 100% Tabbed</h2>
        {{#>components/grid/grid_item size="3"}}
        <div class="flex items-center justify-center text-4xl text-white bg-gray-500 aspect-video">
          3/12 = 25%    
        </div> 
        {{/components/grid/grid_item}}
        
        {{#>components/grid/grid_item size="3"}}
        <div class="flex items-center justify-center text-4xl text-white bg-gray-500 aspect-video">
          3/12 = 25%    
        </div> 
        {{/components/grid/grid_item}}

        {{#>components/grid/grid_item size="3"}}
        <div class="flex items-center justify-center text-4xl text-white bg-gray-500 aspect-video">
          3/12 = 25%    
        </div>   
        {{/components/grid/grid_item}}

        {{#>components/grid/grid_item size="3"}}
        <div class="flex items-center justify-center text-4xl text-white bg-gray-500 aspect-video">
          3/12 = 25%    
        </div>    
        {{/components/grid/grid_item}} 
      
    {{/components/grid/grid_group_tabbed}} 
    {{#>components/grid/grid_group}} 
      <h2 class="text-4xl headline--barrier col-span-full">Gruppen 100%</h2>
      {{#>components/grid/grid_item size="4"}}
      <div class="flex items-center justify-center text-5xl text-white bg-gray-500 aspect-video">
        4/12 = 33%    
      </div>
      {{/components/grid/grid_item}} 
      {{#>components/grid/grid_item size="4"}}
      <div class="flex items-center justify-center text-5xl text-white bg-gray-500 aspect-video">
        4/12 = 33%    
      </div>  
      {{/components/grid/grid_item}} 
      {{#>components/grid/grid_item size="4"}}
      <div class="flex items-center justify-center text-5xl text-white bg-gray-500 aspect-video">
        4/12 = 33%    
      </div>   
      {{/components/grid/grid_item}}  
    {{/components/grid/grid_group}} 
    {{#>components/grid/grid_group size="50"}}
      <h2 class="text-4xl headline--barrier col-span-full">Gruppen 50%</h2>
      {{#>components/grid/grid_item size="12"}}
        <div class="flex items-center justify-center text-5xl text-white bg-gray-500 aspect-video">
          6/12 = 50%    
        </div>
      {{/components/grid/grid_item}} 
      {{#>components/grid/grid_item size="12"}}
        <div class="flex items-center justify-center text-5xl text-white bg-gray-500 aspect-video">
          6/12 = 50%    
        </div>  
      {{/components/grid/grid_item}} 
    {{/components/grid/grid_group}} 
    {{#>components/grid/grid_group size="50"}}
      <h2 class="text-4xl headline--barrier col-span-full">Gruppen 50%</h2>
      {{#>components/grid/grid_item size="6"}}
        <div class="flex items-center justify-center text-5xl text-white bg-gray-500 aspect-video">
          6/12 = 50%    
        </div>
      {{/components/grid/grid_item}} 
      {{#>components/grid/grid_item size="6"}}
        <div class="flex items-center justify-center text-5xl text-white bg-gray-500 aspect-video">
          6/12 = 50%    
        </div>  
      {{/components/grid/grid_item}} 
    {{/components/grid/grid_group}} 
    {{#>components/grid/grid_group size="66"}}
      <h2 class="text-4xl headline--barrier col-span-full">Gruppen 66%</h2>
      {{#>components/grid/grid_item size="12"}}
        <div class="flex items-center justify-center text-5xl text-white bg-gray-500 aspect-video">
          8/12 = 66%    
        </div>
      {{/components/grid/grid_item}} 
      {{#>components/grid/grid_item size="12"}}
        <div class="flex items-center justify-center text-5xl text-white bg-gray-500 aspect-video">
          8/12 = 66%    
        </div>  
      {{/components/grid/grid_item}} 
    {{/components/grid/grid_group}} 
    {{#>components/grid/grid_group size="33"}}
      <h2 class="text-4xl headline--barrier col-span-full">Gruppen 33%</h2>
      {{#>components/grid/grid_item size="12"}}
        <div class="flex items-center justify-center text-5xl text-white bg-gray-500 aspect-video">
          4/12 = 33%    
        </div>
      {{/components/grid/grid_item}} 
      {{#>components/grid/grid_item size="12"}}
        <div class="flex items-center justify-center text-5xl text-white bg-gray-500 aspect-video">
          4/12 = 33%    
        </div>  
      {{/components/grid/grid_item}} 
    {{/components/grid/grid_group}} 
  </div>
</div>
