</div>
<div class="grid bg-blue-400 col-full grid-page">
    <section class="grid grid-cols-12 px-8 py-6 bg-blue-400 col-full sm:col-main gap-x-6 gap-y-9">
        <div class="grid content-start grid-cols-12 col-span-12 gap-x-6 gap-y-6">
            {{> @partial-block }}
        </div>
    </section>
</div>
<div class="grid grid-cols-12 py-6 bg-white sm:px-8 col-full sm:col-main gap-x-6 gap-y-6">