<section class="grid grid-cols-12 items-start bg-white content-start gap-y-5 col-span-12 {{inline-switch _groupSize '["100","66","50","33","25"]' '["gap-x-6","gap-x-6 md:col-span-8","gap-x-6 md:col-span-6","gap-x-6 md:col-span-4","md:col-span-3"]'}}">
    {{> @partial-block }}
</section>