</div>
<div class="grid col-full grid-page mt-6{{inline-switch _backgroundColor '["1","2"]' '[" bg-grey-alto"," bg-orange-bridesmaid"]'}}">
    <section class="grid grid-cols-12 py-6 sm:px-8 col-full sm:col-main gap-x-6 gap-y-9">
        <div class="grid content-start grid-cols-12 col-span-12 gap-x-6 gap-y-6">
            {{> @partial-block }}
        </div>
    </section>
</div>
<div class="grid grid-cols-12 bg-white sm:px-8 col-full sm:col-main gap-x-6 gap-y-6">