
{{#>components/grid/grid_group _size="100"}}
      {{#>components/grid/grid_item _size="4"}}
      <div class="flex items-center justify-center text-5xl text-white bg-gray-500 aspect-video">
        4/12 = 33%    
      </div>
      {{/components/grid/grid_item}} 
      {{#>components/grid/grid_item _size="4"}}
      <div class="flex items-center justify-center text-5xl text-white bg-gray-500 aspect-video">
        4/12 = 33%    
      </div>  
      {{/components/grid/grid_item}} 
      {{#>components/grid/grid_item _size="4"}}
      <div class="flex items-center justify-center text-5xl text-white bg-gray-500 aspect-video">
        4/12 = 33%    
      </div>   
      {{/components/grid/grid_item}}
{{/components/grid/grid_group}}