<div class="py-4 bg-gray-100">
  <div class="grid grid-page">
    <div class="grid bg-blue-400 col-full grid-page">
        <div class="grid grid-cols-12 px-10 bg-white col-full sm:col-main gap-x-6 gap-y-9">
            <article class="col-span-12">
                <div class="flex items-center justify-center text-5xl text-white bg-gray-500 aspect-video">
                    12/12 = 100%
                </div>
            </article>
        </div>
    </div>
    <div class="grid grid-cols-12 px-10 bg-white col-full sm:col-main gap-x-6 gap-y-6">
      <article class="col-span-12">
        <div class="flex items-center justify-center text-5xl text-white bg-gray-500 aspect-video">
            12/12 = 100%
        </div>
      </article>
      <article class="col-span-12 md:col-span-6">
        <div class="flex items-center justify-center text-5xl text-white bg-gray-500 aspect-video">
            6/12 = 50%
        </div>
      </article>
      <article class="col-span-12 md:col-span-6">
        <div class="flex items-center justify-center text-5xl text-white bg-gray-500 aspect-video">
            6/12 = 50%
        </div>
      </article>
      <article class="col-span-12 md:col-span-4">
        <div class="flex items-center justify-center text-5xl text-white bg-gray-500 aspect-video">
            4/12 = 33%
        </div>
      </article>
      <article class="col-span-12 md:col-span-4">
       <div class="flex items-center justify-center text-5xl text-white bg-gray-500 aspect-video">
            4/12 = 33%
        </div>
      </article>
      <article class="col-span-12 md:col-span-4">
       <div class="flex items-center justify-center text-5xl text-white bg-gray-500 aspect-video">
            4/12 = 33%
        </div>
      </article>
      <article class="col-span-12 md:col-span-3">
        <div class="flex items-center justify-center text-4xl text-white bg-gray-500 aspect-video">
            3/12 = 25%
        </div>
      </article>
      <article class="col-span-12 md:col-span-3">
        <div class="flex items-center justify-center text-4xl text-white bg-gray-500 aspect-video">
            3/12 = 25%
        </div>
      </article>
      <article class="col-span-12 md:col-span-3 aspect-video">
        <div class="flex items-center justify-center text-4xl text-white bg-gray-500 aspect-video">
            3/12 = 25%
        </div>
      </article>
      <article class="col-span-12 md:col-span-3 aspect-video">
        <div class="flex items-center justify-center text-4xl text-white bg-gray-500 aspect-video">
            3/12 = 25%
        </div>
      </article> 
    </div>
  </div>
</div>