{{#>components/grid/grid_group _size="100"}}
        <h2 class="text-4xl headline--barrier col-span-full">Gruppen 100%</h2>
        {{#>components/grid/grid_item _size="3"}}
        <div class="flex items-center justify-center text-4xl text-white bg-gray-500 aspect-video">
          3/12 = 25%    
        </div> 
        {{/components/grid/grid_item}}
        
        {{#>components/grid/grid_item _size="3"}}
        <div class="flex items-center justify-center text-4xl text-white bg-gray-500 aspect-video">
          3/12 = 25%    
        </div> 
        {{/components/grid/grid_item}}

        {{#>components/grid/grid_item _size="3"}}
        <div class="flex items-center justify-center text-4xl text-white bg-gray-500 aspect-video">
          3/12 = 25%    
        </div>   
        {{/components/grid/grid_item}}

        {{#>components/grid/grid_item _size="3"}}
        <div class="flex items-center justify-center text-4xl text-white bg-gray-500 aspect-video">
          3/12 = 25%    
        </div>    
        {{/components/grid/grid_item}} 
{{/components/grid/grid_group}}
  </div>
</div>