<a href="{{this}}" class="flex flex-nowrap items-center text-sm gap-x-2 text-primary hover:underline {{~#with _addClass }} {{this}}{{/with}}">
    {{~> components/base/image/icon _icon="arrow-left" _addClass="w-5 h-5 fill-current" ~}}
    {{~loca "backlink_title" ~}}
</a>