<div class="flex ">

  <div class="overflow-x-auto no-scrollbar [scroll-snap-type:x_mandatory] max-w-[900px] w-full">
    <div class="flex w-full gap-4 sm:justify-between"> 
      
      {{> components/teaser/socialVideo/verticalVideoTeaser
        _id="237" 
        _title="Fastnachtseröffnungsfeier in Dieburg und ein ganz langer Titel" 
        _meta="09.11.24 | 01:00 min" }} 
    
      {{> components/teaser/socialVideo/verticalVideoTeaser
        _id="123" 
        _title="Super cachieee Headline. Wir brauchen Text aus dem CMS!" 
        _meta="09.11.24 | 01:00 min" }} 
    
      {{> components/teaser/socialVideo/verticalVideoTeaser
        _id="213" 
        _title="ARD-Themenwoche: Verkehrswende in Darmstadt" 
        _meta="09.11.24 | 01:00 min" }} 
      
      {{> components/teaser/socialVideo/verticalVideoTeaser
        _id="203" 
        _title="ARD-Themenwoche: Verkehrswende in Darmstadt" 
        _meta="09.11.24 | 01:00 min" }} 
      
      {{> components/teaser/socialVideo/verticalVideoTeaser
          _id="273" 
          _title="ARD-Themenwoche: Verkehrswende in Darmstadt und noch mehr" 
          _meta="09.11.24 | 01:00 min" }} 
      
    </div>
  </div>

</div>