@import 'tailwindcss/base';
@import 'css/custom-base.css';
@import 'tailwindcss/components';
@import 'css/custom-components.css';
@import 'tailwindcss/utilities';
@import 'css/custom-utilities.css';

/*! purgecss start ignore */
:root,
[data-theme='default'] {
    --color-primary-ds: theme('colors.blue.congress');
    --color-secondary-ds: #606060;
    --color-highlight-1: theme('colors.blue.accented');
    --color-highlight-2: theme('colors.orange.spicyCarrot');
    /* Navigation Hintergrund und Icons */
    --color-navigation-bg: theme('colors.blue.congress');
    --color-navigation-icons:  #fff;
    /*Hauptmenü*/
    --color-top-topic-background: theme('colors.blue.linkWater');
    /* Medieninhalte, Video, Audio, Bildergalerie */
    --color-label-media: theme('colors.blue.science');
    /* Ticker, Live, Livestream */
    --color-label-live: theme('colors.orange.spicyCarrot');
    /* Event */
    --color-label-event: theme('colors.black.DEFAULT');
    /* Eilmeldung */
    --color-label-breakingnews: theme('colors.red.thunderbird');
    /* Kommentar */
    --color-label-comment: theme('colors.blue.deeperPool');
    /* Infografik */
    --color-label-infografik: theme('colors.pink.ripeRaspberries');
    /* Sendung */
    --color-label-program: theme('colors.blue.matisse');
    /* Download */
    --color-label-download: theme('colors.gray.scorpion');
    /* Pressemitteilungen */
    --color-label-pm: theme('colors.blue.deepCerulean');
    /* Sendungsdokument */
    --color-label-program: theme('colors.blue.pacificBlue');
    /* Kurzmeldung */
    --color-label-kurzmeldung: theme('colors.blue.tarawera');
    /* Dachzeile */
    --color-topline: #006dc1;
    /* Event */
    --color-event-status: theme('colors.red.thunderbird');
    /* Eventkalender */
    --color-label-event-calendar-title: theme('colors.teal.deeperPool');
    --color-eventcalendar-primary: var(--color-primary-ds);
    --color-eventcalendar-secondary: theme('colors.gray.boulder');
    /* Subline */
    --color-subline: var(--color-topline);
    /* Link */
    --color-link: theme('colors.blue.deepCerulean');
    /* Stage */
    --color-stage-text-box: 0 110 183;
    --color-stage-text: theme('colors.white.DEFAULT');
    --color-stage-primary: theme('colors.blue.deepCerulean');
    --color-stage-link: var('--color-link');
    /* geoTag */
    --color-geoTag: theme('colors.gray.brightGray');
    /* Cluster-Teaser */
    --color-cluster-teaser-link: theme('colors.blue.science');
    --color-cluster-teaser-headline: theme('colors.blue.congress');
    /* Button */
    --color-button-inverted: theme('colors.white.DEFAULT');
    --color-button-hollow: theme('colors.blue.science');
    /* Media-Button */
    --color-media-button: theme('colors.blue.jellyBean');
    /* States */
    --color-focus-state: var(--color-primary-ds);
    /* Content-Nav */
    --color-content-nav: var(--color-primary-ds);
    /* Podcast-Player */
    --color-podcast: theme('colors.blue.science');
    --color-podcast-text: var(--color-link);
    /* Byline */
    --color-byline: theme('colors.gray.scorpion');
    /* Font */
    --font-title: theme('fontFamily.heading');
    --font-weight-title: theme('fontWeight.bold');
    --font-titleCluster: theme('fontFamily.headingSerif');
    --font-weight-titleCluster: theme('fontWeight.bold');
    /* Border Radius */
    --border-radius-hr: theme('borderRadius.none');
}

[data-theme='hessenschau'] {
    --color-primary-ds: theme('colors.blue.congress');
    --color-secondary-ds: #606060;
    --color-highlight-1: theme('colors.blue.accented');
    --color-highlight-2: theme('colors.orange.spicyCarrot');

    /* Navigation Hintergrund und Icons */
    --color-navigation-bg: theme('colors.blue.congress'); 
    --color-navigation-icons: #fff;
    --color-navigation-text: #fff;
    --color-brandnavigation-border: theme('colors.blue.congress'); 
    --color-navigation-border: #fff;
    --border-navigation-border-width: 0px;

    /* Medieninhalte, Video, Audio, Bildergalerie */
    --color-label-media: theme('colors.blue.science');
    /* Ticker, Live, Livestream */
    --color-label-live: theme('colors.orange.spicyCarrot');
    /* Event */
    --color-label-event: theme('colors.black.DEFAULT');
    /* Eilmeldung */
    --color-label-breakingnews: theme('colors.red.thunderbird');
    /* Kommentar */
    --color-label-comment: theme('colors.blue.deeperPool');
    /* Infografik */
    --color-label-infografik: theme('colors.pink.ripeRaspberries');
    /* Sendung */
    --color-label-program: theme('colors.blue.matisse');
    /* Download */
    --color-label-download: theme('colors.gray.scorpion');
    /* Pressemitteilungen */
    --color-label-pm: theme('colors.blue.deepCerulean');
    /* Kurzmeldung */
    --color-label-kurzmeldung: theme('colors.blue.tarawera');
    /* Eventkalender */
    --color-eventcalendar-primary: var(--color-primary-ds);
    /* Dachzeile */
    --color-topline: #006dc1;
    /* Subline */
    --color-subline: var(--color-topline);
    /* Link */
    --color-link: theme('colors.blue.science');
    /*Stage */
    --color-stage-text-box: 67 61 55;
    --color-stage-primary: theme('colors.blue.congress');
    --color-stage-text: theme('colors.white.DEFAULT');
    --color-stage-link: theme('colors.white.DEFAULT');
    /* geoTag */
    --color-geoTag: theme('colors.gray.brightGray');
    /* Cluster-Teaser */
    --color-cluster-teaser-link: theme('colors.blue.science');
    --color-cluster-teaser-headline: theme('colors.blue.congress');
    /* Button */
    --color-button: theme('colors.blue.science');
    --color-button--dark: theme('colors.blue.congress');
    --color-button-inverted: theme('colors.white.DEFAULT');
    --color-button-inverted--dark: theme('colors.blue.accented');
    --color-button-disabled: theme('colors.gray.lightGray');
    --color-button-disabled--dark: theme('colors.gray.boulder');
    /* Media-Button */
    --color-media-button: theme('colors.blue.science');
    /* States */
    --color-focus-state: var(--color-primary-ds);
    /* Content-Nav */
    --color-content-nav: var(--color-primary-ds);
    /* Podcast-Player */
    --color-podcast: theme('colors.blue.science');
    --color-podcast-text: var(--color-link);
    --color-podcast-highlight: theme('colors.orange.chelseaGem');
    /* Font */
    --font-title: theme('fontFamily.headingSerif');
    --font-weight-title: theme('fontWeight.normal');
    --font-titleCluster: theme('fontFamily.headingSerif');
    --font-weight-titleCluster: theme('fontWeight.bold');
    /* Border */
    --border-radius-hr: theme('borderRadius.3xl');
}

[data-theme='hr-fernsehen'] {
    --color-primary-ds: theme('colors.purple.jazzberry');
    --color-secondary-ds: #007179;
    --color-highlight-1: theme('colors.white.blackhaze');
    --color-highlight-2: theme('colors.orange.spicyCarrot');
    /* Navigation Hintergrund und Icons */
    --color-navigation-bg: #fff;
    --color-navigation-icons:  theme('colors.gray.scorpion');
    /* Medieninhalte, Video, Audio, Bildergalerie */
    --color-label-media: theme('colors.blue.deepCerulean');
    /* Ticker, Live, Livestream */
    --color-label-live: theme('colors.orange.spicyCarrot');
    /* Kommentar */
    --color-label-comment: theme('colors.green.tropicalRainForest');
    /* Eilmeldung */
    --color-label-breakingnews: theme('colors.red.thunderbird');
    /* Sendung */
    --color-label-program: theme('colors.red.mexican');
    /* Download */
    --color-label-download: theme('colors.gray.scorpion');
    /* Event */
    --color-label-event: theme('colors.black.DEFAULT');
    /* Kurzmeldung */
    --color-label-kurzmeldung: theme('colors.blue.tarawera');
    /* Eventkalender */
    --color-eventcalendar-primary: var(--color-primary-ds);
    /* Dachzeile */
    --color-topline: theme('colors.purple.jazzberry');
    /* Subline */
    --color-subline: var(--color-topline);
    /* Link */
    --color-link: theme('colors.purple.jazzberry');
    /* Stage */
    --color-stage-text-box: 234 237 237;
    --color-stage-text: theme('colors.black.DEFAULT');
    --color-stage-primary: theme('colors.purple.pompadour');
    --color-stage-link: var(--color-link);
    /* Cluster-Teaser */
    --color-cluster-teaser-link: theme('colors.purple.jazzberry');
    --color-cluster-teaser-headline: theme('colors.purple.pompadour');
    /* Button */
    --color-button: theme('colors.purple.jazzberry');
    --color-button--dark: theme('colors.purple.pompadour');
    --color-button-inverted: theme('colors.white.DEFAULT');
    --color-button-inverted--dark: theme('colors.blue.accented');
    /* Media-Button */
    --color-media-button: var(--color-primary-ds);
    /* States */
    --color-focus-state: var(--color-primary-ds);
    /* Content-Nav */
    --color-content-nav: var(--color-primary-ds);
    /* Podcast-Player */
    --color-podcast: theme('colors.purple.jazzberry');
    --color-podcast-text: var(--color-link);
    --color-podcast-highlight: theme('colors.blue.allports');
    /* Font */
    --font-title: theme('fontFamily.heading');
    --font-weight-title: theme('fontWeight.bold');
}

[data-theme='hr-inforadio'] {
    --color-primary-ds: theme('colors.blue.jellyBean');
    --color-secondary-ds: #007179;
    --color-highlight-1: theme('colors.blue.aqua');
    --color-highlight-2: theme('colors.orange.spicyCarrot');
    /* Navigation Hintergrund und Icons */
    --color-navigation-bg: #fff;
    --color-navigation-icons:  theme('colors.gray.scorpion');
    /* Medieninhalte, Video, Audio, Bildergalerie */
    --color-label-media: theme('colors.blue.jellyBean');
    /* Ticker, Live, Livestream */
    --color-label-live: theme('colors.orange.spicyCarrot');
    /* Kommentar */
    --color-label-comment: theme('colors.green.tropicalRainForest');
    /* Eilmeldung */
    --color-label-breakingnews: theme('colors.red.thunderbird');
    /* Sendung */
    --color-label-program: theme('colors.pink.rose');
    /* Download */
    --color-label-download: theme('colors.gray.scorpion');
    /* Event */
    --color-label-event: theme('colors.black.DEFAULT');
    /* Kurzmeldung */
    --color-label-kurzmeldung: theme('colors.blue.tarawera');
    /* Eventkalender */
    --color-eventcalendar-primary: var(--color-primary-ds);
    /* Dachzeile */
    --color-topline: theme('colors.blue.jellyBean');
    /* Subline */
    --color-subline: var(--color-topline);
    /* Link */
    --color-link: theme('colors.blue.jellyBean');
    /* Stage */
    --color-stage-text-box: 0 55 93;
    --color-stage-primary: theme('colors.blue.astronautBlue');
    --color-stage-link: theme('colors.white.DEFAULT');
    /* Cluster-Teaser */
    --color-cluster-teaser-link: var(--color-primary-ds);
    --color-cluster-teaser-headline: theme('colors.blue.astronautBlue');
    /* Button */
    --color-button: theme('colors.blue.jellyBean');
    --color-button--dark: theme('colors.blue.astronautBlue');
    --color-button-inverted: theme('colors.white.DEFAULT');
    --color-button-inverted--dark: theme('colors.blue.accented');
    /* Media-Button */
    --color-media-button: var(--color-primary-ds);
    /* States */
    --color-focus-state: var(--color-primary-ds);
    /* Content-Nav */
    --color-content-nav: var(--color-primary-ds);
    /* Podcast-Player */
    --color-podcast: theme('colors.blue.jellyBean');
    --color-podcast-text: var(--color-link);
    --color-podcast-highlight: theme('colors.red.lipstick');
    /* Font */
    --font-title: theme('fontFamily.heading');
    --font-weight-title: theme('fontWeight.bold');
}

[data-theme='hr-rundfunkrat'] {
    --color-primary-ds: theme('colors.gray.scorpion');
    --color-secondary-ds: #007179;
    --color-highlight-1: theme('colors.blue.accented');
    --color-highlight-2: theme('colors.orange.spicyCarrot');
    /* Navigation Hintergrund und Icons */
    --color-navigation-bg: #fff;
    --color-navigation-icons:  theme('colors.gray.scorpion');
    /* Medieninhalte, Video, Audio, Bildergalerie */
    --color-label-media: theme('colors.blue.deepCerulean');
    /* Ticker, Live, Livestream */
    --color-label-live: theme('colors.orange.spicyCarrot');
    /* Kommentar */
    --color-label-comment: theme('colors.green.tropicalRainForest');
    /* Eilmeldung */
    --color-label-breakingnews: theme('colors.red.thunderbird');
    /* Sendung */
    --color-label-program: theme('colors.red.mexican');
    /* Download */
    --color-label-download: theme('colors.gray.scorpion');
    /* Event */
    --color-label-event: theme('colors.black.DEFAULT');
    /* Pressemitteilungen */
    --color-label-pm: theme('colors.blue.deepCerulean');
    /* Kurzmeldung */
    --color-label-kurzmeldung: theme('colors.blue.tarawera');
    /* Eventkalender */
    --color-eventcalendar-primary: theme('colors.blue.deepCerulean');
    /* Dachzeile */
    --color-topline: theme('colors.blue.deepCerulean');
    /* Subline */
    --color-subline: var(--color-topline);
    /* Link */
    --color-link: theme('colors.blue.deepCerulean');
    /* Stage */
    --color-stage-text-box: 0 110 183;
    --color-stage-primary: theme('colors.blue.deepCerulean');
    --color-stage-link: theme('colors.white.DEFAULT');
    /* Cluster-Teaser */
    --color-cluster-teaser-link: theme('colors.blue.deepCerulean');
    --color-cluster-teaser-headline: theme('colors.blue.congress');
    /* Button */
    --color-button: theme('colors.blue.deepCerulean');
    --color-button--dark: theme('colors.blue.congress');
    --color-button-inverted: theme('colors.white.DEFAULT');
    --color-button-inverted--dark: theme('colors.blue.accented');
    /* Media-Button */
    --color-media-button: var(--color-primary-ds);
    /* States */
    --color-focus-state: theme('colors.blue.deepCerulean');
    /* Content-Nav */
    --color-content-nav: theme('colors.blue.deepCerulean');
    /* Podcast-Player */
    --color-podcast: theme('colors.blue.deepCerulean');
    --color-podcast-text: var(--color-link);
    --color-podcast-highlight: theme('colors.orange.chelseaGem');
    /* Font */
    --font-title: theme('fontFamily.heading');
    --font-weight-title: theme('fontWeight.bold');
}

[data-theme='hr-werbung'] {
    --color-primary-ds: theme('colors.blue.deepCerulean');
    --color-secondary-ds: #007179;
    --color-highlight-1: theme('colors.blue.accented');
    --color-highlight-2: theme('colors.orange.spicyCarrot');
    /* Navigation Hintergrund und Icons */
    --color-navigation-bg: #fff;
    --color-navigation-icons:  theme('colors.gray.scorpion');
    /* Medieninhalte, Video, Audio, Bildergalerie */
    --color-label-media: theme('colors.blue.deepCerulean');
    /* Ticker, Live, Livestream */
    --color-label-live: theme('colors.orange.spicyCarrot');
    /* Kommentar */
    --color-label-comment: theme('colors.green.tropicalRainForest');
    /* Eilmeldung */
    --color-label-breakingnews: theme('colors.red.thunderbird');
    /* Sendung */
    --color-label-program: theme('colors.red.mexican');
    /* Download */
    --color-label-download: theme('colors.gray.scorpion');
    /* Event */
    --color-label-event: theme('colors.black.DEFAULT');
    /* Pressemitteilungen */
    --color-label-pm: theme('colors.blue.deepCerulean');
    /* Kurzmeldung */
    --color-label-kurzmeldung: theme('colors.blue.tarawera');
    /* Eventkalender */
    --color-eventcalendar-primary: theme('colors.blue.deepCerulean');
    /* Dachzeile */
    --color-topline: theme('colors.blue.deepCerulean');
    /* Subline */
    --color-subline: var(--color-topline);
    /* Link */
    --color-link: var(--color-primary-ds);
    /* Stage */
    --color-stage-text-box: 0 110 183;
    --color-stage-primary: var(--color-primary-ds);
    --color-stage-link: theme('colors.white.DEFAULT');
    /* Cluster-Teaser */
    --color-cluster-teaser-link: var(--color-primary-ds);
    --color-cluster-teaser-headline: theme('colors.blue.congress');
    /* Button */
    --color-button: theme('colors.blue.deepCerulean');
    --color-button--dark: theme('colors.blue.congress');
    --color-button-inverted: theme('colors.white.DEFAULT');
    --color-button-inverted--dark: theme('colors.blue.accented');
    /* Media-Button */
    --color-media-button: var(--color-primary-ds);
    /* States */
    --color-focus-state: var(--color-primary-ds);
    /* Content-Nav */
    --color-content-nav: var(--color-primary-ds);
    /* Podcast-Player */
    --color-podcast: theme('colors.blue.deepCerulean');
    --color-podcast-text: var(--color-link);
    --color-podcast-highlight: theme('colors.orange.chelseaGem');
    /* Font */
    --font-title: theme('fontFamily.heading');
    --font-weight-title: theme('fontWeight.bold');
}

[data-theme='hr-sinfonieorchester'] {
    --color-primary-ds: theme('colors.red.burntUmber');
    --color-secondary-ds: #007179;
    --color-highlight-1: theme('colors.gray.alto');
    --color-highlight-2: theme('colors.orange.spicyCarrot');
    /* Navigation Hintergrund und Icons */
    --color-navigation-bg: #fff;
    --color-navigation-icons:  theme('colors.gray.scorpion');
    /* Medieninhalte, Video, Audio, Bildergalerie */
    --color-label-media: theme('colors.red.burntUmber');
    /* Ticker, Live, Livestream */
    --color-label-live: theme('colors.orange.spicyCarrot');
    /* Kommentar */
    --color-label-comment: theme('colors.green.tropicalRainForest');
    /* Eilmeldung */
    --color-label-breakingnews: theme('colors.red.thunderbird');
    /* Sendung */
    --color-label-program: theme('colors.green.goBen');
    /* Download */
    --color-label-download: theme('colors.gray.scorpion');
    /* Event */
    --color-label-event: theme('colors.black.DEFAULT');
    /* Kurzmeldung */
    --color-label-kurzmeldung: theme('colors.blue.tarawera');
    /* Eventkalender */
    --color-eventcalendar-primary: var(--color-primary-ds);
    /* Dachzeile */
    --color-topline: theme('colors.red.wellRead');
    /* Subline */
    --color-subline: var(--color-topline);
    /* Link */
    --color-link: theme('colors.red.wellRead');
    /* Stage */
    --color-stage-text-box: 141 39 37;
    --color-stage-primary: var(--color-primary-ds);
    --color-stage-link: theme('colors.white.DEFAULT');
    /* Cluster-Teaser */
    --color-cluster-teaser-link: theme('colors.red.wellRead');
    --color-cluster-teaser-headline: var(--color-primary-ds);
    /* Button */
    --color-button: theme('colors.red.wellRead');
    --color-button--dark: theme('colors.red.burntUmber');
    --color-button-inverted: theme('colors.white.DEFAULT');
    --color-button-inverted--dark: theme('colors.blue.accented');
    /* Media-Button */
    --color-media-button: theme('colors.red.wellRead');
    /* States */
    --color-focus-state: theme('colors.red.wellRead');
    /* Content-Nav */
    --color-content-nav: theme('colors.red.wellRead');
    /* Podcast-Player */
    --color-podcast: theme('colors.red.wellRead');
    --color-podcast-text: var(--color-link);
    --color-podcast-highlight: theme('colors.black.DEFAULT');
    /* Font */
    --font-title: theme('fontFamily.heading');
    --font-weight-title: theme('fontWeight.bold');
}

[data-theme='hr-bigband'] {
    --color-primary-ds: theme('colors.blue.blueStone');
    --color-secondary-ds: #007179;
    --color-highlight-1: theme('colors.blue.blackSqueeze');
    --color-highlight-2: theme('colors.orange.spicyCarrot');
    /* Navigation Hintergrund und Icons */
    --color-navigation-bg: #fff;
    --color-navigation-icons:  theme('colors.gray.scorpion');
    /* Medieninhalte, Video, Audio, Bildergalerie */
    --color-label-media: theme('colors.blue.blueStone');
    /* Ticker, Live, Livestream */
    --color-label-live: theme('colors.orange.spicyCarrot');
    /* Kommentar */
    --color-label-comment: theme('colors.yellow.hokeyPokey');
    /* Eilmeldung */
    --color-label-breakingnews: theme('colors.red.thunderbird');
    /* Sendung */
    --color-label-program: theme('colors.blue.blueStone');
    /* Download */
    --color-label-download: theme('colors.gray.scorpion');
    /* Event */
    --color-label-event: theme('colors.black.DEFAULT');
    /* Kurzmeldung */
    --color-label-kurzmeldung: theme('colors.blue.tarawera');
    /* Eventkalender */
    --color-eventcalendar-primary: var(--color-primary-ds);
    /* Dachzeile */
    --color-topline: theme('colors.green.teal');
    /* Subline */
    --color-subline: var(--color-topline);
    /* Link */
    --color-link: theme('colors.green.teal');
    /* Stage */
    --color-stage-text-box: 67 61 55;
    --color-stage-primary: theme('colors.blue.blueStone');
    --color-stage-link: theme('colors.white.DEFAULT');
    /* Cluster-Teaser */
    --color-cluster-teaser-link: theme('colors.green.teal');
    --color-cluster-teaser-headline: var(--color-primary-ds);
    /* Button */
    --color-button: theme('colors.green.teal');
    --color-button--dark: theme('colors.blue.blueStone');
    --color-button-inverted: theme('colors.white.DEFAULT');
    --color-button-inverted--dark: theme('colors.blue.accented');
    /* Media-Button */
    --color-media-button: theme('colors.green.teal');
    /* States */
    --color-focus-state: theme('colors.green.teal');
    /* Content-Nav */
    --color-content-nav: theme('colors.green.teal');
    /* Podcast-Player */
    --color-podcast: theme('colors.green.teal');
    --color-podcast-text: var(--color-link);
    --color-podcast-highlight: theme('colors.black.DEFAULT');
    /* Font */
    --font-title: theme('fontFamily.heading');
    --font-weight-title: theme('fontWeight.bold');
}

[data-theme='hr'] {
    --color-primary-ds: theme('colors.blue.deepCerulean');
    --color-secondary-ds: #007179;
    --color-highlight-1: theme('colors.blue.accented');
    --color-highlight-2: theme('colors.orange.spicyCarrot');
    /* Navigation Hintergrund und Icons */
    --color-navigation-bg: #fff;
    --color-navigation-icons:  theme('colors.gray.scorpion');
    /* Medieninhalte, Video, Audio, Bildergalerie */
    --color-label-media: theme('colors.blue.deepCerulean');
    /* Ticker, Live, Livestream */
    --color-label-live: theme('colors.orange.spicyCarrot');
    /* Kommentar */
    --color-label-comment: theme('colors.blue.deeperPool');
    /* Eilmeldung */
    --color-label-breakingnews: theme('colors.red.thunderbird');
    /* Sendung */
    --color-label-program: theme('colors.red.mexican');
    /* Download */
    --color-label-download: theme('colors.gray.scorpion');
    /* Event */
    --color-label-event: theme('colors.black.DEFAULT');
    /* Pressemitteilungen */
    --color-label-pm: var(--color-primary-ds);
    /* Kurzmeldung */
    --color-label-kurzmeldung: theme('colors.blue.tarawera');
    /* Eventkalender */
    --color-eventcalendar-primary: var(--color-primary-ds);
    /* Dachzeile */
    --color-topline: var(--color-primary-ds);
    /* Subline */
    --color-subline: var(--color-topline);
    /* Link */
    --color-link: var(--color-primary-ds);
    /* Stage */
    --color-stage-text-box: 0 110 183;
    --color-stage-primary: var(--color-primary-ds);
    --color-stage-link: theme('colors.white.DEFAULT');
    /* Cluster-Teaser */
    --color-cluster-teaser-link: var(--color-primary-ds);
    --color-cluster-teaser-headline: theme('colors.blue.astronautBlue');
    /* Button */
    --color-button: theme('colors.blue.deepCerulean');
    --color-button--dark: theme('colors.blue.astronautBlue');
    --color-button-inverted: theme('colors.white.DEFAULT');
    --color-button-inverted--dark: theme('colors.blue.accented');
    /* Media-Button */
    --color-media-button: var(--color-primary-ds);
    /* States */
    --color-focus-state: var(--color-primary-ds);
    /* Content-Nav */
    --color-content-nav: var(--color-primary-ds);
    /* Podcast-Player */
    --color-podcast: var(--color-primary-ds);
    --color-podcast-text: var(--color-link);
    --color-podcast-highlight: theme('colors.orange.chelseaGem');
    /* Font */
    --font-title: theme('fontFamily.heading');
    --font-weight-title: theme('fontWeight.bold');
}

[data-theme='hr1'] {
    --color-primary-ds: theme('colors.yellow.corn');
    --color-secondary-ds: #007179;
    --color-highlight-1: theme('colors.white.floral');
    --color-highlight-2: theme('colors.orange.spicyCarrot');
    
    /* Navigation Hintergrund und Icons */
    --color-navigation-bg: #fff;
    --color-navigation-icons:  theme('colors.gray.scorpion');

    /* Medieninhalte, Video, Audio, Bildergalerie */
    --color-label-media: theme('colors.yellow.olive');
    /* Ticker, Live, Livestream */
    --color-label-live: theme('colors.orange.spicyCarrot');
    /* Kommentar */
    --color-label-comment: theme('colors.pink.rose');
    /* Eilmeldung */
    --color-label-breakingnews: theme('colors.purple.disco');
    /* Sendung */
    --color-label-program: theme('colors.blue.turquoiseCerulian');
    /* Download */
    --color-label-download: theme('colors.green.flint');
    /* Event */
    --color-label-event: theme('colors.black.DEFAULT');
    /* Kurzmeldung */
    --color-label-kurzmeldung: theme('colors.blue.tarawera');
    /* Event */
    --color-event-status: theme('colors.purple.disco');
    /* Eventkalender */
    --color-eventcalendar-primary: theme('colors.blue.turquoiseCerulian');
    /* Dachzeile */
    --color-topline: theme('colors.yellow.olive');
    /* Subline */
    --color-subline: theme('colors.yellow.olive');
    /* Link */
    --color-link: theme('colors.yellow.olive');
    /* Stage */
    --color-stage-text-box: 67 61 55;
    --color-stage-primary: theme('colors.yellow.corn');
    --color-stage-link: theme('colors.white.DEFAULT');
    /* Cluster-Teaser */
    --color-cluster-teaser-link: theme('colors.black.DEFAULT');
    --color-cluster-teaser-headline: theme('colors.black.DEFAULT');
    /* Button */
    --color-button: theme('colors.yellow.olive');
    --color-button--dark: theme('colors.green.goBen');
    --color-button-inverted: theme('colors.white.DEFAULT');
    --color-button-inverted--dark: theme('colors.blue.accented');
    /* Media-Button */
    --color-media-button: theme('colors.yellow.olive');
    /* States */
    --color-focus-state: theme('colors.yellow.olive');
    /* Content-Nav */
    --color-content-nav: theme('colors.yellow.olive');
    /* Podcast-Player */
    --color-podcast: theme('colors.yellow.olive');
    --color-podcast-text: var(--color-link);
    --color-podcast-highlight: theme('colors.green.teal');
    /* Font */
    --font-title: theme('fontFamily.heading');
    --font-weight-title: theme('fontWeight.bold');
}

[data-theme='hr2'] {
    --color-primary-ds: theme('colors.orange.clementine');
    --color-secondary-ds: #007179;
    --color-highlight-1: theme('colors.gray.alto');
    --color-highlight-2: theme('colors.orange.spicyCarrot');

    /* Navigation Hintergrund und Icons */
    --color-navigation-bg: #fff;
    --color-navigation-icons:  theme('colors.gray.scorpion');
    
    /* Medieninhalte, Video, Audio, Bildergalerie */
    --color-label-media: theme('colors.orange.burntOrange');
    /* Ticker, Live, Livestream */
    --color-label-live: theme('colors.pink.rose');
    /* Kommentar */
    --color-label-comment: theme('colors.green.tropicalRainForest');
    /* Eilmeldung */
    --color-label-breakingnews: theme('colors.red.thunderbird');
    /* Sendung */
    --color-label-program: theme('colors.red.paprika');
    /* Download */
    --color-label-download: theme('colors.gray.scorpion');
    /* Event */
    --color-label-event: theme('colors.black.DEFAULT');
    /* Kurzmeldung */
    --color-label-kurzmeldung: theme('colors.blue.tarawera');
    /* Eventkalender */
    --color-eventcalendar-primary: theme('colors.red.paprika');
    /* Dachzeile */
    --color-topline: theme('colors.red.paprika');
    /* Subline */
    --color-subline: var(--color-topline);
    /* Link */
    --color-link: theme('colors.red.paprika');
    /* Stage */
    --color-stage-text-box: 255 255 255;
    --color-stage-primary: var(--color-primary-ds);
    --color-stage-text: theme('colors.black.DEFAULT');
    --color-stage-link: var(--color-link);
    /* Cluster-Teaser */
    --color-cluster-teaser-link: theme('colors.red.paprika');
    --color-cluster-teaser-headline: theme('colors.black.DEFAULT');
    /* Button */
    --color-button: theme('colors.red.paprika');
    --color-button--dark: theme('colors.purple.pompadour');
    --color-button-inverted: theme('colors.white.DEFAULT');
    --color-button-inverted--dark: theme('colors.blue.accented');
    /* Media-Button */
    --color-media-button: theme('colors.orange.burntOrange');
    /* States */
    --color-focus-state: theme('colors.red.paprika');
    /* Content-Nav */
    --color-content-nav: theme('colors.red.paprika');
    /* Podcast-Player */
    --color-podcast: theme('colors.red.paprika');
    --color-podcast-text: var(--color-link);
    --color-podcast-highlight: theme('colors.orange.oregon');
    /* Font */
    --font-title: theme('fontFamily.heading');
    --font-weight-title: theme('fontWeight.bold');
}

[data-theme='hr3'] {
    --color-primary-ds: theme('colors.red.monza');
    --color-secondary-ds: #007179;
    --color-highlight-1: theme('colors.gray.mercury');
    --color-highlight-2: theme('colors.orange.spicyCarrot');

    /* Navigation Hintergrund und Icons */
    --color-navigation-bg: #fff;
    --color-navigation-icons: theme('colors.gray.scorpion');
    --color-navigation-text: theme('colors.gray.scorpion');
    --color-brandnavigation-border: theme('colors.red.monza'); 
    --color-navigation-border: theme('colors.red.monza');
    --border-navigation-border-width: 8px;

    /* Medieninhalte, Video, Audio, Bildergalerie */
    --color-label-media: theme('colors.red.monza');
    /* Ticker, Live, Livestream */
    --color-label-live: theme('colors.orange.spicyCarrot');
    /* Kommentar */
    --color-label-comment: theme('colors.green.pacifica');
    /* Eilmeldung */
    --color-label-breakingnews: theme('colors.green.pineGreen');
    /* Sendung */
    --color-label-program: theme('colors.green.pineGreen');
    /* Download */
    --color-label-download: theme('colors.gray.scorpion');
    /* Event */
    --color-label-event: theme('colors.black.DEFAULT');
    /* Kurzmeldung */
    --color-label-kurzmeldung: theme('colors.blue.tarawera');
    /* Event */
    --color-event-status: theme('colors.green.pineGreen');
    /* Eventkalender */
    --color-eventcalendar-primary: var(--color-primary-ds);
    /* Dachzeile */
    --color-topline: var(--color-primary-ds);
    /* Subline */
    --color-subline: var(--color-topline);
    /* Link */
    --color-link: var(--color-primary-ds);
    /* Stage */
    --color-stage-text-box: 255 255 255;
    --color-stage-primary: var(--color-primary-ds);
    --color-stage-text: var(--color-primary-ds);
    --color-stage-link: var(--color-link);
    /* Cluster-Teaser */
    --color-cluster-teaser-link: var(--color-primary-ds);
    --color-cluster-teaser-headline: theme('colors.black.DEFAULT');
    /* Button */
    --color-button: theme('colors.red.scarlett');
    --color-button-inverted: theme('colors.white.DEFAULT');
    --color-button--dark: theme('colors.red.burntUmber');
    --color-button-inverted--dark: theme('colors.blue.accented');
    /* Media-Button */
    --color-media-button: var(--color-primary-ds);
    /* States */
    --color-focus-state: var(--color-primary-ds);
    /* Content-Nav */
    --color-content-nav: theme('colors.red.scarlett');
    /* Podcast-Player */
    --color-podcast: var(--color-primary-ds);
    --color-podcast-text: var(--color-link);
    --color-podcast-highlight: theme('colors.green.pineGreen');
    /* Font */
    --font-title: theme('fontFamily.heading');
    --font-weight-title: theme('fontWeight.bold');
}

[data-theme='hr4'] {
    --color-primary-ds: theme('colors.green.genoa');
    --color-secondary-ds: #007179;
    --color-highlight-1: theme('colors.white.azureish');
    --color-highlight-2: theme('colors.orange.spicyCarrot');

    /* Medieninhalte, Video, Audio, Bildergalerie */
    --color-label-media: theme('colors.green.genoa');
    /* Ticker, Live, Livestream */
    --color-label-live: theme('colors.orange.spicyCarrot');
    /* Kommentar */
    --color-label-comment: theme('colors.blue.dodgerBlue');
    /* Eilmeldung */
    --color-label-breakingnews: theme('colors.red.thunderbird');
    /* Sendung */
    --color-label-program: theme('colors.pink.fuchsie');
    /* Download */
    --color-label-download: theme('colors.gray.scorpion');
    /* Event */
    --color-label-event: theme('colors.black.DEFAULT');
    /* Kurzmeldung */
    --color-label-kurzmeldung: theme('colors.blue.tarawera');
    /* Event */
    --color-event-status: theme('colors.red.alizarinCrimson');
    /* Eventkalender */
    --color-eventcalendar-primary: var(--color-primary-ds);
    /* Dachzeile */
    --color-topline: theme('colors.green.eden');
    /* Subline */
    --color-subline: var(--color-topline);
    /* Link */
    --color-link: theme('colors.green.eden');
    /* Stage */
    --color-stage-text-box: 255 255 255;
    --color-stage-primary: theme('colors.green.genoa');
    --color-stage-text: theme('colors.black.DEFAULT');
    --color-stage-link: theme('colors.black.DEFAULT');
    /* Cluster-Teaser */
    --color-cluster-teaser-link: var(--color-link);
    --color-cluster-teaser-headline: theme('colors.black.DEFAULT');
    /* Button */
    --color-button: theme('colors.green.casal');
    --color-button-inverted: theme('colors.white.DEFAULT');
    --color-button--dark: theme('colors.green.eden');
    --color-button-inverted--dark: theme('colors.blue.accented');
    /* Media-Button */
    --color-media-button: theme('colors.green.eden');
    /* States */
    --color-focus-state: var(--color-link);
    /* Content-Nav */
    --color-content-nav: var(--color-primary-ds);
    /* Podcast-Player */
    --color-podcast: theme('colors.green.eden');
    --color-podcast-text: var(--color-link);
    --color-podcast-highlight: theme('colors.pink.fuchsie');
    /* Font */
    --font-title: theme('fontFamily.heading');
    --font-weight-title: theme('fontWeight.bold');
    /* Border */
    --border-radius-hr: theme('borderRadius.3xl');
}

[data-theme='you-fm'] {
    --color-primary-ds: #c20016;
    --color-secondary-ds: #007179;
    --color-highlight-1: theme('colors.gray.platinum');
    --color-highlight-2: theme('colors.orange.spicyCarrot');

    /* Medieninhalte, Video, Audio, Bildergalerien */
    --color-label-media: theme('colors.black.DEFAULT');
    /* Ticker, Live, Livestream */
    --color-label-live: theme('colors.orange.spicyCarrot');
    /* Kommentar */
    --color-label-comment: theme('colors.green.tropicalRainForest');
    /* Eilmeldung */
    --color-label-breakingnews: theme('colors.red.thunderbird');
    /* Sendung */
    --color-label-program: theme('colors.blue.lightCerulean');
    /* Download */
    --color-label-download: theme('colors.gray.scorpion');
    /* Event */
    --color-label-event: theme('colors.black.DEFAULT');
    /* Kurzmeldung */
    --color-label-kurzmeldung: theme('colors.blue.tarawera');
    /* Eventkalender */
    --color-eventcalendar-primary: var(--color-link);
    /* Dachzeile */
    --color-topline: var(--color-link);
    /* Subline */
    --color-subline: var(--color-topline);
    /* Link */
    --color-link: theme('colors.blue.sea');
    /* Stage */
    --color-stage-text-box: 255 255 255;
    --color-stage-primary: theme('colors.yellow.goldenSand');
    --color-stage-text: theme('colors.black.DEFAULT');
    --color-stage-link: theme('colors.black.DEFAULT');
    /* Cluster-Teaser */
    --color-cluster-teaser-link: var(--color-link);
    --color-cluster-teaser-headline: theme('colors.black.DEFAULT');
    /* Button */
    --color-button: theme('colors.blue.sea');
    --color-button-inverted: theme('colors.white.DEFAULT');
    --color-button--dark: theme('colors.blue.blueStone');
    --color-button-inverted--dark: theme('colors.blue.accented');
    /* Media-Button */
    --color-media-button: theme('colors.black.DEFAULT');
    /* States */
    --color-focus-state: var(--color-link);
    /* Content-Nav */
    --color-content-nav: var(--color-link);
    /* Podcast-Player */
    --color-podcast: theme('colors.blue.lightCerulean');
    --color-podcast-text: var(--color-link);
    --color-podcast-highlight: theme('colors.black.DEFAULT');
    /* Font */
    --font-title: theme('fontFamily.heading');
    --font-weight-title: theme('fontWeight.bold');
}

/*! purgecss end ignore */

.sbdocs-content {
    max-width: 1140px !important;
}

.hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}
.hide-scroll-bar::-webkit-scrollbar {
    display: none;
}

.arrow-left-background {
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(255, 255, 255) 50%);
    transition: transform 150ms ease-in-out 0s;
}
.arrow-right-background {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255) 50%);
    transition: transform 150ms ease-in-out 0s;
}
.arrow-left-background-blue {
    background: linear-gradient(to left, rgba(255, 255, 255, 0),theme('colors.primary') 50%);
    transition: transform 150ms ease-in-out 0s;
}
.arrow-right-background-blue {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), theme('colors.primary') 50%);
    transition: transform 150ms ease-in-out 0s;
}
.c-videoplayer .ardplayer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.overflow-anywhere {
    overflow-wrap: anywhere;
}
