@import 'tailwindcss/base';
@import 'css/custom-base.css';
@import 'tailwindcss/components';
@import 'css/custom-components.css';
@import 'tailwindcss/utilities';
@import 'css/custom-utilities.css';

/*! purgecss start ignore */
:root,
[data-theme='default'] {
    --color-primary: theme('colors.blue.congress');
    --color-secondary: #606060;
    --color-highlight-1: theme('colors.blue.accented');
    --color-highlight-2: theme('colors.orange.spicyCarrot');

    /* Medieninhalte, Video, Audio, Bildergalerie */
    --color-label-media: theme('colors.blue.science');
    /* Ticker, Live, Livestream */
    --color-label-live: theme('colors.orange.spicyCarrot');
    /* Event */
    --color-label-event: theme('colors.black.DEFAULT');
    /* Eilmeldung */
    --color-label-breakingnews: theme('colors.red.thunderbird');
    /* Kommentar */
    --color-label-comment: theme('colors.blue.deeperPool');
    /* Infografik */
    --color-label-infografik: theme('colors.pink.ripeRaspberries');
    /* Sendung */
    --color-label-program: theme('colors.blue.pacificBlue');
    /* Download */
    --color-label-download: theme('colors.grey.scorpion');
    /* Pressemitteilungen */
    --color-label-pm: theme('colors.blue.deepCerulean');
    /* Sendungsdokument */
    --color-label-program: theme('colors.blue.pacificBlue');
    /* Kurzmeldung */
    --color-label-kurzmeldung: theme('colors.blue.tarawera');
    /* Dachzeile */
    --color-topline: #006dc1;
    /* Eventkalender */
    --color-label-event-calendar-title: theme('colors.teal.deeperPool');
    --color-eventcalendar-primary: var(--color-primary);
    --color-eventcalendar-secondary: theme('colors.grey.boulder');
    /* Subline */
    --color-subline: var(--color-topline);
    /* Link */
    --color-link: theme('colors.blue.deepCerulean');
    /* Stage */
    --color-stage-text-box: theme('colors.blue.deepCerulean');
    --color-stage-text: theme('colors.white.DEFAULT');
    --color-stage-primary: theme('colors.blue.deepCerulean');
    --color-stage-link: var('--color-link');
    /* geoTag */
    --color-geoTag: theme('colors.grey.brightGray');
    /* Cluster-Teaser */
    --color-cluster-teaser-link: theme('colors.blue.science');
    --color-cluster-teaser-headline: theme('colors.blue.congress');
    /* Button */
    --color-button: var(--color-primary);
    --color-button-inverted: theme('colors.white.DEFAULT');
    --color-button-hollow: theme('colors.blue.science');
    /* States */
    --color-focus-state: var(--color-primary);
    /* Content-Nav */
    --color-content-nav: var(--color-primary);
    /* Podcast-Player */
    --color-podcast: theme('colors.blue.science');
    --color-podcast-text: var(--color-link);
    /* Font */
    --font-title: theme('fontFamily.heading');
    --font-weight-title: theme('fontWeight.bold');
    --font-titleCluster: theme('fontFamily.headingSerif');
    --font-weight-titleCluster: theme('fontWeight.bold');
}

[data-theme='hessenschau'] {
    --color-primary: theme('colors.blue.congress');
    --color-secondary: #606060;
    --color-highlight-1: theme('colors.blue.accented');
    --color-highlight-2: theme('colors.orange.spicyCarrot');

    /* Medieninhalte, Video, Audio, Bildergalerie */
    --color-label-media: theme('colors.blue.science');
    /* Ticker, Live, Livestream */
    --color-label-live: theme('colors.orange.spicyCarrot');
    /* Event */
    --color-label-event: theme('colors.black.DEFAULT');
    /* Eilmeldung */
    --color-label-breakingnews: theme('colors.red.thunderbird');
    /* Kommentar */
    --color-label-comment: theme('colors.blue.deeperPool');
    /* Infografik */
    --color-label-infografik: theme('colors.pink.ripeRaspberries');
    /* Sendung */
    --color-label-program: theme('colors.blue.pacificBlue');
    /* Download */
    --color-label-download: theme('colors.grey.scorpion');
    /* Pressemitteilungen */
    --color-label-pm: theme('colors.blue.deepCerulean');
    /* Kurzmeldung */
    --color-label-kurzmeldung: theme('colors.blue.tarawera');
    /* Eventkalender */
    --color-eventcalendar-primary: var(--color-primary);
    /* Dachzeile */
    --color-topline: #006dc1;
    /* Subline */
    --color-subline: var(--color-topline);
    /* Link */
    --color-link: theme('colors.blue.science');
    /*Stage */
    --color-stage-text-box: theme('colors.grey.armadillo');
    --color-stage-primary: theme('colors.blue.congress');
    --color-stage-text: theme('colors.white.DEFAULT');
    --color-stage-link: theme('colors.white.DEFAULT');
    /* geoTag */
    --color-geoTag: theme('colors.grey.brightGray');
    /* Cluster-Teaser */
    --color-cluster-teaser-link: theme('colors.blue.science');
    --color-cluster-teaser-headline: theme('colors.blue.congress');
    /* Button */
    --color-button: var(--color-primary);
    --color-button-inverted: theme('colors.white.DEFAULT');
    --color-button-hollow: theme('colors.blue.science');
    /* States */
    --color-focus-state: var(--color-primary);
    /* Content-Nav */
    --color-content-nav: var(--color-primary);
    /* Podcast-Player */
    --color-podcast: theme('colors.blue.science');
    --color-podcast-text: var(--color-link);
    --color-podcast-highlight: theme('colors.orange.goldDrop');
    /* Font */
    --font-title: theme('fontFamily.headingSerif');
    --font-weight-title: theme('fontWeight.normal');
    --font-titleCluster: theme('fontFamily.headingSerif');
    --font-weight-titleCluster: theme('fontWeight.bold');
}

[data-theme='hr-fernsehen'] {
    --color-primary: theme('colors.purple.jazzberry');
    --color-secondary: #007179;
    --color-highlight-1: theme('colors.white.blackhaze');
    --color-highlight-2: theme('colors.orange.spicyCarrot');

    /* Medieninhalte, Video, Audio, Bildergalerie */
    --color-label-media: theme('colors.blue.science');
    /* Ticker, Live, Livestream */
    --color-label-live: theme('colors.orange.spicyCarrot');
    /* Kommentar */
    --color-label-comment: theme('colors.blue.deeperPool');
    /* Eilmeldung */
    --color-label-breakingnews: theme('colors.red.thunderbird');
    /* Sendung */
    --color-label-program: theme('colors.blue.pacificBlue');
    /* Download */
    --color-label-download: theme('colors.grey.scorpion');
    /* Event */
    --color-label-event: theme('colors.black.DEFAULT');
    /* Kurzmeldung */
    --color-label-kurzmeldung: theme('colors.blue.tarawera');
    /* Eventkalender */
    --color-eventcalendar-primary: var(--color-primary);
    /* Dachzeile */
    --color-topline: theme('colors.purple.jazzberry');
    /* Subline */
    --color-subline: var(--color-topline);
    /* Link */
    --color-link: theme('colors.purple.jazzberry');
    /* Stage */
    --color-stage-text-box: theme('colors.white.blackhaze');
    --color-stage-text: theme('colors.black.DEFAULT');
    --color-stage-primary: theme('colors.purple.pompadour');
    --color-stage-link: var(--color-link);
    /* Cluster-Teaser */
    --color-cluster-teaser-link: theme('colors.purple.jazzberry');
    --color-cluster-teaser-headline: theme('colors.purple.pompadour');
    /* Button */
    --color-button: var(--color-primary);
    --color-button-inverted: theme('colors.white.DEFAULT');
    --color-button-hollow: theme('colors.purple.jazzberry');
    /* States */
    --color-focus-state: var(--color-primary);
    /* Content-Nav */
    --color-content-nav: var(--color-primary);
    /* Podcast-Player */
    --color-podcast: theme('colors.purple.jazzberry');
    --color-podcast-text: var(--color-link);
    --color-podcast-highlight: theme('colors.blue.pacificBlue');
    /* Font */
    --font-title: theme('fontFamily.heading');
    --font-weight-title: theme('fontWeight.bold');
}

[data-theme='hr-inforadio'] {
    --color-primary: theme('colors.blue.jellyBean');
    --color-secondary: #007179;
    --color-highlight-1: theme('colors.blue.aqua');
    --color-highlight-2: theme('colors.orange.spicyCarrot');

    /* Medieninhalte, Video, Audio, Bildergalerie */
    --color-label-media: theme('colors.blue.science');
    /* Ticker, Live, Livestream */
    --color-label-live: theme('colors.orange.spicyCarrot');
    /* Kommentar */
    --color-label-comment: theme('colors.blue.deeperPool');
    /* Eilmeldung */
    --color-label-breakingnews: theme('colors.red.thunderbird');
    /* Sendung */
    --color-label-program: theme('colors.blue.pacificBlue');
    /* Download */
    --color-label-download: theme('colors.grey.scorpion');
    /* Event */
    --color-label-event: theme('colors.black.DEFAULT');
    /* Kurzmeldung */
    --color-label-kurzmeldung: theme('colors.blue.tarawera');
    /* Eventkalender */
    --color-eventcalendar-primary: var(--color-primary);
    /* Dachzeile */
    --color-topline: theme('colors.blue.jellyBean');
    /* Subline */
    --color-subline: var(--color-topline);
    /* Link */
    --color-link: theme('colors.blue.jellyBean');
    /* Stage */
    --color-stage-text-box: theme('colors.blue.astronautBlue');
    --color-stage-primary: theme('colors.blue.astronautBlue');
    --color-stage-link: theme('colors.white.DEFAULT');
    /* Cluster-Teaser */
    --color-cluster-teaser-link: var(--color-primary);
    --color-cluster-teaser-headline: theme('colors.blue.astronautBlue');
    /* Button */
    --color-button: var(--color-primary);
    --color-button-inverted: theme('colors.white.DEFAULT');
    --color-button-hollow: theme('colors.blue.jellyBean');
    /* States */
    --color-focus-state: var(--color-primary);
    /* Content-Nav */
    --color-content-nav: var(--color-primary);
    /* Podcast-Player */
    --color-podcast: theme('colors.blue.jellyBean');
    --color-podcast-text: var(--color-link);
    --color-podcast-highlight: theme('colors.pink.rose');
    /* Font */
    --font-title: theme('fontFamily.heading');
    --font-weight-title: theme('fontWeight.bold');
}

[data-theme='hr-rundfunkrat'] {
    --color-primary: theme('colors.grey.scorpion');
    --color-secondary: #007179;
    --color-highlight-1: theme('colors.blue.linkWater');
    --color-highlight-2: theme('colors.orange.spicyCarrot');

    /* Medieninhalte, Video, Audio, Bildergalerie */
    --color-label-media: theme('colors.blue.science');
    /* Ticker, Live, Livestream */
    --color-label-live: theme('colors.orange.spicyCarrot');
    /* Kommentar */
    --color-label-comment: theme('colors.blue.deeperPool');
    /* Eilmeldung */
    --color-label-breakingnews: theme('colors.red.thunderbird');
    /* Sendung */
    --color-label-program: theme('colors.blue.pacificBlue');
    /* Download */
    --color-label-download: theme('colors.grey.scorpion');
    /* Event */
    --color-label-event: theme('colors.black.DEFAULT');
    /* Pressemitteilungen */
    --color-label-pm: theme('colors.blue.deepCerulean');
    /* Kurzmeldung */
    --color-label-kurzmeldung: theme('colors.blue.tarawera');
    /* Eventkalender */
    --color-eventcalendar-primary: theme('colors.blue.deepCerulean');
    /* Dachzeile */
    --color-topline: theme('colors.blue.deepCerulean');
    /* Subline */
    --color-subline: var(--color-topline);
    /* Link */
    --color-link: theme('colors.blue.deepCerulean');
    /* Stage */
    --color-stage-text-box: theme('colors.blue.deepCerulean');
    --color-stage-primary: theme('colors.blue.deepCerulean');
    --color-stage-link: theme('colors.white.DEFAULT');
    /* Cluster-Teaser */
    --color-cluster-teaser-link: theme('colors.blue.deepCerulean');
    --color-cluster-teaser-headline: theme('colors.blue.congress');
    /* Button */
    --color-button: theme('colors.blue.deepCerulean');
    --color-button-inverted: theme('colors.white.DEFAULT');
    --color-button-hollow: theme('colors.blue.deepCerulean');
    /* States */
    --color-focus-state: theme('colors.blue.deepCerulean');
    /* Content-Nav */
    --color-content-nav: theme('colors.blue.deepCerulean');
    /* Podcast-Player */
    --color-podcast: theme('colors.blue.deepCerulean');
    --color-podcast-text: var(--color-link);
    --color-podcast-highlight: theme('colors.orange.goldDrop');
    /* Font */
    --font-title: theme('fontFamily.heading');
    --font-weight-title: theme('fontWeight.bold');
}

[data-theme='hr-werbung'] {
    --color-primary: theme('colors.blue.deepCerulean');
    --color-secondary: #007179;
    --color-highlight-1: theme('colors.blue.linkWater');
    --color-highlight-2: theme('colors.orange.spicyCarrot');

    /* Medieninhalte, Video, Audio, Bildergalerie */
    --color-label-media: theme('colors.blue.science');
    /* Ticker, Live, Livestream */
    --color-label-live: theme('colors.orange.spicyCarrot');
    /* Kommentar */
    --color-label-comment: theme('colors.blue.deeperPool');
    /* Eilmeldung */
    --color-label-breakingnews: theme('colors.red.thunderbird');
    /* Sendung */
    --color-label-program: theme('colors.blue.pacificBlue');
    /* Download */
    --color-label-download: theme('colors.grey.scorpion');
    /* Event */
    --color-label-event: theme('colors.black.DEFAULT');
    /* Pressemitteilungen */
    --color-label-pm: theme('colors.blue.deepCerulean');
    /* Kurzmeldung */
    --color-label-kurzmeldung: theme('colors.blue.tarawera');
    /* Eventkalender */
    --color-eventcalendar-primary: theme('colors.blue.deepCerulean');
    /* Dachzeile */
    --color-topline: theme('colors.blue.deepCerulean');
    /* Subline */
    --color-subline: var(--color-topline);
    /* Link */
    --color-link: var(--color-primary);
    /* Stage */
    --color-stage-text-box: var(--color-primary);
    --color-stage-primary: var(--color-primary);
    --color-stage-link: theme('colors.white.DEFAULT');
    /* Cluster-Teaser */
    --color-cluster-teaser-link: var(--color-primary);
    --color-cluster-teaser-headline: theme('colors.blue.congress');
    /* Button */
    --color-button: var(--color-primary);
    --color-button-inverted: theme('colors.white.DEFAULT');
    --color-button-hollow: var(--color-primary);
    /* States */
    --color-focus-state: var(--color-primary);
    /* Content-Nav */
    --color-content-nav: var(--color-primary);
    /* Podcast-Player */
    --color-podcast: theme('colors.blue.deepCerulean');
    --color-podcast-text: var(--color-link);
    --color-podcast-highlight: theme('colors.orange.goldDrop');
    /* Font */
    --font-title: theme('fontFamily.heading');
    --font-weight-title: theme('fontWeight.bold');
}

[data-theme='hr-sinfonieorchester'] {
    --color-primary: theme('colors.red.burntUmber');
    --color-secondary: #007179;
    --color-highlight-1: theme('colors.grey.alto');
    --color-highlight-2: theme('colors.orange.spicyCarrot');

    /* Medieninhalte, Video, Audio, Bildergalerie */
    --color-label-media: theme('colors.blue.science');
    /* Ticker, Live, Livestream */
    --color-label-live: theme('colors.orange.spicyCarrot');
    /* Kommentar */
    --color-label-comment: theme('colors.blue.deeperPool');
    /* Eilmeldung */
    --color-label-breakingnews: theme('colors.red.thunderbird');
    /* Sendung */
    --color-label-program: theme('colors.blue.pacificBlue');
    /* Download */
    --color-label-download: theme('colors.grey.scorpion');
    /* Event */
    --color-label-event: theme('colors.black.DEFAULT');
    /* Kurzmeldung */
    --color-label-kurzmeldung: theme('colors.blue.tarawera');
    /* Eventkalender */
    --color-eventcalendar-primary: var(--color-primary);
    /* Dachzeile */
    --color-topline: theme('colors.red.wellRead');
    /* Subline */
    --color-subline: var(--color-topline);
    /* Link */
    --color-link: theme('colors.red.wellRead');
    /* Stage */
    --color-stage-text-box: var(--color-primary);
    --color-stage-primary: var(--color-primary);
    --color-stage-link: theme('colors.white.DEFAULT');
    /* Cluster-Teaser */
    --color-cluster-teaser-link: theme('colors.red.wellRead');
    --color-cluster-teaser-headline: var(--color-primary);
    /* Button */
    --color-button: theme('colors.red.wellRead');
    --color-button-inverted: theme('colors.white.DEFAULT');
    --color-button-hollow: theme('colors.red.wellRead');
    /* States */
    --color-focus-state: theme('colors.red.wellRead');
    /* Content-Nav */
    --color-content-nav: theme('colors.red.wellRead');
    /* Podcast-Player */
    --color-podcast: theme('colors.red.wellRead');
    --color-podcast-text: var(--color-link);
    --color-podcast-highlight: theme('colors.orange.goldDrop');
    /* Font */
    --font-title: theme('fontFamily.heading');
    --font-weight-title: theme('fontWeight.bold');
}

[data-theme='hr-bigband'] {
    --color-primary: theme('colors.blue.blueStone');
    --color-secondary: #007179;
    --color-highlight-1: theme('colors.blue.mystic');
    --color-highlight-2: theme('colors.orange.spicyCarrot');

    /* Medieninhalte, Video, Audio, Bildergalerie */
    --color-label-media: theme('colors.blue.science');
    /* Ticker, Live, Livestream */
    --color-label-live: theme('colors.orange.spicyCarrot');
    /* Kommentar */
    --color-label-comment: theme('colors.blue.deeperPool');
    /* Eilmeldung */
    --color-label-breakingnews: theme('colors.red.thunderbird');
    /* Sendung */
    --color-label-program: theme('colors.blue.pacificBlue');
    /* Download */
    --color-label-download: theme('colors.grey.scorpion');
    /* Event */
    --color-label-event: theme('colors.black.DEFAULT');
    /* Kurzmeldung */
    --color-label-kurzmeldung: theme('colors.blue.tarawera');
    /* Eventkalender */
    --color-eventcalendar-primary: var(--color-primary);
    /* Dachzeile */
    --color-topline: theme('colors.blue.teal');
    /* Subline */
    --color-subline: var(--color-topline);
    /* Link */
    --color-link: theme('colors.blue.teal');
    /* Stage */
    --color-stage-text-box: theme('colors.grey.armadillo');
    --color-stage-primary: theme('colors.blue.blueStone');
    --color-stage-link: theme('colors.white.DEFAULT');
    /* Cluster-Teaser */
    --color-cluster-teaser-link: theme('colors.blue.teal');
    --color-cluster-teaser-headline: var(--color-primary);
    /* Button */
    --color-button: theme('colors.blue.teal');
    --color-button-inverted: theme('colors.white.DEFAULT');
    --color-button-hollow: theme('colors.blue.teal');
    /* States */
    --color-focus-state: theme('colors.blue.teal');
    /* Content-Nav */
    --color-content-nav: theme('colors.blue.teal');
    /* Podcast-Player */
    --color-podcast: theme('colors.blue.teal');
    --color-podcast-text: var(--color-link);
    --color-podcast-highlight: theme('colors.orange.goldDrop');
    /* Font */
    --font-title: theme('fontFamily.heading');
    --font-weight-title: theme('fontWeight.bold');
}

[data-theme='hr'] {
    --color-primary: theme('colors.blue.deepCerulean');
    --color-secondary: #007179;
    --color-highlight-1: theme('colors.blue.linkWater');
    --color-highlight-2: theme('colors.orange.spicyCarrot');

    /* Medieninhalte, Video, Audio, Bildergalerie */
    --color-label-media: theme('colors.blue.science');
    /* Ticker, Live, Livestream */
    --color-label-live: theme('colors.orange.spicyCarrot');
    /* Kommentar */
    --color-label-comment: theme('colors.blue.deeperPool');
    /* Eilmeldung */
    --color-label-breakingnews: theme('colors.red.thunderbird');
    /* Sendung */
    --color-label-program: theme('colors.blue.pacificBlue');
    /* Download */
    --color-label-download: theme('colors.grey.scorpion');
    /* Event */
    --color-label-event: theme('colors.black.DEFAULT');
    /* Pressemitteilungen */
    --color-label-pm: var(--color-primary);
    /* Kurzmeldung */
    --color-label-kurzmeldung: theme('colors.blue.tarawera');
    /* Eventkalender */
    --color-eventcalendar-primary: var(--color-primary);
    /* Dachzeile */
    --color-topline: var(--color-primary);
    /* Subline */
    --color-subline: var(--color-topline);
    /* Link */
    --color-link: var(--color-primary);
    /* Stage */
    --color-stage-text-box: var(--color-primary);
    --color-stage-primary: var(--color-primary);
    --color-stage-link: theme('colors.white.DEFAULT');
    /* Cluster-Teaser */
    --color-cluster-teaser-link: var(--color-primary);
    --color-cluster-teaser-headline: theme('colors.blue.astronautBlue');
    /* Button */
    --color-button: var(--color-primary);
    --color-button-inverted: theme('colors.white.DEFAULT');
    --color-button-hollow: var(--color-primary);
    /* States */
    --color-focus-state: var(--color-primary);
    /* Content-Nav */
    --color-content-nav: var(--color-primary);
    /* Podcast-Player */
    --color-podcast: var(--color-primary);
    --color-podcast-text: var(--color-link);
    --color-podcast-highlight: theme('colors.orange.goldDrop');
    /* Font */
    --font-title: theme('fontFamily.heading');
    --font-weight-title: theme('fontWeight.bold');
}

[data-theme='hr1'] {
    --color-primary: theme('colors.yellow.corn');
    --color-secondary: #007179;
    --color-highlight-1: theme('colors.white.floral');
    --color-highlight-2: theme('colors.orange.spicyCarrot');

    /* Medieninhalte, Video, Audio, Bildergalerie */
    --color-label-media: theme('colors.blue.science');
    /* Ticker, Live, Livestream */
    --color-label-live: theme('colors.orange.spicyCarrot');
    /* Kommentar */
    --color-label-comment: theme('colors.blue.deeperPool');
    /* Eilmeldung */
    --color-label-breakingnews: theme('colors.red.thunderbird');
    /* Sendung */
    --color-label-program: theme('colors.blue.pacificBlue');
    /* Download */
    --color-label-download: theme('colors.grey.scorpion');
    /* Event */
    --color-label-event: theme('colors.black.DEFAULT');
    /* Kurzmeldung */
    --color-label-kurzmeldung: theme('colors.blue.tarawera');
    /* Eventkalender */
    --color-eventcalendar-primary: theme('colors.blue.turquoiseCerulian');
    /* Dachzeile */
    --color-topline: theme('colors.yellow.olive');
    /* Subline */
    --color-subline: theme('colors.yellow.olive');
    /* Link */
    --color-link: theme('colors.yellow.olive');
    /* Stage */
    --color-stage-text-box: theme('colors.grey.armadillo');
    --color-stage-primary: theme('colors.yellow.corn');
    --color-stage-link: theme('colors.white.DEFAULT');
    /* Cluster-Teaser */
    --color-cluster-teaser-link: theme('colors.black.DEFAULT');
    --color-cluster-teaser-headline: theme('colors.black.DEFAULT');
    /* Button */
    --color-button: theme('colors.yellow.olive');
    --color-button-inverted: theme('colors.white.DEFAULT');
    --color-button-hollow: theme('colors.yellow.olive');
    /* States */
    --color-focus-state: theme('colors.yellow.olive');
    /* Content-Nav */
    --color-content-nav: theme('colors.yellow.olive');
    /* Podcast-Player */
    --color-podcast: theme('colors.yellow.olive');
    --color-podcast-text: var(--color-link);
    --color-podcast-highlight: theme('colors.blue.turquoiseCerulian');
    /* Font */
    --font-title: theme('fontFamily.heading');
    --font-weight-title: theme('fontWeight.bold');
}

[data-theme='hr2'] {
    --color-primary: theme('colors.orange.clementine');
    --color-secondary: #007179;
    --color-highlight-1: theme('colors.grey.alto');
    --color-highlight-2: theme('colors.orange.spicyCarrot');

    /* Medieninhalte, Video, Audio, Bildergalerie */
    --color-label-media: theme('colors.blue.science');
    /* Ticker, Live, Livestream */
    --color-label-live: theme('colors.pink.rose');
    /* Kommentar */
    --color-label-comment: theme('colors.blue.deeperPool');
    /* Eilmeldung */
    --color-label-breakingnews: theme('colors.red.thunderbird');
    /* Sendung */
    --color-label-program: theme('colors.blue.pacificBlue');
    /* Download */
    --color-label-download: theme('colors.grey.scorpion');
    /* Event */
    --color-label-event: theme('colors.black.DEFAULT');
    /* Kurzmeldung */
    --color-label-kurzmeldung: theme('colors.blue.tarawera');
    /* Eventkalender */
    --color-eventcalendar-primary: theme('colors.red.paprika');
    /* Dachzeile */
    --color-topline: theme('colors.red.paprika');
    /* Subline */
    --color-subline: var(--color-topline);
    /* Link */
    --color-link: theme('colors.red.paprika');
    /* Stage */
    --color-stage-text-box: theme('colors.white.DEFAULT');
    --color-stage-primary: var(--color-primary);
    --color-stage-text: theme('colors.black.DEFAULT');
    --color-stage-link: var(--color-link);
    /* Cluster-Teaser */
    --color-cluster-teaser-link: theme('colors.red.paprika');
    --color-cluster-teaser-headline: theme('colors.black.DEFAULT');
    /* Button */
    --color-button: theme('colors.red.paprika');
    --color-button-inverted: theme('colors.white.DEFAULT');
    --color-button-hollow: theme('colors.red.paprika');
    /* States */
    --color-focus-state: theme('colors.red.paprika');
    /* Content-Nav */
    --color-content-nav: theme('colors.red.paprika');
    /* Podcast-Player */
    --color-podcast: theme('colors.red.paprika');
    --color-podcast-text: var(--color-link);
    --color-podcast-highlight: theme('colors.orange.goldDrop');
    /* Font */
    --font-title: theme('fontFamily.heading');
    --font-weight-title: theme('fontWeight.bold');
}

[data-theme='hr3'] {
    --color-primary: theme('colors.red.monza');
    --color-secondary: #007179;
    --color-highlight-1: theme('colors.grey.alto');
    --color-highlight-2: theme('colors.orange.spicyCarrot');

    /* Medieninhalte, Video, Audio, Bildergalerie */
    --color-label-media: theme('colors.blue.science');
    /* Ticker, Live, Livestream */
    --color-label-live: theme('colors.orange.spicyCarrot');
    /* Kommentar */
    --color-label-comment: theme('colors.blue.deeperPool');
    /* Eilmeldung */
    --color-label-breakingnews: theme('colors.red.thunderbird');
    /* Sendung */
    --color-label-program: theme('colors.blue.pacificBlue');
    /* Download */
    --color-label-download: theme('colors.grey.scorpion');
    /* Event */
    --color-label-event: theme('colors.black.DEFAULT');
    /* Kurzmeldung */
    --color-label-kurzmeldung: theme('colors.blue.tarawera');
    /* Eventkalender */
    --color-eventcalendar-primary: var(--color-primary);
    /* Dachzeile */
    --color-topline: var(--color-primary);
    /* Subline */
    --color-subline: var(--color-topline);
    /* Link */
    --color-link: var(--color-primary);
    /* Stage */
    --color-stage-text-box: theme('colors.white.DEFAULT');
    --color-stage-primary: var(--color-primary);
    --color-stage-text: var(--color-primary);
    --color-stage-link: var(--color-link);
    /* Cluster-Teaser */
    --color-cluster-teaser-link: var(--color-primary);
    --color-cluster-teaser-headline: theme('colors.black.DEFAULT');
    /* Button */
    --color-button: theme('colors.red.scarlett');
    --color-button-inverted: theme('colors.white.DEFAULT');
    --color-button-hollow: theme('colors.red.scarlett');
    /* States */
    --color-focus-state: var(--color-primary);
    /* Content-Nav */
    --color-content-nav: theme('colors.red.scarlett');
    /* Podcast-Player */
    --color-podcast: var(--color-primary);
    --color-podcast-text: var(--color-link);
    --color-podcast-highlight: theme('colors.green.pineGreen');
    /* Font */
    --font-title: theme('fontFamily.heading');
    --font-weight-title: theme('fontWeight.bold');
}

[data-theme='hr4'] {
    --color-primary: theme('colors.green.genoa');
    --color-secondary: #007179;
    --color-highlight-1: theme('colors.white.azureish');
    --color-highlight-2: theme('colors.orange.spicyCarrot');

    /* Medieninhalte, Video, Audio, Bildergalerie */
    --color-label-media: theme('colors.blue.science');
    /* Ticker, Live, Livestream */
    --color-label-live: theme('colors.orange.spicyCarrot');
    /* Kommentar */
    --color-label-comment: theme('colors.blue.deeperPool');
    /* Eilmeldung */
    --color-label-breakingnews: theme('colors.red.thunderbird');
    /* Sendung */
    --color-label-program: theme('colors.blue.pacificBlue');
    /* Download */
    --color-label-download: theme('colors.grey.scorpion');
    /* Event */
    --color-label-event: theme('colors.black.DEFAULT');
    /* Kurzmeldung */
    --color-label-kurzmeldung: theme('colors.blue.tarawera');
    /* Eventkalender */
    --color-eventcalendar-primary: var(--color-primary);
    /* Dachzeile */
    --color-topline: theme('colors.green.eden');
    /* Subline */
    --color-subline: var(--color-topline);
    /* Link */
    --color-link: theme('colors.green.eden');
    /* Stage */
    --color-stage-text-box: theme('colors.white.DEFAULT');
    --color-stage-primary: theme('colors.green.genoa');
    --color-stage-text: theme('colors.black.DEFAULT');
    --color-stage-link: theme('colors.black.DEFAULT');
    /* Cluster-Teaser */
    --color-cluster-teaser-link: var(--color-link);
    --color-cluster-teaser-headline: theme('colors.black.DEFAULT');
    /* Button */
    --color-button: theme('colors.green.casal');
    --color-button-inverted: theme('colors.white.DEFAULT');
    --color-button-hollow: theme('colors.green.casal');
    /* States */
    --color-focus-state: var(--color-link);
    /* Content-Nav */
    --color-content-nav: var(--color-primary);
    /* Podcast-Player */
    --color-podcast: theme('colors.green.eden');
    --color-podcast-text: var(--color-link);
    --color-podcast-highlight: theme('colors.pink.fuchsie');
    /* Font */
    --font-title: theme('fontFamily.heading');
    --font-weight-title: theme('fontWeight.bold');
}

[data-theme='you-fm'] {
    --color-primary: #c20016;
    --color-secondary: #007179;
    --color-highlight-1: theme('colors.grey.platinum');
    --color-highlight-2: theme('colors.orange.spicyCarrot');

    /* Medieninhalte, Video, Audio, Bildergalerien */
    --color-label-media: theme('colors.blue.science');
    /* Ticker, Live, Livestream */
    --color-label-live: theme('colors.orange.spicyCarrot');
    /* Kommentar */
    --color-label-comment: theme('colors.blue.deeperPool');
    /* Eilmeldung */
    --color-label-breakingnews: theme('colors.red.thunderbird');
    /* Sendung */
    --color-label-program: theme('colors.blue.pacificBlue');
    /* Download */
    --color-label-download: theme('colors.grey.scorpion');
    /* Event */
    --color-label-event: theme('colors.black.DEFAULT');
    /* Kurzmeldung */
    --color-label-kurzmeldung: theme('colors.blue.tarawera');
    /* Eventkalender */
    --color-eventcalendar-primary: var(--color-link);
    /* Dachzeile */
    --color-topline: var(--color-link);
    /* Subline */
    --color-subline: var(--color-topline);
    /* Link */
    --color-link: theme('colors.blue.sea');
    /* Stage */
    --color-stage-text-box: theme('colors.white.DEFAULT');
    --color-stage-primary: theme('colors.yellow.goldenSand');
    --color-stage-text: theme('colors.black.DEFAULT');
    --color-stage-link: theme('colors.black.DEFAULT');
    /* Cluster-Teaser */
    --color-cluster-teaser-link: var(--color-link);
    --color-cluster-teaser-headline: theme('colors.black.DEFAULT');
    /* Button */
    --color-button: var(--color-link);
    --color-button-inverted: theme('colors.white.DEFAULT');
    --color-button-hollow: var(--color-link);
    /* States */
    --color-focus-state: var(--color-link);
    /* Content-Nav */
    --color-content-nav: var(--color-link);
    /* Podcast-Player */
    --color-podcast: theme('colors.blue.lightCerulean');
    --color-podcast-text: var(--color-link);
    --color-podcast-highlight: theme('colors.orange.goldDrop');
    /* Font */
    --font-title: theme('fontFamily.heading');
    --font-weight-title: theme('fontWeight.bold');
}

/*! purgecss end ignore */

.sbdocs-content {
    max-width: 1140px !important;
}

.hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}
.hide-scroll-bar::-webkit-scrollbar {
    display: none;
}

.arrow-left-background {
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(255, 255, 255) 50%);
    transition: transform 150ms ease-in-out 0s;
}
.arrow-right-background {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255) 50%);
    transition: transform 150ms ease-in-out 0s;
}
.c-videoplayer .ardplayer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.overflow-anywhere {
    overflow-wrap: anywhere;
}
