{{~#if (isStorybook)~}}
    <div class="mt-6 italic text-gray-dark">coming soon: Audioevent-Livestream-component</div>
{{~else~}}
    {{#if this.showFullSize.isTrue }}
        {{> modules/media/media_figure _addClass="copytext__clearBox dontPrint" _a11yIntro-loca="story_audio_intro_sr" _a11yOutro-loca="story_audio_outro_sr" }}
    {{else}}
        {{> modules/media/media_figure _addClass="copytext__box dontPrint" _a11yIntro-loca="story_audio_intro_sr" _a11yOutro-loca="story_audio_outro_sr" }}
    {{/if}}
{{~/if~}}