<h2 class="clear-both mt-12 text-2xl sm480:text-3xl font-headingSerif sm480:mt-14 dark:text-text-dark">{{{this.text}}}</h2>
{{#with this.paragraphProperties.[0]}}
    {{#with this.faqAnswer}}
        {{#each this.split}}
            {{> components/content/copytext/components/paragraph/paragraph_body }}
        {{/each}}
    {{/with}}
{{/with}}