{{#>components/content/copytext/components/common/paragraphbox_wrapper}}
    
    <span class="sr-only">{{loca "story_download_intro_sr" }}</span>
 
    {{#with this.label}}
        {{#> components/label/label_group}}
            {{> components/label/label _type=this.type _text=(loca this.loca)}}
            {{> components/label/label_byline _css="ml-2"}}
        {{/components/label/label_group}}
    {{/with~}}

    {{#with this.toModel.mediaBacklinkToStoryTeaser}}
        {{#>components/base/link _link=this.link _css="hover:underline hover:!decoration-1 text-link dark:text-link-dark"}}
            <h3 class="mt-2.5 text-lg sm480:text-xl font-headingSerif dark:text-text-dark">{{this.title}}</h3>
            {{~#if this.isForeignBrand}}
                <span>[{{this.readMore}}]</span>
            {{/if}}
        {{/components/base/link}}
        {{#*inline "htmlProperties"}}                
            {{> components/tracking/download_tracking}}
        {{/inline}}                          
    {{/with}} 
    {{~#with this.teaseritem }}       
        {{> components/content/copytext/components/image/figure 
            _cssClass="mt-5 mb-0"
            _cssClassCaption=""
            _type="story"
            _variant="copytext"
            _pictureAddClass="ar-16-9"
            _isWebview=../../_isWebview
            _filedownloadLink=../this.link
            _trackingData=../this.toModel.mediaBacklinkToStoryTeaser}}
    {{/with}}

    <span class="sr-only">{{loca "story_download_outro_sr" }}</span>
    
{{/components/content/copytext/components/common/paragraphbox_wrapper}}