{{~#if (isStorybook)~}}
    <div class="mt-6 italic text-gray-dark">coming soon: File-download-component</div>
{{~else~}}
    {{> modules/media/media_figure _addClass="copytext__box" _a11yIntro-loca="story_download_intro_sr" _a11yOutro-loca="story_download_outro_sr" }}
{{~/if~}}     