<div class="print:hidden {{#if this.showFullSize.isTrue }}clear-both [&+h2]:mt-4 [&+.hrds-copytext-teaser-half]:mt-4 mt-12 mb-8 [&:not(:has(+h2),:has(+p),:has(+div),:has(+figure))]:mb-0 sm:[&+.hrds-copytext-teaser-half]:mt-0 sm:mt-14 sm:mb-14{{else}}hrds-copytext-teaser-half sm:w-1/2 clear-both sm:float-left sm:mr-5 mt-12 mb-8 sm:mt-6 sm:mb-5{{/if}}">
    {{> components/teaser/podcast/podcast _headlineTag="h3" _isCopytext=true }} 
</div>
