<div class="print:hidden {{#if this.showFullSize.isTrue }}clear-both mt-6 mb-2 [&:has(+h2)]:mb-0 [&+.hrds-copytext-teaser-half]:mt-4 sm:[&+.hrds-copytext-teaser-half]:mt-0 sm:my-8{{else}}hrds-copytext-teaser-half sm:w-1/2 clear-both sm:float-left sm:mr-5 mt-6 mb-2 sm:mt-7 sm:mb-5{{/if}}">
    {{> components/teaser/podcast/podcast _headlineTag="h3" _isCopytext=true }} 
</div>
