<div class="print:hidden article-narrow w-auto [&+h2]:mt-4 xs:article-full-width{{#if _isTickerCopytext}} xs:mx-10{{else}} xs:mx-13{{/if}} {{#if this.showFullSize.isTrue }}hrds-copytext-teaser-full clear-both mb-8 mt-12 sm:my-14 sm:mx-26 {{else}}hrds-copytext-teaser-half sm:w-1/2 clear-both sm:float-left mt-12 mb-8 sm:mt-6 sm:mb-5 sm:mr-5 sm:ml-0{{/if}}">
    {{> components/teaser/teaser_poster _isCopytext=true }} 
</div>    
