<div class="print:hidden article-narrow w-auto xs:article-full-width{{#if _isTickerCopytext}} xs:mx-10{{else}} xs:mx-13{{/if}} {{#if this.showFullSize.isTrue }}hrds-copytext-teaser-full clear-both mb-2 mt-6 [&:has(+h2)]:mb-0 sm:my-8 sm:mx-26 {{else}}hrds-copytext-teaser-half sm:w-1/2 clear-both sm:float-left mt-6 mb-2 sm:mt-6 sm:mb-5 sm:mr-5 sm:ml-0{{/if}}">
    {{> components/teaser/teaser_poster _isCopytext=true }} 
</div>    
