<div class="w-5/6 sm480:w-2/3 mx-auto {{#if this.showFullSize.isTrue }}clear-both pb-0 sm:pb-6 mt-7 sm:mt-12 {{else}}sm:w-1/2 clear-both sm:float-left my-7 sm:mr-5{{/if}}">
    {{> components/teaser/teaser_poster _isCopytext=true }} 
</div>    
