 {{#>components/base/link _link=this.link _css="relative inline text-link z-20 ds-focus"~}}
    <span class="hover:underline decoration-1 font-copy">Datenschutzbestimmungen
    {{~> components/base/image/icon _icon="extern" _iconmap="icons" _addClass="inline -mt-0.5 w-5 h-5 fill-current ml-1"~}}
    </span>
{{~/components/base/link}}.
{{#*inline "htmlProperties"~}}
{{~/inline}}

