<div class="hrds-copytext mt-2 contents sm:block copytextWrapper">
    {{~#with this.leadAudio }}
        {{> components/content/copytext/components/media/media_figure _playerLocation="Copytext" _playerSize="100" _addClass="print:hidden article-full-width mt-12 mb-6 sm:article-narrow sm:my-14" _cssClassCaption="mx-5 sm:mx-0" _a11yIntro-loca="story_audio_intro_sr" _a11yOutro-loca="story_audio_outro_sr" }}
    {{~/with}}    
    {{#each this.copytextParagraph }}
        {{~> components/content/copytext/copytext_body _isWebview=../_isWebview ~}}
    {{/each}}
</div>
{{! Globaler Einstellungsbutton; nur für Copytext/Externe Dienste Story; 
damit der Einstellungsdialog aufgerufen werden kann }}
{{~#if (isStorybook)~}}
    {{#with @root.dataPolicy}}
        <div class="p-4 bg-footer-bg mt-14">
            {{~> components/dataPolicySettings/data_policy_settings ~}}
        </div>
    {{/with}}
{{~/if~}}