<div class="absolute w-full h-full" x-ref="scroll_depth_container" ax-load x-data="measureScrollDepth()" x-ignore>
    <div data-scroll-depth="0%" x-ref="scroll_depth_0" class="w-full h-1/4"></div>
    <div data-scroll-depth="25%" x-ref="scroll_depth_25" class="w-full h-1/4"></div>
    <div data-scroll-depth="50%" x-ref="scroll_depth_50" class="w-full h-1/4"></div>
    <div data-scroll-depth="75%" x-ref="scroll_depth_75" class="w-full h-1/4"></div>
    <div data-scroll-depth="100%" x-ref="scroll_depth_100" class="w-full h-px"></div>
</div>