<div x-show="avStart" x-cloak id="{{this.ardPlayerConfig.playerId}}" class="ar-16-9 h-full{{#if _isTeaser}} z-20{{/if}} js-load {{if _cypressHook _cypressHook 'js-media-element'}} js-video-livestream" data-hr-mediaplayer-loader='{{json this.ardPlayerJsonConfig}}'>
</div>
{{#if _isTeaser}}
    <div class="relative {{_aspectRatio}}" x-show="!avStart" >
        {{#unless _hideGeotag}}
            {{~#with _geotag}}
                {{> components/geoTag/geoTag _text=this.[0].title _teaserSize=../_teaserSize _isMobile1to1=../_isMobile1to1}}
            {{/with~}}
        {{/unless}}
        {{#with _teaser}}
            {{~> components/base/image/responsive_image this.teaserImage _type=(if this.teaserType this.teaserType 'story') _variant=(if this.content.imageVariant this.content.imageVariant '100-copytext') _addClassImg="ar__content" _noDelay=this.dontLazyload ~}}                             
        {{/with}}
        {{> components/button/button_round 
        _isButton="true" 
        _addClass='absolute bottom-0 right-0 fill-white hover:text-white ds-focus rounded-full js-mediaplayer__button'
        _buttonColor=(if _isLivestream ' text-orange-spicyCarrot hover:fill-orange-spicyCarrot' ' text-media-button hover:fill-media-button')
        _teaserType=_teaserType
        _teaserSize=_teaserSize
        _isMobile1to1=_isMobile1to1
        _showIcon=true
        _icon=_mediaButtonIcon 
        _label=_mediaButtonLabel 
        _srOnly="true" 
        _alpineClick="avStart = !avStart; $dispatch('player_start')"
        }}    
    </div>
{{/if}}