<div x-data="stickyPlayer" ax-load x-ignore class="relative ar-16-9" x-intersect:leave.threshold.45="inViewport = false" x-intersect:enter.threshold.45="inViewport = true; videoWasStopedWhenSticky = false">
    <div x-ref="videoElementWrapper"
        class="transition-all lg:transition-none right-4" 
        :class="{   'ar-16-9 w-1/2 max-w-70 sm:w-70 fixed z-300 animate-fade-right animate-once animate-duration-1000': shouldVideoBeFixed(),
                    'animate-fade animate-duration-1000 animate-ease-in-out': !shouldVideoBeFixed(),
                    'top-14 md:top-16': $store.navIsVisible,
                    'lg:top-31': $store.navIsVisible && !$store.subNavIsVisible,
                    'lg:top-40': $store.navIsVisible && $store.subNavIsVisible,
                    'top-14 lg:top-20': !$store.navIsVisible}">                   
        {{> @partial-block }} 
        <button @click="closeVideo()" class="absolute top-0 right-0 flex items-center justify-center w-12 h-12 z-300 hover:scale-105"
                :class="{'hidden': !shouldVideoBeFixed(),
                        'flex': shouldVideoBeFixed()}">
            <div class="flex items-center justify-center w-8 h-8 {{> components/button/utilities/button_base_classes}} {{> components/button/utilities/button_variation_classes _variant="primary"}}">
                 {{> components/button/components/button_icon _icon="close" _iconmap="icons" _css="" }}
            </div>
        </button>	
    </div>
</div>