<div x-show="avStart" x-cloak id="{{this.ardPlayerConfig.playerId}}" class="ar-16-9 h-full{{#if _isTeaser}} z-20{{/if}} js-load {{if _cypressHook _cypressHook 'js-media-element'}} js-video-livestream" data-hr-mediaplayer-loader='{{json this.ardPlayerJsonConfig}}'>
</div>
{{#if _isTeaser}}
    <div class="relative {{_aspectRatio}}" x-show="!avStart" >
        {{#unless _hideGeotag}}
            {{~#with _geotag}}
                {{> components/geoTag/geoTag _text=this.[0].title _teaserSize=../_teaserSize _isMobile1to1=../_isMobile1to1}}
            {{/with~}}
        {{/unless}}
        {{#with _teaser}}
            {{~> components/base/image/responsive_image this.teaserImage _type=(if this.teaserType this.teaserType 'story') _variant=(if this.content.imageVariant this.content.imageVariant '100-copytext') _addClassImg="ar__content" _noDelay=this.dontLazyload ~}}                             
        {{/with}}

        {{#> components/button/button_v2 _variant="transparent" _shape="circle" _type="button" _alpineClick="avStart = !avStart; $dispatch('player_start')"}}
            {{#*inline "css"}}js-mediaplayer__button {{> components/button/utilities/button_on_image_classes _teaserSize=_teaserSize _teaserType=_teaserType _isMobile1to1=_isMobile1to1}}{{/inline}}
            {{> components/base/image/icon _icon=_mediaButtonIcon  _addClass=(appendToDefault (if _isLivestream "text-orange-spicyCarrot group-hover:fill-orange-spicyCarrot" "text-media-button group-hover:fill-media-button") "w-10 h-10  fill-white group-hover:text-white inline")}}
            {{>components/button/components/button_label _css="sr-only" _label=_mediaButtonLabel}}
        {{/components/button/button_v2}}   
    </div>
{{/if}}