<section {{#unless @first}}x-cloak {{/unless}}
    x-show="tab === '{{this.groupTitle}}'"
    class="pb-10"
>
    <div class="grid items-start content-start grid-cols-12 px-0 sm:px-9.5 colspan-12 gap-x-6 gap-y-6">
        {{~> components/teaser/teaser_logic/teaser_logic ~}}
    </div>
    {{~#if this.link~}}
        <div class="flex justify-center min-w-0 pt-8 mx-5">
            {{~#> components/button/link_button _link=this.link _variant="secondary" _size="lg" _css="overflow-hidden"}}
                {{>components/button/components/button_label _label=(loca "group_tabbed_more" this.title) _css="flex-1 truncate mr-2"}}
                {{> components/button/components/button_icon _icon="arrow-right" _iconmap="icons" _css=""}}
            {{/components/button/link_button}}
        </div>
    {{~/if~}}
</section>