<div class="flex flex-wrap">
    <nav class="block" role="navigation" aria-label="{{loca "geotag_related_content_headline"}}">
        <span class="text-sm uppercase font-headingSerif w-fit sm:w-full">{{loca "geotag_related_content_headline"}}</span><!--
        -->
        <ul class="flex flex-wrap gap-x-4 w-fit sm:w-full sm:pt-2 ">
            {{~#each this~}}
                <li class="w-fit sm480:w-full text-primary">
                    <a class="block hover:underline gap-x-1" href="{{this.url}}">
                        {{~> components/base/image/icon _icon="ortsmarke" _addClass="inline w-5 h-5 fill-current"~}}

                        {{~this.title~}}

                    </a>
                </li>
            {{~/each~}}
        </ul>
    </nav>
</div>