<span
    class='w-3/5 max-w-min truncate z-10 pointer-events-none absolute bottom-0 left-0{{#if _isMobile1to1}} hidden md:inline-block {{else}} inline-block{{/if}}{{~inline-switch _teasersize '["33"]' '[" mx-5 my-5 md:mx-4 md:my-4"," mx-5 my-5"]'}} rounded px-1.5 pt-px tracking-wide text-black text-base leading-5.5 font-heading bg-geoTag'
    aria-hidden="true"
>
    {{~_text~}}
</span>