<footer class="w-full flex text-base text-white justify-center pb-4 bg-blue-science border-t border-[#accfe9] js-pageFooter" role="contentinfo" itemscope="itemscope" itemtype="http://schema.org/WPFooter" >
    <div class="flex">
        <span class="hidden">Footer Navigation</span>
                
        <div class="flex flex-wrap p-0 m-0 list-none justify-content-start">
            {{~> components/footer/page_footer_content ~}}
        </div>
    </div>
    
</footer>