<div class="flex w-full md:w-1/2 md:w-max-1/2 md:first:pr-4 --first ">
    {{~> components/footer/page_footer_column _columns=this.groups.[0].columns _columnSize=this.groups.[0].columnSize _title=this.groups.[0].title ~}} 
</div>

<div class="flex w-full md:w-1/4 md:w-max-1/4 -second ">
    {{~> components/footer/page_footer_column _columns=this.groups.[1].columns _hasCookieSettings=true _title=this.groups.[1].title ~}} 
</div> 

<div class="flex flex-col w-full pt-4 md:w-1/4 md:w-max-1/4 md:pt-0 md:pr-4 lg:pr-0 -third">

    <div class="pb-4 md:pt-[38px] md:mt-[38px] p-0 m-0 md:border-t border-footer-heading">
        {{> components/footer/page_footer_search }}
    </div>
     
    {{> components/footer/page_footer_social_media _columns=this.socialMedia.columns _title=this.socialMedia.title}}
    
    {{> components/dataPolicySettings/data_policy_settings }} 
    
</div>

