<footer class="c-page-footer js-pageFooter" role="contentinfo" itemscope="itemscope" itemtype="http://schema.org/WPFooter" style="background-color:#606060">
<div class="o-wrapper">
<span class="hide">Footer Navigation</span>
        
<div class="c-page-footer__row dontPrint">
{{~> components/footer/page_footer_content ~}}
</div>
    
</footer>