<nav class="block pb-0 mx-auto md:mx-0" aria-labelledby="c-footer_social_media_title" >
    <span id="c-footer_social_media_title" class="hidden">{{_title}}</span>
    {{#each _columns}}
        <ul class="flex flex-row justify-end pb-2 pr-2 md:pr-0 md:last:pb-4">
            {{#each this.links}}
                {{#if this.extern}}
                    <li class="pr-2 last:pr-0">
                        {{#> components/base/link _link=this _css="text-white" _isTargetBlank=this.isTargetBlank}}
                            {{> components/base/image/icon _icon=this.text _iconmap="icons" _addClass="w-8 h-8 fill-current"}}
                        {{/components/base/link}}
                        {{#*inline "htmlProperties"}}
                            title="{{this.title}}"
                        {{/inline}}
            
                    </li>
                {{else}}
                    <li class="pr-2 last:pr-0">
                        {{#> components/base/link _link=this _css="text-white" _isTargetBlank=this.isTargetBlank}}
                            {{> components/base/image/icon _icon=this.text _iconmap="icons" _addClass="w-8 h-8 fill-current"}}
                        {{/components/base/link}}
                        {{#*inline "htmlProperties"}}
                            title="{{this.title}}"
                        {{/inline}}
                    </li>
                {{/if}}
            {{/each}}
        </ul>
    {{/each}}
</nav>