<nav class="relative w-full pb-2">
   <label class="flex mt-4 mb-8 text-base text-white border-b border-white o-dropdown__button" for="o-dropdown__no-js-toggle--3572" title="hessenschau" onclick="">        
        <span class="o-dropdown__button-text c-page-footer-nav__button-text">
            {{_title}}
        </span>
        <span class="o-dropdown__button-icon c-page-footer-nav__button-icon -open">
         {{!-- Icon here --}}
        </span>
        <span class="o-dropdown__button-icon c-page-footer-nav__button-icon -close">
         {{!-- Icon here --}}
        </span>
    </label>

<div class="flex flex-row w-full flex-nowrap">
   {{#each _columns}}
   <ul class="flex flex-col w-1/{{../_columnSize}}">
      {{#each this.links}}
            {{#if this.extern}}
               <li class="">
                  {{> components/footer/page_footer_nav_link  _css="hover:underline" _iconName="extern" }}
               </li>
            {{else}}
               {{#if this.paragraphed}}
                  <li class="">
                     {{> components/footer/page_footer_nav_link _site=this.site _css="flex mt-6 hover:underline" }}
                  </li>
                {{else}}
                  <li x-data="dropdown"
                        @click.outside="dropped = false" 
                        @close-servicemenu.window="dropped = false" 
                        :class="dropped ? 'border-b-0 h-auto' : 'lg:hover:underline'" 
                        class="">
                     {{> components/footer/page_footer_nav_link _link=this.url _site=this.site _css="hover:underline" }}
                  </li>
               {{/if}}
            {{/if}}
      {{/each}}
   </ul>
   {{/each}}
</div>
</nav>
<!-- TODO Nav needs to be set up for mobile, according to navi in header- -->