{{#> components/base/link _link=_link _css=_css}}
    {{_link.text}}
        {{~#if _link.hiddenText~}}
            <span class="sr-only">
                {{~_link.hiddenText~}}
            </span>
        {{~/if~}}
        {{~#if _link.isTargetBlank}}
            <span class="inline-flex">
                {{> components/base/image/icon _icon=_iconName _iconmap="icons" _addClass="w-4 h-3 fill-current"}}
            </span>
        {{/if~}}
{{/components/base/link}}
{{#*inline "htmlProperties"}}
    {{#if _link.labelText}} aria-label="{{_link.labelText}}"{{/if}}
{{/inline}}