<nav class="" aria-labelledby="c-footer_social_media_title" >
    <span id="c-footer_social_media_title" class="">{{{_title}}}</span>
    {{#each _columns}}
        <ul class="">
            {{#each this.items}}
                {{#if this.extern}}
                <li class="">
                    {{#> components/base/link _link=this.link _css=_css _isTargetBlank=this.link.isTargetBlank}}
                        {{> components/base/image/icon _icon=this.link.text _iconmap="icons" _addClass="w-8 h-8 fill-current"}}
                    {{/components/base/link}}
                    {{#*inline "htmlProperties"}}
                        title="{{this.title}}"
                    {{/inline}}
        
                </li>
                {{else}}
                <li class="">
                    {{#> components/base/link _link=this.link _css=_css _isTargetBlank=this.link.isTargetBlank}}
                        {{> components/base/image/icon _icon=this.link.text _iconmap="icons" _addClass="w-8 h-8 fill-current"}}
                    {{/components/base/link}}
                    {{#*inline "htmlProperties"}}
                        title="{{this.title}}"
                    {{/inline}}
                </li>
                 {{/if}}
            {{/each}}
        </ul>
    {{/each}}
</nav>