<div class="c-page-footer-logo">
    <a href="{{resourceUrl "index.html"}}" title="{{loca "header_homepage_link_title"}}">
        {{#if (configProperty "iconConfig.brandlogo.footer")}}
            <!-- BASE IMAGE ICON BRANDLOGO -->
        {{else}}
            <!-- BASE IMAGE ICON BRANDLOGO DESKTOP -->
        {{/if}}
    </a>
</div>