<footer class="w-full flex text-base text-white print:hidden justify-center pb-4 bg-footer-bg border-t border-[#accfe9] js-pageFooter" role="contentinfo" itemscope="itemscope" itemtype="http://schema.org/WPFooter" >
    <div class="container flex lg:px-10">
        <span class="hidden">Footer Navigation</span>
                
        <div class="flex flex-wrap justify-start list-none">
            {{~> components/footer/page_footer_content ~}}

            <div class="flex flex-col w-full pt-8 text-left md:items-end md:justify-between md:pl-4 md:pt-16 md:flex-row lg:pl-0">

                {{> components/footer/page_footer_metadata 
                    _hrDeLink=this.footerMetadata.hrDeLink
                    _ardDeLink=this.footerMetadata.ardDeLink
                    _dataProtectionLink=this.footerMetadata.dataProtectionLink
                    _imprintLink=this.footerMetadata.imprintLink
                    _iconName="extern"
                }}
                
                <div class="flex justify-center w-auto px-4 lg:pr-0 md:h-12">
                    {{> components/footer/page_footer_logo }}
                </div>
                
            </div>
        </div>
    </div>
</footer>