<div class="flex inline-flex justify-end w-1/3 w-max-1/3">
    <a href="{{resourceUrl "index.html"}}" title="{{loca "header_homepage_link_title"}}">
        {{#if (configProperty "iconConfig.brandlogo.footer")}}
            {{> components/base/image/icon _icon="brandlogo--mobile" _iconmap="logo" _addClass="logo-desk flex items-end lg:-mr-6 lg:-mt-4 fill-white w-40 h-5 md:h-7 md:w-40 lg:h-8 lg:w-52"}}
        {{else}}
           {{> components/base/image/icon _icon="brandlogo--desk" _iconmap="logo" _addClass="logo-desk flex items-end lg:-mr-6 lg:-mt-4 fill-white w-40 h-5 md:h-7 md:w-40 lg:h-8 lg:w-52"}}
        {{/if}}
    </a>
</div>