<div class="flex w-1/2 w-max-1/2 --first">
    {{~> components/footer/page_footer_nav _columns=this.groups.[0].columns _columnSize=this.groups.[0].columnSize _title=this.groups.[0].title ~}} 
</div>

<div class="flex w-1/4 w-max-1/4 -second">
    {{~> components/footer/page_footer_nav _columns=this.groups.[1].columns _hasCookieSettings=true _title=this.groups.[1].title ~}} 
</div>     
<div class="flex flex-col w-1/4 w-max-1/4 -third">
    <div class="pb-4 pt-[38px] mt-[38px] border-t border-white">
        {{> components/footer/page_footer_search }}
    </div>
    {{> components/footer/page_footer_social_media _columns=this.socialMedia.columns _title=this.socialMedia.title}}
    {{#> components/button/button _size="md" _css="text-grey-scorpion" _variant="secondary" _onBackground="true"}}
        {{> components/button/components/button_icon _icon="settings" _iconmap="icons"}}
        {{> components/button/components/button_label _label="Einstellungen"}}
    {{/components/button/button}}
</div>

<div class="flex flex-row w-full pt-16 text-left">
    {{> components/footer/page_footer_metadata 
        _hrDeLink=this.footerMetadata.hrDeLink
        _ardDeLink=this.footerMetadata.ardDeLink
        _dataProtectionLink=this.footerMetadata.dataProtectionLink
        _imprintLink=this.footerMetadata.imprintLink
    }}
    
    {{> components/footer/page_footer_logo}}
</div>