<div id="{{this.uuid}}" class="relative bg-highlight-1 dark:bg-highlight-1-dark sm:rounded-tl-hr sm:rounded-br-hr px-5 sm:px-13 pb-8 pt-6 sm:pt-12 mt-7 sm:mt-12 mb-5 article-full-width sm:article-narrow {{_addClass}}">
    {{~> components/base/a11y/hiddenText _locaTag="story_newsletter_intro_sr" ~}}
        {{> components/newsletter/components/new_newsletter_form}}
    {{~> components/base/a11y/hiddenText _locaTag="story_newsletter_outro_sr" ~}}
</div>