<figcaption>
    <span class="absolute w-full bg-white/60 dark:bg-black/60 bottom-0 left-0 text-text dark:text-text-dark px-5 py-1.5 text-xs font-headingSerif">
        {{~loca "figures_copyright"}} {{{this.copyrightWithLinks}}}
    </span>
</figcaption>
