<figcaption class="flex items-start mt-3 text-xs sm480:text-sm font-headingSerif {{_cssClassCaption}}">
    <div  class="dark:text-text-dark{{#unless _isGallery}} overflow-anywhere hyphens-auto line-clamp-2{{/unless}}">
        {{> @partial-block }}
    </div>
</figcaption>
