<div id="serviceNavMainContainer" 
    class="flex w-full h-10 md:h-12 lg:h-16 z-110 pl-5 pr-3 md:pr-0 lg:px-9.5 col-full sm:col-main">
    <span id="serviceNavHeadline" class="hidden print:hidden">Service Navigation</span>
    <div id="serviceLogoWrapper"  
        class="flex items-center order-1 w-full bg-navigation-bg md:h-12 lg:h-16 md:w-1/2 md:max-w-1/2 lg:w-1/4 lg:max-w-1/4">
        {{> components/site_header/service_logo _useSticky=_useSticky}}
    </div>
    <div id="serviceItemsWrapper"                
        class="flex items-center justify-end flex-initial order-2 inline-block w-full max-w-full align-top bg-navigation-bg md:h-12 lg:h-16 lg:order-2 lg:w-3/4 lg:max-w-3/4 md:mt-0 md:w-1/2 md:max-w-1/2 md:order-2 md:border-0">
        {{> components/site_header/service_navigation/service_list }}

        {{> components/site_header/navigation_search/navigation_search }}
    
        <div id="burgerWrapper" 
            class="flex justify-end flex-none order-2 lg:order-4 md:order-4 lg:hidden"> 
            {{> components/site_header/burger }}    
        </div>
    </div>
</div>