<div 
    id="serviceList"
    @click.outside="$store.serviceNavIsOpen = false; toggleScrolling(!$store.searchFieldOpen && !$store.burgeropen)"
    x-ref="serviceList"
    :class="shouldServiceIconsBeHidden() ? '-mt-40' : ''"
    class="absolute left-0 flex justify-center flex-initial w-full h-10 max-w-full align-top duration-500 ease-in-out border-b border-navigation-border-color sb-service-list transition-margin-top -z-40 md:z-40 md:h-12 top-[41px] bg-navigation-bg md:border-0 md:top-auto md:w-auto md:left-auto md:static md:justify-end md:flex md:flex-auto lg:h-16 lg:pl-0 lg:pr-4 lg:w-3/4 "
>
    {{#with this.serviceNavigationSSILinks}}
        <ul class="flex justify-around w-full h-full -itemCount-{{ count }} lg:w-auto lg:justify-end lg:pt-1">
            {{#each this}}        
                {{> components/base/loadSSI _templatePath='components/site_header/service_navigation/service_navigation_item' }}               
            {{/each}} 
        </ul>
    {{/with}}
</div>