## name of our action
name: Release

# the event that will trigger the action
on:
    push:
        branches: [main]

# what the action will do
jobs:
    release:
        # the operating system it will run on
        runs-on: ubuntu-latest
        # this check needs to be in place to prevent a publish loop with auto and github actions
        if: "!contains(github.event.head_commit.message, 'ci skip') && !contains(github.event.head_commit.message, 'skip ci')"
        # the list of steps that the action will go through
        steps:
            - uses: actions/checkout@v2
            - uses: bahmutov/npm-install@v1.6.0
            - name: Create Release
              env:
                  GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
              run: |
                  npm run build
                  npm run release
